<app-header-top></app-header-top>

<div class="wrapper">
  <div class="top">Редактирование резюме</div>

<form [formGroup]="editCVForm">
  <div class="cv-box">
    <label for="inputCity" class="location">Город</label>
    <select id="inputCity" formControlName="inputCity" class="inputCity" title="Город">
      <option  *ngFor="let lc of listCity" [value]="lc.name">
        {{lc.name}}
      </option>
    </select>

  <label class="salary">Заработная плата</label>
  <input type="text" class="inputSalaryFrom" formControlName="inputSalaryFrom" id="inputSalaryFrom" placeholder="от">


    <label class="label-position">Желаемая должность</label>
    <input type="text" class="position" formControlName="position" id="position" placeholder="Желаемая должность">

    <!-- Отрасль-->
    <app-cv_industry></app-cv_industry>
    <!-- Занятость
     <app-cv-employment></app-cv-employment> -->
    <!-- график работы
    <app-cv-schedule></app-cv-schedule>-->
    <!-- Опыт работы
    <app-cv-experience></app-cv-experience>-->
    <!-- Образование
    <app-cv-education></app-cv-education>-->

  <br>

    <ng-container #spot></ng-container>
    <button (click)="createNewBlock()">Предыдущее место работы</button>


    <button class="btn-save" (click)="savecv()">Сохранить резюме</button>
    <button class="btn-cancel" routerLink="/cv-list" routerLinkActive="active">Отмена</button>


</div>
</form>
  <app-footer></app-footer>
</div>





