
<app-header-top></app-header-top>

<div class="wrapper">
  <div class="top">{{'cv-edit.editcv' | translate}}</div>

  <form [formGroup]="editCVForm">
    <div class="cv-box">

      <label for="inputCity" class="location">{{'allValue.сity' | translate}}</label>
      <select id="inputCity" formControlName="inputCity" class="inputCity" [title]="'allValue.сity' | translate">
        <option  *ngFor="let lc of listCity" [value]="lc.name">
          {{lc.name}}
        </option>
      </select>

      <label class="salary">{{'allValue.salary' | translate}}</label>
      <input type="text" class="inputSalaryFrom" formControlName="inputSalaryFrom" id="inputSalaryFrom" [placeholder]="'cv-edit.from' | translate">

      <label class="label-position">{{'cv-edit.gd' | translate}}</label>
      <input type="text" class="position" formControlName="inputPosition" id="inputPosition" [placeholder]="'cv-edit.gd' | translate">


      <label class="labelSkillsAbilities">{{'cv-edit.ni' | translate}}</label>
      <textarea class="inputSkillsAbilities" [title]="'cv-edit.ni100' | translate" formControlName="inputSkillsAbilities" id="inputSkillsAbilities"
                [placeholder]="'cv-edit.ni100' | translate"></textarea>

      <textarea class="inputEducation" [title]="'cv-edit.univ100' | translate"
                formControlName="inputEducation" id="inputEducation" [placeholder]="'cv-edit.univ100' | translate"></textarea>

      <textarea class="inputExperience" aria-label="'allValue.experience1000' | translate"
                formControlName="inputExperience" id="inputExperience" [placeholder]="'allValue.experience1000' | translate"></textarea>


      <!--
      <p>{{promPer}}</p>
      <p appTextToHtml [sourceText]="promPer"></p>

      -->


      <!-- Отрасль-->
      <app-cv_industry></app-cv_industry>
      <!-- Занятость -->
      <app-cv-employment></app-cv-employment>
      <!-- график работы-->
      <app-cv-schedule></app-cv-schedule>
      <!-- Опыт работы-->
      <app-cv-experience></app-cv-experience>
      <!-- Образование-->
      <app-cv-education></app-cv-education>

      <ng-container #spot></ng-container>
      <button class="btn-add"  (click)="createNewBlock()">{{'cv-edit.addjobplace' | translate}}</button>

      <div class="line">
        <ng-container #spotLanguage></ng-container>
        <button class="btn-add"  (click)="createNewLanguageBlock()">{{'cv-edit.addlangknow' | translate}}</button>
      </div>


      <button class="btn-save" (click)="savecv()">{{'cv-edit.savecv' | translate}}</button>
      <button class="btn-cancel" routerLink="/cv-list" routerLinkActive="active">{{'allValue.Cancel' | translate}}</button>


    </div>
  </form>
  <app-footer></app-footer>
</div>





