.wrapper{
  position: relative;
  font-family: "ProximaNovaRg","sans-serif";
  font-size: 1em;
  width: 100%;
  height: 180px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}
.top{
  width: 1170px;
  height: 42px;
  margin: 0 auto;
  font-size: 2em;
  font-family: "Proxima Nova","sans-serif";
}
.cv-box{
  width: 1170px;
  margin: 0 auto;
  position: relative;
}
label{
  position: absolute;
  font-size: 1.1em;
  font-family: "Proxima Nova","sans-serif";
  color: #0262d2;
  text-align: left;
}
.location{
  margin-top: 13px;
  margin-left: 15px;
}
.inputCity{
  position: absolute;
  font-size: 1em;
  font-family: "Proxima Nova","sans-serif";
  text-align: center;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 275px;
  height: 43px;
  margin-top: 41px;
  margin-left: 15px;
}
.salary{
  margin-top: 13px;
  margin-left: 344px;
}
.inputSalaryFrom{
  position: absolute;
  font-size: 1em;
  font-family: "Proxima Nova","sans-serif";
  text-align: center;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 128px;
  height: 40px;
  margin-top: 41px;
  margin-left: 344px;
}
.label-position{
  margin-top: 103px;
  margin-left: 15px;
}
.position{
  position: relative;
  font-size: 1em;
  font-family: "Proxima Nova","sans-serif";
  text-align: center;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 457px;
  height: 40px;
  margin-top: 132px;
  margin-left: 15px;
}
.btn-add {
  border-radius: 3px;
  background-color: #3366ff;
  width: 255px;
  height: 50px;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  margin-left: 2px;
}
.btn-add:hover{
  background-color: #0066cc;
  font-weight:600;
}
.btn-add:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  font-weight: 600;
}
.btn-save{
  display: inline-block;
  position: absolute;
  background-color: #3366ff;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  line-height: 2.25;
  width: 228px;
  height: 48px;
  margin-top:50px;
  margin-left: 15px;
}
.btn-save:hover{
  background-color: #0066cc;
  font-weight: 600;
}
.btn-save:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;

}
.btn-cancel{
  font-family: "Proxima Nova","sans-serif";
  width:228px;
  height: 48px;
  color: rgb(68, 75, 84);
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  line-height: 2;
  text-align: center;
  margin-top: 50px;
  margin-left: 250px;
}
.btn-cancel:hover{
  background-color: rgb(240, 240, 240);
  font-weight: 600;
}
.btn-cancel:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
}
