.top{
  position: relative;
  margin-top: 21px;
  margin-left: 15px;
}
.box{
  width: 1170px;
  margin: 0 auto;
  position: relative;
}
span{
  font-size: 1em;
  color: rgb(0, 0, 0);
  text-align: left;
  padding-left: 0.2%;
}

.check-input{
  background-color: #F74933;
  width: 20px;
  height: 20px;

}

.check-input:hover{
  cursor: pointer;
}
