.wrapper{
  font-family: "ProximaNovaRg";
  font-size: 16px;
  width: 1170px;
  height: auto;
  margin: 0 auto;
  color: rgb(68, 75, 84);
  text-align: left;
  background-color: #fdfdfd;
  padding-bottom: 2%;
}
.top{
  width: 1170px;
  height: 42px;
  margin: 0 auto;
  font-size: 36px;
  font-family: "Proxima Nova";
}
.profile{
  width: 1170px;
  margin: 0 auto;
  position: relative;
}
