<div class="width100">
<div class="foot">

  <div class="logo" title="На главную">MUCV</div>
<div class="copyright"> © {{'footer.copiright' | translate }}</div>

  <div class="menu" title="Открыть меню">&#9776;</div>

    <ul>
      <li><a href="/about">{{'footer.aboutmy' | translate }}</a></li>
          <li><a href="#">{{'footer.cont' | translate }}</a></li>
          <li><a href="/rules">{{'footer.rules' | translate }}</a></li>
      <!--    <li><a href="#">{{'footer.polit' | translate }}</a></li>  -->
    </ul>


  <img class="img-back" src="/assets/img/arrow-back.png"  onclick="history.back();" [title]="'footer.previous' | translate"
                                                   [alt]="'footer.previous' | translate">

   </div>
</div>
