<div class="width100">
<div class="foot">

  <a routerLink="/" routerLinkActive="active"><div class="logo" title="На главную">MUCV</div></a>
<div class="copyright"> © {{'footer.copiright' | translate }}</div>

  <div class="menu" title="Открыть меню">&#9776;</div>

    <ul>
      <li><a routerLink="/about" routerLinkActive="active">{{'footer.aboutmy' | translate }}</a></li>
      <li><a routerLink="/contacts" routerLinkActive="active">{{'footer.cont' | translate }}</a></li>
      <li><a routerLink="/rules" routerLinkActive="active">{{'footer.rules' | translate }}</a></li>
    </ul>


  <img class="img-back" src="/assets/img/arrow-back.png"  onclick="history.back();" [title]="'footer.previous' | translate"
                                                   [alt]="'footer.previous' | translate">

   </div>
</div>
