#footer {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  padding: 1em 0;
  margin: 2em 0;
  border-top: 3px solid #ddd;
  background-color: lightblue;
  }
.leftside{
  float: left;
}
.rightside{
  float:right;
  padding-right: 30px;
}
li {
  color: #242424;
  font-weight:bold;
  display: inline; /* строчный элемент */
  margin: 1px;
  padding: 5px 20px;
}

