<section id="footer" class="footer">
  <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <ul class="leftside">
            <li><i class="fa fa-gg fa-flip-horizontal footer-logo"></i><span>CV</span></li>
            <li><span>© Copyright 2018 | All Rights Reserved.</span></li>
          </ul>
        </div>

        <div class="col-6">
          <ul class="rightside">
            <li href="#">О нас</li>
            <li href="#">Контакты</li>
            <li href="#">Правила использования</li>
            <li href="#">Политика приватности</li>
          </ul>
        </div>
      </div>
    </div>
</section>
