<div id="wrapper">

  <div class="box1">

  <div id="a1">
    <img src="/assets/img/user.png" alt="Welcome" title="Welcome">
    <span>a111</span>
  </div>
  <div id="a2"><span>a222</span></div>
  <div id="a3"><span>a333</span></div>
  <div id="a4"><span>a444</span></div>



  </div>

  <div class="box2">
    <div id="a5">
      <img src="/assets/img/user.png" alt="Welcome" title="Welcome">
      <span>a111</span>
    </div>
    <div id="a6"><span>a222</span></div>
    <div id="a7"><span>a333</span></div>
    <div id="a8"><span>a444</span></div>
  </div>
</div>
