.wrapper{
  width: 1170px;
  height: auto;
  margin: 0 auto;
  color: rgb(68, 75, 84);
}
.top{
  width: 100%;
  height: 36px;
  margin: 0 auto;
  font-size: 22px;
  text-align: left;
  padding-bottom: 15px;
}
.box-row{
  position: relative;
  width: 100%;
  height:900px;
}
.left-side{
  float: left;
  width:180px;
  min-height:380px;
}
.right-side{
  position: relative;
  display: inline-block;
  width: 986px;
  height: auto;
  min-height:380px;
  border-left: solid;
  border-color: #b8b8b8;
  border-width: 1px;
  margin-top: 2px;
}
.zero{
  position: absolute;
}

.logotypeEr{
  border-width: 1px;
  border-color: rgb(188, 188, 188);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(220, 220, 220);
  position: relative;
  width: 130px;
  height: 40px;
  margin-left: 22px;
  margin-top: 45px;
}

.logotype{
  border-width: 1px;
  border-color: rgb(188, 188, 188);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(220, 220, 220);
  position: relative;
  width: 103px;
  height: 103px;
  margin-left: 22px;
  margin-top: 45px;
}
.logotype:hover{
  cursor: pointer;
}
.logotype-company{
  position: absolute;
  border-width: 1px;
  border-color: rgb(188, 188, 188);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(220, 220, 220);
  width: 130px;
  height: 40px;
  margin-left: 10px;
  margin-top: 242px;
}
label{
  position: absolute;
  font-size: 15px;
  color: #0262d2;
  text-align: left;
}
.headline{
  background-color: #DFDFDF;
}
.bline{
  width: 100%;
  height: auto;
  border-color: #b7b7b7;
}
.date{
  width:100px;
  margin-left:800px;
}
.labelFrom{
  font-size: 14px;
}
.from{
  position: absolute;
  width:250px;
  margin-left:38px;
}
.move{
  font-size: 12px;
  margin-left:22px;
  margin-top: 160px;
  text-decoration: underline;
}
.move:hover{
  cursor: pointer;
}
.labelTo{
  margin-top: 196px;
  font-size: 14px;
}
.UserTo{
  position: absolute;
  margin-left:40px;
  margin-top:196px;
}
.topline{
  width:100%;
  height: 30px;
}
.dateTime{
  font-size: 13px;
  font-weight: 300;
  margin-left:850px;
}
.labelSubject{
  margin-left: 20px;
  width:600px;
}
.subject{
  position: absolute;
  margin-left: 60px;
  width:800px;
}
.labelText{
  margin-left: 20px;
  margin-top: 70px;
}
.textline{
  display: block;
  font-size: 14px;
  padding: 6px 20px;
  border-style: solid;
  border-color: #b8b8b8;
  border-width: 1px;
  border-radius: 5px;
  margin: 5px 20px 10px 20px;
  width: 92%;
  min-height: 6vh;
  max-height: 41vh;
  overflow: auto;
}
.answer{
  font-size: 13px;
  border-style: solid;
  border-color: #b8b8b8;
  border-width: 2px;
  border-radius: 5px;
  margin: 35px 0 0 18px;
  width: 945px;
  height: 120px;
}
.formResponse{
  position: absolute;
  width: 970px;
}
.test{
  height: auto;
  margin: 30px;
  overflow: auto;
  background-color: yellow;
}
.correspondence{
 min-height: 300px;
  max-height: 600px;
  overflow: auto;
  box-sizing: border-box;
}
.in, .out{
  float: left;
  margin-right: 12px;
}
.btn-send {
  border-radius: 3px;
  background-color: #3366ff;
  width: 155px;
  height: 48px;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  float: right;
  margin: 12px 18px 0 0;
}
.btn-send:hover{
  background-color: #0066cc;
  font-weight:600;
}
.btn-send:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  font-weight: 600;
}
