<div class="wrapper">


  <div class="a1">
    <img class="user-ico" src="/assets/img/user.png" alt="Welcome" title="Welcome">
    <div class="hello">Здравствуйте,&nbsp;</div>
    <div class="menu-header">{{ htUserName }}!</div>
    <img class="arrow-down" src="/assets/img/arrow-down.png" alt="Открыть меню пользователя" title="Mеню пользователя">
  </div>
  <div class="a2">
    <img class="alerts" src="/assets/img/envelope.png" alt="Новые сообщения" title="Новые сообщения">
    <img class="alerts" src="/assets/img/bell.png" alt="Новые события" title="Новые события"></div>


  <div class="a3"><span>a333</span></div>


<!--
  <div class="box2">
    <div class="a5">
      <img src="/assets/img/user.png" alt="Welcome" title="Welcome">
      <span>a111</span>
    </div>
    <div class="a6"><span>a222</span></div>
    <div class="a7"><span>a333</span></div>
    <div class="a8"><span>a444</span></div>
  </div> -->
</div>
