<app-header-top></app-header-top>
<div class="wrapper">
<!--  <div class="top">Сообщение</div>  -->

  <div class="box-row">
    <div class="left-side">
      <label class="labelFrom">От</label>
      <div class="from" *ngIf="_letter != undefined; else UF">
        {{_letter.UserFrom}}
      </div>
      <ng-template #UF></ng-template>
      <form class="zero" [formGroup]="form">
        <div *ngIf="base64textString.length>0;then contentLoadAvatar else contentDefault">условия выполнить невозможно</div>
        <ng-template #contentLoadAvatar>
          <img class="logotype" *ngFor="let item of base64textString"  src={{item}} alt="Посмотреть профиль" id="img" (click) = "onProfileClick($event)">
        </ng-template>

        <ng-template #contentDefault>
          <img src="/assets/img/usernull.png" class="img-thumbnail" onclick="">
        </ng-template>
      </form>
      <label class="move" (click)="moveCV()">Перейти к резюме</label>

      <label class="labelTo">Кому</label>
      <div  *ngIf="_letter != undefined; else UT">
        <div class="UserTo">{{_letter.UserTo}}</div>
      </div>
      <ng-template #UT></ng-template>
      <img class="logotype-company" alt="Логотип компании" src="/assets/img/iport-logo.png">
    </div>

      <div class="right-side">
        <div class="topline">
          <label class="labelSubject">Вакансия
            <span class="subject">{{responseVC}}</span>
          </label>
        </div>

<div class="correspondence">
      <!-- НАЧАЛО ЦИКЛА -->
  <div *ngFor="let lc of listLetter; let i = index">

     <span class="dateTime"  *ngIf="lc != undefined; else DTC">
          {{lc.letter.DateTimeCreate}}
        </span>
    <ng-template #DTC></ng-template>

    <div  *ngIf="lc != undefined;else LT">
      <div class="textline" *ngIf="lc.letter.id_user_from===this.id_user">
        <div class="leter"><img class="out" alt="Отправленное сообщение" src="/assets/img/left-arrow.png"> {{lc.letter.letterText}}</div>
      </div>
      <div class="textline" *ngIf="lc.letter.id_user_to===this.id_user">
        <div class="leter"> <img class="in" alt="Входящее сообщение" src="/assets/img/right-arrow.png"> {{lc.letter.letterText}}</div> </div>
    </div>
    <ng-template #LT></ng-template>

  </div>
  <!-- КОНЕЦ ЦИКЛА -->
</div>
      <form class="formResponse" [formGroup]="formResponse">
        <textarea formControlName="textCommentValue" class="answer" id="answer"
                  placeholder="Введите ответ" cols="100" rows="6"></textarea>
        <button class="btn-send" (click)="responseLetter()">Отправить</button>
      </form>
    </div>
  </div>

</div>

<app-footer></app-footer>
