.wrapper{
  position: relative;
  width: 1400px;
  height: 180px;
  margin: 10px auto;
  padding: 0 10px;
  font-family: "ProximaNovaRg";
}
ul{
   color: black;

   border-bottom: #6E83CD solid 1px;
}
li{
  font-size: 16px;
  vertical-align: top;
  text-align: center;
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  height: 30px;
}
ul:hover{
  background-color: #DFDFDF;
}
.date{
  width: 100px;
}
.from{
 overflow-x:auto;
 width: 100px;
}
.vacancy{
  overflow:hidden;
  overflow-scrolling: unset;
  width: 400px;
}
.open{
 width: 100px;
}
.del{
  width: 100px;
}
.spam{
  width: 100px;
}
