.leftSide {
  display: inline-block;
  width: 15%;
  height: 1500px;
  margin-top: 30px;
  vertical-align: top;
  border-right: solid 1px #b8b8b8;
}
.rightSide{
  display: inline-block;
  width: 84%;
  margin-top: 30px;
  vertical-align: top;
}
.line{
  display: block;
  width:100%;
  margin:1px 0;
}
.profile2{
  width: 100%;
  margin: 0 auto;
  position: relative;
}
input{
  font-size: 1em;
}
label{
  margin: 25px 1px 12px 0;
  color: #0262d2;
}
.personal {
  font-size: 18px;
  margin-left: 12px;
  margin-top: 16px;
}
.photo-upload2 {
  font-size: 13px;
  margin-left: 18px;
  margin-top: 177px;
}
.img-thumbnail {
  border-width: 1px;
  border-color: rgb(188, 188, 188);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(220, 220, 220);
  position: absolute;
  width: 130px;
  height: 40px;
  margin-left: 12px;
  margin-top: 65px;
}
.img-thumbnail:hover{
  cursor: pointer;
}
.fileName{
  position: absolute;
  width: 103px;
  height: 23px;
  margin-left: 12px;
  margin-top: 365px;
}
/*.btn-save{
  position: absolute;
  width: 103px;
  height: 23px;
  margin-left: 12px;
  margin-top: 1px;
}
*/
.logotype{
  position: absolute;
  margin-left: 12px;
  margin-top: 15px;
  width: 130px;
  height: 40px;
  cursor: pointer;
}
.upload-logo{
  position: absolute;
  margin-left: 12px;
  margin-top: 65px;
  font-size: 15px;
}
.upload-logo:hover{
  cursor: pointer;
  text-decoration: underline;
}
.clear{
  position: absolute;
  margin-left: 46px;
  margin-top: 95px;
  font-size: 15px;
}
.clear:hover{
  cursor: pointer;
  text-decoration: underline;
}
.img-lock{
  margin-left: 30px;
  margin-top: 60px;
}
.changePass{
  position: absolute;
  margin-left: 20px;
  margin-top: 60px;
  cursor: pointer;
  text-decoration: underline;
}
.user-name{
  position: absolute;
  display: inline-block;
  margin-left: 30px;
}
.inputUserName{
  position: absolute;
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 230px;
  height: 43px;
  margin-left: 30px;
  margin-top: 1px;
}
.inputUserName:hover{
  background-color: #b7b7b7;
}
.email{
  display: inline-block;
  margin-left: 300px;

}
.inputEmail{
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 230px;
  height: 43px;
  margin-left: 300px;
}
.name{
  position: relative;
  display: block;
  margin-left: 30px;
}
.input-name{
  position: relative;
  text-align: center;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 495px;
  height: 43px;
  margin-left: 30px;

}
.lastname{
  margin-left: 300px;
  margin-top: 186px;
}
.inputLastname{
  position: absolute;
  text-align: center;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 228px;
  height: 43px;
  margin-left: 300px;
  margin-top: 221px;
}
.location{
  display: inline-block;
  margin-left: 30px;
}
.zip{
  margin-left: 300px;
  display: inline-block;
}
.inputCity{
  display: inline-block;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  text-align: center;
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 228px;
  height: 43px;
  margin-left: 30px;
}
.inputZip{
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 228px;
  height: 43px;
  margin-left: 300px;
}
.home-address{
  position: relative;
  display: block;
  margin-left: 30px;
}
.inputHomeAddress{
  position: relative;
  display: block;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: 492px;
  height: 43px;
  margin-left: 30px;
}
.phone{
  display: inline-block;
  margin-left: 30px;
}
.phone2{
  display: inline-block;
  margin-left: 300px;
}
.inputPhone{
  display: inline-block;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  text-align: center;
  width: 228px;
  height: 43px;
  margin-left: 30px;
}
.inputPhone2{
  display: inline-block;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  position: relative;
  text-align: center;
  width: 228px;
  height: 43px;
  margin-left: 300px;
}
.web{
  display: inline-block;
  margin-left: 30px;
}
.inputWeb{
  display: inline-block;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  text-align: center;
  width: 228px;
  height: 43px;
  margin-left: 30px;
}
.contact-person{
  display: inline-block;
  margin-left: 300px;
}
.inputContactPerson{
  display: inline-block;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);

  text-align: center;
  width: 228px;
  height: 43px;
  margin-left: 300px;
}
.about{
  position: relative;
  display: block;
  margin-left: 30px;
}
.inputAbout{
  position: relative;
  display: block;
  width: 848px;
  height: 190px;
  margin-left: 30px;
}
.btn-save{
  display: inline-block;
  font-size: 18px;
  background-color: #0262d2;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  line-height: 2.25;
  width: 228px;
  height: 48px;
  margin-top:49px;
  margin-left: 30px;
}
.btn-save:hover{
  background-color: #0066cc;
}
.btn-save:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  font-weight: 600;
}
.btn-cancel{
  font-size: 18px;
  width:228px;
  height: 48px;
  color: rgb(68, 75, 84);
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  line-height: 2;
  text-align: center;
  margin-top: 49px;
  margin-left: 20px;
}
.btn-cancel:hover{
  background-color: rgb(240, 240, 240);
}
.btn-cancel:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  font-weight: bold;
}
.changepassBox {
  position: absolute;
  display: block;
  border-width: 1px;
  border-color: rgb(188, 188, 188);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(247, 247, 247);
  width: 530px;
  height: 199px;
  margin: 30px 0 0 30px ;
  z-index: 10;
}
.inputNewPassword1 {
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 441px;
  height: 45px;
  margin-left: 38px;
  margin-top: 22px;
}
.inputNewPassword2 {
  position: relative;
  border-radius: 3px;
  border-color: black;
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 441px;
  height: 45px;
  margin-left: 38px;
  margin-top: 12px;
}
.btn-newPassword{
  display: inline-block;
  position: absolute;
  font-size: 18px;
  background-color: #0262d2;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  line-height: 2.25;
  width: 190px;
  height: 48px;
  margin-top: 72px;
  margin-left: -445px;
}
.btn-newPassword2{
  display: inline-block;
  position: absolute;
  font-size: 18px;
  background-color: #0262d2;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  line-height: 2.25;
  width: 190px;
  height: 48px;
  margin-top: 72px;
  margin-left: -192px;
}
.alert-pass-danger{
  position: absolute;
  z-index: 20;
}
.wrongPass{
  display: block;
  font-size: 1.4em;
  color: #F74933;
  width: 530px;
  margin-top: 100px;
  text-align: center;
  border: dotted 1px #f20f4b;
  height: 50px;
  padding-top: 15px;
}
