<app-header-top></app-header-top>

<div class="wrapper">
  <div class="top">{{'header-top.profcompany' | translate}}</div>

  <div class="profile">
    <div class="v-line"></div>
  <!--  <label class="personal">{{'header-top.datacompany' | translate}}</label> -->


    <form [formGroup]="form">


      <div *ngIf="base64textString.length>0; then contentLoadAvatar else contentDefault">{{'account-employer.uvnAER' | translate}}</div>
      <ng-template #contentLoadAvatar>
        <img class="logotype" [title]="'account-employer.loadlogo31' | translate" *ngFor="let item of base64textString"  src={{item}} [alt]="'account-employer.loadlogo31' | translate" id="img" onclick="document.getElementById('avatar').click()">
      </ng-template>

      <ng-template #contentDefault>
        <img src="/assets/img/no-photo.png" class="img-thumbnail" onclick="document.getElementById('avatar').click()">
      </ng-template>

      <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput style="display:none">

      <label class="upload-logo" onclick="document.getElementById('avatar').click()">{{'account-employer.loadlogo' | translate}}</label>
      <label class="clear" (click)="clearFile()">{{'account-employer.clear' | translate}}</label>

    </form>

    <form [formGroup]="accountEmployerForm">

      <label class="user-name">{{'allValue.UserName' | translate }}</label>
      <input type="text" class="inputUserName" id="inputUserName" formControlName="inputUserName" [placeholder]="'account-employer.vvipAER' | translate">

      <label class="email">Email</label>
      <input type="text" class="inputEmail" id="inputEmail" formControlName="inputEmail" [placeholder]="'account-employer.vvemailAER' | translate">

      <!-- начало обработки почтовых ошибок -->

      <div *ngIf="accountEmployerForm.controls['inputEmail'].dirty">

        <div class="alert alert-danger"
             *ngIf="accountEmployerForm.controls['inputEmail'].value.length === 0 ">
          {{'account-employer.neuemailAER' | translate}}
        </div>

        <div *ngIf="accountEmployerForm.controls['inputEmail'].value.length > 0">
          <div *ngIf="accountEmployerForm.controls['inputEmail'].invalid; else trueSucc">
            <div class="alert alert-danger"
                 *ngIf="accountEmployerForm.controls['inputEmail'].hasError('errorEmailExists') === true">
              {{'account-employer.demailuzAER' | translate}}
            </div>

            <div class="alert alert-danger"
                 *ngIf="accountEmployerForm.controls['inputEmail'].hasError('email') === true">
              {{'account-employer.eevvemailAER' | translate}}
            </div>

          </div>

          <ng-template #trueSucc>

            <div class="alert alert-info">{{'account-employer.emailfreeAER' | translate}}</div>

          </ng-template>

        </div>

      </div>

      <!-- закончили обработку почтовых ошибок -->


      <label class="name">{{'allValue.compname' | translate}}</label>
      <input type="text" class="input-name" id="inputName" formControlName="inputName" [placeholder]="'allValue.compname' | translate" maxlength="100">

      <!--
      <label class="lastname">Фамилия</label>
      <input type="text" class="inputLastname" id="inputLastname" formControlName="inputLastName" placeholder="введите фамилию">
       -->

      <label class="location">{{'allValue.сity' | translate}}</label>
      <select id="inputCity" formControlName="inputCity" class="inputCity" [title]="'allValue.сity' | translate">
        <option  *ngFor="let lc of listCity" [value]="lc.name">
          {{lc.name}}
        </option>
      </select>

      <label class="zip">{{'allValue.postindex' | translate}}</label>
      <input type="text" class="inputZip" id="inputZip" formControlName="inputZip" [placeholder]="'account-employer.vvindexAER' | translate">

      <label class="home-address">{{'allValue.address' | translate}}</label>
      <input type="text" class="inputHomeAddress" id="inputAddress" formControlName="inputAddress" [placeholder]="'allValue.address' | translate" maxlength="100">

      <label class="phone">{{'allValue.tele' | translate}}</label>
      <input type="text" class="inputPhone" id="inputPhone" formControlName="inputPhone" [placeholder]="'allValue.tele' | translate">

      <label class="phone2">{{'allValue.tele2' | translate}}</label>
      <input type="text" class="inputPhone2" id="inputPhone2" formControlName="inputPhone2" [placeholder]="'allValue.tele2' | translate">

      <label class="web">Web-site</label>
      <input type="text" class="inputWeb" id="inputWeb" formControlName="inputWeb" placeholder="Web-site">

      <label class="contact-person">{{'allValue.contactF' | translate}}</label>
      <input type="text" class="inputContactPerson" id="inputContactPerson" formControlName="inputContactPerson" [placeholder]="'allValue.contactF' | translate">

      <label class="about">{{'allValue.aboutcomp' | translate}}</label>
      <textarea class="inputAbout" maxlength="1000" [title]="'account-employer.okd1000zAER' | translate"
                formControlName="inputAbout" id="inputAbout" [placeholder]="'account-employer.okd1000zAER' | translate"></textarea>

      <img class="img-lock" src="/assets/img/lock.png" [alt]="'allValue.changepwd' | translate" [title]="'allValue.changepwd' | translate">
      <label class="changePass" (click)="accessPassword()"> {{'allValue.changepwd2' | translate}} </label>

      <ng-container *ngIf="bShowChangePassword">
        <div class="changepassBox">
          <input type="password" class="inputNewPassword1" id="inputNewPassword1" formControlName="inputNewPassword1" [placeholder]="'account-employer.vvnewpvdAER' | translate">
          <input type="password" class="inputNewPassword2" id="inputNewPassword2" formControlName="inputNewPassword2" [placeholder]="'account-employer.repeatpwdAER' | translate">

          <div *ngIf="accountEmployerForm.controls['inputNewPassword2'].value.length > 0">
            <div *ngIf="accountEmployerForm.controls['inputNewPassword2'].invalid; else truePassword2Template">
              <!-- <div>Пароли не совпадают</div> -->
              <app-dialogminimum [name]="'account-employer.pwdnsAER' | translate"></app-dialogminimum>
            </div>
          </div>

          <ng-template #truePassword2Template>
            <div class="alert alert-info">{{'account-employer.pwdsspAER' | translate}}</div>
          </ng-template>


          <button type="submit" class="btn-newPassword" (click)="NewPassword()">{{'allValue.changepwd2' | translate}}</button>
          <ng-container *ngIf="bPasswordNew">{{'account-employer.pwdchangeAER' | translate}}</ng-container>

          <!--
          <div class="alert-pass" *ngIf="bErrorRepeatPassword">Пароли не совпадают</div>
          -->

          <div class="alert-pass" *ngIf="bErrorRepeatPassword">
            <app-dialogminimum [name]="'account-employer.pwdnsAER' | translate"></app-dialogminimum>
          </div>

          <div class="alert-pass" *ngIf="bErrorEmptyPassword">
            <app-dialogminimum [name]="'account-employer.pwdndbpAER' | translate"></app-dialogminimum>
          </div>

          <button class="btn-newPassword2" (click)="DisappearFrame()">{{'allValue.Cancel' | translate}}</button>
        </div>

      </ng-container>

    </form>

    <button type="submit" class="btn-save" (click)="savecv()" [disabled]="accountEmployerForm.invalid">{{'allValue.save' | translate}}</button>
    <button type="submit" class="btn-cancel" (click)="back()">{{'allValue.Cancel' | translate}}</button>

  </div>
</div>

<app-footer></app-footer>

