<app-header-top></app-header-top>

<div class="wrapper">
  <div class="top">Профиль компании</div>

  <div class="profile">
    <div class="v-line"></div>
    <label class="personal">Данные компании</label>



        <form [formGroup]="form">



<!--
          <img src="/assets/img/no-photo.png" class="img-thumbnail" onclick="document.getElementById('avatar').click()">
          <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput style="display:none">

          <div *ngIf="base64textString.length>0">
            <img class="logotype" *ngFor="let item of base64textString"  src={{item}} alt="" id="img">
          </div>
-->

          <div *ngIf="base64textString.length>0;then contentLoadAvatar else contentDefault">условия выполнить невозможно</div>
          <ng-template #contentLoadAvatar>
            <img class="logotype" *ngFor="let item of base64textString"  src={{item}} alt="" id="img" onclick="document.getElementById('avatar').click()">
          </ng-template>

          <ng-template #contentDefault>
            <img src="/assets/img/no-photo.png" class="img-thumbnail" onclick="document.getElementById('avatar').click()">
          </ng-template>

          <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput style="display:none">


          <button (click)="clearFile()">Очистить</button>

    </form>

<form [formGroup]="accountEmployerForm">
  <label class="user-name">Имя пользователя</label>
  <input type="text" class="inputUserName" id="inputUserName" formControlName="inputUserName" placeholder="введите имя пользователя">

      <label class="name">Имя</label>
      <input type="text" class="input-name" id="inputName" formControlName="inputName" placeholder="Имя">

      <label class="lastname">Фамилия</label>
      <input type="text" class="inputLastname" id="inputLastname" formControlName="inputLastName" placeholder="введите фамилию">

        <label class="location">Город</label>
      <select id="inputCity" formControlName="inputCity" class="inputCity" title="Город">
        <option  *ngFor="let lc of listCity" [value]="lc.name">
        {{lc.name}}
        </option>
      </select>

  <label class="zip">Почтовый индекс</label>
  <input type="text" class="inputZip" id="inputZip" formControlName="inputZip" placeholder="введите индекс">

  <label class="home-address">Адрес</label>
  <input type="text" class="inputHomeAddress" id="inputAddress" formControlName="inputAddress" placeholder="Адрес">

  <label class="phone">Телефон</label>
  <input type="text" class="inputPhone" id="inputPhone" formControlName="inputPhone" placeholder="Телефон">


  <img class="img-lock" src="/assets/img/lock.png" alt="Смена пароля" title="Смена пароля">
  <label class="changePass" (click)="accessPassword()"> Изменить пароль </label>

  <ng-container *ngIf="bShowChangePassword">
    <div class="changepassBox">
      <input type="password" class="inputNewPassword1" id="inputNewPassword1" formControlName="inputNewPassword1" placeholder="Введите новый пароль">
      <input type="password" class="inputNewPassword2" id="inputNewPassword2" formControlName="inputNewPassword2" placeholder="Повторите пароль">
      <button type="submit" class="btn-newPassword" (click)="NewPassword()">Изменить пароль</button>
      <ng-container *ngIf="bPasswordNew">Пароль изменен</ng-container>
      <div class="alert-pass" *ngIf="bErrorRepeatPassword">Пароли не совпадают</div>
    </div>
  </ng-container>

</form>

    <button type="submit" class="btn-save" (click)="savecv()">Сохранить</button>
    <button type="submit" class="btn-cancel" (click)="back()">Отмена</button>

  </div>
</div>

 <app-footer></app-footer>

