.wrapper{
  margin-bottom: 50px;
}
form{
  position: absolute;
}
.userName{
  visibility: hidden;
}
.name{
  width: 260px;
  font-size:1.3em;
}
label{
  display: block;
  color: #0262d2;
  width: 96%;
  margin-bottom: 4px;
  padding-top: 2px;
}
.valueTxt{
  display: block;
  font-size:1em;
  max-width: 95%;
  margin: 0 21px;
}
.strip{
  border-top: dotted 1px #b8b8b8;
}
.listEmployment{

}
.logotype{
  width: 190px;
  height: 190px;
  margin: 0 0 18px 23px;
}
.contact{
  width: 60%;
  font-size:1.2em;
  border-bottom: solid 1px #b8b8b8;
  margin-bottom: 4%;
}
.city{
  display: inline-block;
  width:12px;
}
.city-name{
  display: inline-block;
  font-size: 1em;
  color: rgb(68, 75, 84);
  min-width: 10%;
  max-width: 60%;
  margin-left: 12px;
  overflow: hidden;
}
.contactsLang, .contactsEmail, .contactsPhone{
  margin: 1% 0 2% 8%;
  overflow: auto;
}
.position{
  display: block;
  font-size: 1.2em;
  height: auto;
  max-width: 96%;
  margin-top: 6px;
  padding-bottom: 8px;
}
.cv-box{
  position: relative;
  width: 100%;
}
.leftBox{
  width: 20%;
  display: inline-block;
  min-height: 510px;
  margin-bottom: 10vh;
}
.rightBox{
  width: 80%;
  position: absolute;
  display: inline-block;
  min-height: 500px;
  padding-left: 3%;
  border-left: solid 1px #b8b8b8;
  margin-bottom: 5px;
}

.langLevel{
  display: inline-block;
  margin-right: 20%;
  float: right;
}
.last .valueTxt:last-child{
  font-size: 30px;
}
.previous{
  position: relative;
  margin-bottom: 100px;
}
