<app-header-top></app-header-top>

<div class="wrapper">

  <div class="cv-box">
    <div class="leftBox">
      <form [formGroup]="formView">

        <div  *ngIf="loadUser!= undefined">
          <div class="name"> {{this.loadUser.Name}}<br>{{this.loadUser.LastName}}</div>
        </div>

        <div *ngIf="base64textString.length>0;then contentLoadAvatar else contentDefault">{{'cv-view.ifnot' | translate}}</div>
        <ng-template #contentLoadAvatar>
          <img class="logotype" *ngFor="let item of base64textString"  src={{item}} [alt]="'cv-view.viewprofile' | translate" id="img" (click) = "onProfileClick($event)">
        </ng-template>

        <ng-template #contentDefault>
          <img src="/assets/img/usernull.png" class="img-thumbnail" onclick="">
        </ng-template>

        <!--
         <span class="userName"> {{this.loadUser.UserName}} </span>
        -->

        <div class="contact">Контакты</div>
        <div>
          <img class="city" src="/assets/img/city.png" alt="'allValue.сity' | translate">
          <div class="city-name" *ngIf="_cvitem!= undefined">{{_cvitem.CityName}}</div>
        </div>

        <label>Email</label>
        <div class="contactsEmail" *ngIf="_cvitem!= undefined"> <a href="mailto:{{ _cvitem.EMail }}">{{ _cvitem.EMail }}</a></div>

        <label> {{'allValue.tele' | translate}}</label>
        <div class="contactsPhone" *ngIf="_cvitem!= undefined"> <a href="tel:{{ _cvitem.Phone }}">{{ _cvitem.Phone }}</a></div>

        <label>Языки</label>
        <div class="contactsLang" *ngFor="let lL of this._listLanguage; let i = index">
          {{lL['language_name']}} - <div class="langLevel">{{lL['language_level']}}</div>
        </div>

      </form>

    </div>

    <div class="rightBox">

      <label class="strip">{{'cv-view.gp' | translate}}</label>
      <!--  <div class="position" id="position"> </div> -->
      <div class="position"  *ngIf="_cvitem!= undefined">{{_cvitem.Position}}</div>

      <label class="strip">{{'cv-view.birdt' | translate}}</label>
      <div class="valueTxt" *ngIf="_cvitem!= undefined">{{ _cvitem.DateBirth  | date:'dd.MM.yyyy'}}</div>

      <label class="strip">{{'cvview.workexperience'| translate}}</label>
      <div class="valueTxt" *ngFor="let lep of this._listExperience; let i = index">
        {{lep}}
      </div>
      <div class="valueTxt" *ngIf="this._listExperience.length ===0">{{'cv-view.snu' | translate}}&nbsp;</div>


      <label class="strip">{{'allValue.salary' | translate}}</label>
      <div class="valueTxt" *ngIf="_cvitem!= undefined">{{_cvitem.SalaryFrom}}&nbsp;</div>
      <!-- Если зарплата не определена (undefined) -->
      <div class="valueTxt" *ngIf="_cvitem === undefined">{{'cv-view.nu' | translate}}&nbsp;</div>


      <label class="strip">{{'allValue.Employment' | translate}}</label>
      <div class="valueTxt" *ngFor="let Elm of this._listEmployment; let i = index">{{Elm}}</div>

      <label class="strip">{{'cv-view.oniu' | translate}}</label>


      <div *ngIf="_cvitem.Skills!= undefined">
        <div class="valueTxt" appTextToHtml [sourceText]="_cvitem.Skills"></div>
      </div>

      <label class="strip">{{'allValue.EducationLevel' | translate}}</label>

      <div class="valueTxt" *ngFor="let le of this._listEducation; let i = index">{{le}} </div>

      <label class="strip">{{'allValue.Education' | translate}}</label>

      <div class="valueTxt"  *ngIf="_cvitem.sEducation!= undefined">{{_cvitem.sEducation}} </div>


      <label class="strip">{{'cv-view.sd' | translate}}</label>
      <div class="valueTxt" *ngFor="let liI of this._listIndustry; let i = index">
        {{liI}}
      </div>

      <label class="strip">{{'cv-view.dreamgr' | translate}}</label>
      <div class="valueTxt" *ngFor="let lS of this._listSchedule; let i = index">
        {{lS}}
      </div>

      <div class="previous">

        <label class="strip">{{'cv-view.plworks' | translate}}</label>
      <div *ngFor="let lP of this._listPrevious; let i = index">
        <div class="valueTxt">{{'cv-view.periodworks' | translate}} {{lP['dStartDate'] | date:'dd.MM.yyyy'}} - {{lP['dCompletionDate'] | date:'dd.MM.yyyy'}}</div>
        <div class="valueTxt">{{'cv-view.org' | translate}} {{lP['sCompany']}} </div>
        <div class="valueTxt">{{'cv-view.curD' | translate}} {{lP['sPreviousPosition']}}</div>
        <div class="valueTxt">{{'cv-view.descr' | translate}} {{lP['sInputPositionDescription']}}</div>
      </div>

      </div>

      <label class="strip">{{'newcv.additionalInfo' | translate}}</label>
      <div class="valueTxt"  *ngIf="_cvitem.sExperience!= undefined">{{_cvitem.sExperience}}</div>

    </div>

  </div>

</div>



