<app-header-top></app-header-top>
<div class="wrapper">
  <div class="top">Просмотр резюме</div>

  <div class="box">


  <form [formGroup]="form">

    <label>ФОТО</label> <br>
    <!--    Фото не отображается.
     Сюда вставить ФОТО, если нет - заглушку              -->

    <div *ngIf="base64textString.length>0;then contentLoadAvatar else contentDefault">Условия выполнить невозможно</div>
    <ng-template #contentLoadAvatar>
      <img class="logotype" *ngFor="let item of base64textString"  src={{item}} alt="Посмотреть профиль" id="img" (click) = "onProfileClick($event)">
    </ng-template>

    <ng-template #contentDefault>
      <img src="/assets/img/usernull.png" class="img-thumbnail" onclick="">
    </ng-template>
  </form>




    <label class="fio">Ф.И.О.</label> <br>
    <!--     Сюда вставить ФИО              --> <br>


    <img class="city" src="/assets/img/city.png" alt="Город">
    <span class="city-name"> <!--     Сюда вставить Город              --> </span>   <br>

    <label class="label-position">Желаемая должность</label> <br>
    <span class="position" id="position"><!--     Сюда вставить Желательную должность      --></span>      <br>

    <label class="From">Заработная плата</label> <br>
    <span><!--     Сюда вставить цифру из   inputSalaryFrom    --></span><br>


    <label class="labelSkillsAbilities">Основные навыки и умения</label><br>

    <span><!--     Сюда вставить текст из   inputSkillsAbilities    --></span><br>


    <label class="labelEducation">Образование</label> <br>

    <span><!-- Сюда вставить выбранное из  <app-cv-education> и за ним текст из inputExperience  (Хотя странно названо, ведь должно быть education ??? Проверить)  --></span><br>


    <br> <br> <br> <br> <br> <br>

    <label class="labelEducation">Образование</label> <br>

    <span><!-- Сюда вставить выбранное из  <app-cv-education> и за ним текст из inputExperience  (Хотя странно названо, ведь должно быть education ??? Проверить)  --></span><br>


    <!--    Короче, выводить всё что есть дальше в newcv              -->

  <div class="cv-box">

    <!-- Занятость -->
    <app-cv-employment></app-cv-employment>
    <!-- график работы -->
    <app-cv-schedule></app-cv-schedule>
    <!-- Опыт работы -->
    <app-cv-experience></app-cv-experience>
    <!-- Образование -->
    <app-cv-education></app-cv-education>
    <!-- Отрасль -->
    <app-cv_industry></app-cv_industry>

   </div>
  </div>
</div>
