<app-header-top></app-header-top>
<div class="wrapper">
  <div class="top">Просмотр резюме</div>

  <div class="box">


  <form [formGroup]="formView">

    <label>ФОТО</label> <br>
    <!--    Фото не отображается.
     Сюда вставить ФОТО, если нет - заглушку              -->

    <div *ngIf="base64textString.length>0;then contentLoadAvatar else contentDefault">Условия выполнить невозможно</div>
    <ng-template #contentLoadAvatar>
      <img class="logotype" *ngFor="let item of base64textString"  src={{item}} alt="Посмотреть профиль" id="img" (click) = "onProfileClick($event)">
    </ng-template>

    <ng-template #contentDefault>
      <img src="/assets/img/usernull.png" class="img-thumbnail" onclick="">
    </ng-template>
  </form>




    <label class="fio">Ф.И.О.</label> <br>
    <div  *ngIf="loadUser!= undefined">
      {{this.loadUser.Name}} <br>
      {{this.loadUser.LastName}} <br>
      {{this.loadUser.UserName}} <br>
    </div>
    <br>


    <img class="city" src="/assets/img/city.png" alt="Город">
    <span class="city-name"> <!--     Сюда вставить Город              --> </span>   <br>

    <label class="label-position">Желаемая должность</label> <br>
    <span class="position" id="position">
          <div  *ngIf="_cvitem!= undefined">
            {{_cvitem.Position}} </div>
      <br>
    </span>
    <br>

    <label class="From">Заработная плата</label> <br>
    <br>
    <span><div  *ngIf="_cvitem!= undefined">{{_cvitem.SalaryFrom}}</div></span><br>
    <br>

    <label class="labelSkillsAbilities">Основные навыки и умения</label><br>

    <span>
      <div  *ngIf="_cvitem.sSkills!= undefined">{{_cvitem.sSkills}}</div>
    </span><br>


    <label class="labelEducation">Образование</label> <br>
    <span>
      <div class="correspondence" *ngFor="let le of this._listEducation; let i = index">
        {{le}}
      </div>
    </span><br>
    <label class="labelEducation">Образование</label> <br>
    <span><div  *ngIf="_cvitem.sEducation!= undefined">{{_cvitem.sEducation}}</div>
    </span><br>

    <label class="labelEducation">Опыт работы</label> <br>
    <span><div  *ngIf="_cvitem.sExperience!= undefined">{{_cvitem.sExperience}}</div>
    </span><br>

    <br> <br> <br> <br> <br> <br>

    <!--    Короче, выводить всё что есть дальше в newcv            -->

    <label>Опыт</label> <br>
    <div *ngFor="let lep of this._listExperience; let i = index">
      {{lep}}
    </div>

    <label>Сфера деятельности</label> <br>
    <div *ngFor="let liI of this._listIndustry; let i = index">
      {{liI}}
    </div>

    <label>Желаемый график</label> <br>
    <div *ngFor="let lS of this._listSchedule; let i = index">
      {{lS}}
    </div>

    <label>Занятость</label> <br>
    <div *ngFor="let Elm of this._listEmployment; let i = index">
      {{Elm}}
    </div>


    <div class="cv-box">




    <!-- Язык <app-cv_language></app-cv_language> -->



   </div>
  </div>
</div>
