<h2>Definitions</h2>
<p>
  MUCV or Site - a combination of software and other tools that allows Visitors to the http://mucv.ee resource to access the database of vacancies and resumes, and also provides users with free services related to posting resumes, vacancies and viewing them.
  Visitor - any person who has not gone through the procedure of entering into his account, or who has not registered on the Site.
  User - any person who has registered on the Site and has confirmed his agreement with the rules for using MUCV.
  The User, who is the subject of personal data, voluntarily posting his personal data on the Site, undoubtedly agrees that by placing his personal data on the Site, he makes it publicly available including that it will be available to all Site Visitors.
  User Account - a set of Site services available to the User. The account holder is a person who has legitimate access to the email address (E-mail) specified in the User’s account.
  Data processing - including personal data, is carried out by MUCV - technical means, in order to improve the operation of the Site. No information from the MUCV database, under any circumstances, is processed by third parties.
</p>
<h2>Terms of use</h2>
<p>
  MUCV is not responsible for maintaining their confidentiality or unauthorized use by third parties.
  MUCV is not responsible for the possible unauthorized use of Users' personal data due to access to data through any technical or other means uncontrolled by MUCV.
  The user has the right at any time to view, change or delete any of his personal and other data, including the Account, through the user menu in the interface of the Site.
  When deleting a User Account, all data (information about the User, resumes, vacancies, personal correspondence, etc.) associated with this account will be destroyed and cannot be restored.
  MUCV is not responsible for the accuracy of the data provided by users.
  It is forbidden to use any data posted on the website by third parties without the prior consent of MUCV.
  It is forbidden to post information of an advertising nature, as well as any other information not related to the purpose of finding work or employees.
  MUCV, in case of violation of these rules, reserves the right to delete User accounts without warning and explanation of reasons.
  MUCV has no relation and does not bear any responsibility for the agreements between Users (Employers and Applicants), which are exclusively bilateral.
  By accepting these rules, the User agrees that MUCV uses cookies for the convenience of using the Site.
  These rules may be supplemented or amended unilaterally by MUCV, of which the User will be notified by e-mail. In case of disagreement with the amended rules, the User must immediately delete his Account and refuse to use the Site. In case of continued use of the Site, the User thereby confirms his agreement with the amended rules.
</p>
