<h2>Definitions</h2>

<p><span>MUCV</span> or <span>Site</span> - a combination of software and other tools that allows <span>Visitors</span> to the http://mucv.ee resource to access the database of vacancies and resumes, and also provides users with free services related
  to posting resumes, vacancies and viewing them.</p>

<p><span>Visitor</span> - any person who has not gone through the procedure of entering into his account, or who has not registered on the <span>Site</span>.</p>

<p><span>User</span> - any person who has registered on the <span>Site</span> and has confirmed his agreement with the rules for using <span>MUCV</span>.</p>

<p>The <span>User</span>, who is the subject of personal data, voluntarily posting his personal data on the Site, undoubtedly agrees that by placing his personal data on the <span>Site</span>, he makes it publicly
  available including that it will be available to all <span>Site Visitors</span>.</p>

<p><span>User Account</span> - a set of <span>Site</span> services available to the <span>User</span>. The account holder is a person who has legitimate access to the email address (E-mail) specified in the <span>User’s account</span>.</p>

<p><span>Data processing</span> - including personal data, is carried out by <span>MUCV</span> - technical means, in order to improve the operation of the <span>Site</span>. No information from the <span>MUCV</span> database, under any circumstances,
  is processed by third parties.</p>

<h2>Terms of use</h2>

<p><span>MUCV</span> is not responsible for maintaining their confidentiality or unauthorized use by third parties.</p>

<p><span>MUCV</span> is not responsible for the possible unauthorized use of <span>Users'</span> personal data due to access to data through any technical or other means uncontrolled by <span>MUCV</span>.</p>

<p>The user has the right at any time to view, change or delete any of his personal and other data, including the Account, through the user menu in the interface of the <span>Site</span>.</p>

<p>When deleting a <span>User Account</span>, all data (information about the <span>User</span>, resumes, vacancies, personal correspondence, etc.) associated with this account will be destroyed and cannot be restored.</p>

<p><span>MUCV</span> is not responsible for the accuracy of the data provided by users.</p>

<p>It is forbidden to use any data posted on the website by third parties without the prior consent of <span>MUCV</span>.</p>

<p>It is forbidden to post information of an advertising nature, as well as any other information not related to the purpose of finding work or employees.</p>

<p><span>MUCV</span>, in case of violation of these rules, reserves the right to delete User accounts without warning and explanation of reasons.</p>

<p><span>MUCV</span> has no relation and does not bear any responsibility for the agreements between <span>Users</span> (Employers and Applicants), which are exclusively bilateral.</p>

<p>By accepting these rules, the User agrees that <span>MUCV</span> uses cookies for the convenience of using the <span>Site</span>.</p>

<p>These rules may be supplemented or amended unilaterally by <span>MUCV</span>, of which the User will be notified by e-mail. In case of disagreement with the amended rules, the User must immediately delete his <span>Account</span>
 and refuse to use the <span>Site</span>. In case of continued use of the <span>Site</span>, the <span>User</span> thereby confirms his agreement with the amended rules.</p>

