<app-header-top></app-header-top>

<div class="wrapper">
  <div class="top">Войти</div>


<!--
   начали модель
-->

<div class="box">
  <form [formGroup]="loginForm" novalidate (ngSubmit)="submit()">
  <label class="login" for="inputLogin">Логин или E-Mail</label>
  <input type="text" class="inputLogin" id="inputLogin" formControlName="nameOrEmail" placeholder="Логин или E-mail"
         [ngClass]="{
                      succesfullvalidator: this.loginForm.controls['nameOrEmail'].value.length >= 3,
                      trowblevalidator: loginForm.controls['nameOrEmail'].value.length >= 1 && loginForm.controls['nameOrEmail'].value.length <= 2
                     }">


  <label class="password" for="inputPassword">Пароль</label>
  <input type="password" class="inputPassword" id="inputPassword" formControlName="password"  placeholder="Пароль">

   <button type="submit" class="btn-signin" [disabled]="loginForm.invalid">Войти</button><br>

    <a class="forgot-password" routerLink="/forgot-password" routerLinkActive="active">Забыли пароль или логин?</a>
    <a class="register" routerLink="/register" routerLinkActive="active">Зарегистрироваться</a>


  <ng-container *ngIf="showErr">
    <div class="alert alert-danger" role="alert">
      {{sResTrouble}}
    </div>
  </ng-container>


  <ng-container *ngIf="showSucc">
   <div class="alert alert-success" role="alert">Успешный вход.</div>
    <a routerLink="/smain" routerLinkActive="active"></a>
  </ng-container>

</form>
  <!--
     занончили модель
  -->

</div>
 </div>

<app-footer></app-footer>
