<app-header-top></app-header-top>


<div class="wrapper">

  <div class="top">Пригласить соискателя</div>

<!--  <div class="box" *ngFor="let item of cvList; let i = index;"> -->
      <div class="box" >

                  <!--      <input type="radio" name="cv" title="cv" [(ngModel)]="modelResumeFromCheck.resumeFromCheck" [value] = "item.id"> -->
                <ul class="head-line">
                <li></li>
                <li class="date">Дата</li>
                <li class="city">Город</li>
                <li class="salary">Зарплата</li>
                <li class="position">Должность</li>
                </ul>


               <div class="box" *ngFor="let item of vacanciesList; let i = index;">
                    <ul class="botom-line">
                        <li>   <input type="radio" title="vacancy" name="vacancy" title="vacancy" [(ngModel)]="modelResumeFromCheck.resumeFromCheck" [value] = "item.id">      </li>
                        <li class="date">{{item.DateTimeCreate | date: 'dd-MM-yyyy'}}</li>
                        <li class="city">{{item.CityName}}</li>
                        <li class="salary">{{item.SalaryFrom}} &#x20BD;</li>
                        <li class="position">{{item.VacancyShortTitle}}</li>
                    </ul>
               </div>


  </div>



  <div class="cvlist">

            <div *ngIf="bErrorResumeCheck">Выберите вакансию на которую приглашаете соискателя.</div>
            <div *ngIf="bErrorResumeLetter">Вы не внесли текст сообщения</div>

            <div [formGroup]="formResponse">
                <textarea class="comment" formControlName="textCommentValue" name="comment" cols="100" rows="6" placeholder="Ваш комментарий к приглашению"></textarea>
                <button class="btn-newcv" (click)="MoveResult()">Отправить</button>
            </div>
  </div>

</div>

