.box{
  width: 100%;
}
span{
  display: block;
  width:100%;
  margin: 30px auto;
  border-top: solid 1px #b7b7b7;
  color: rgb(68, 75, 84);
}
.v-line{
  display: inline-block;
  position: relative;
  width:6px;
  height:auto;
  background-color: #b8b8b8;
}
.head-line{
  background-color: #DFDFDF;
}
.radio{
  display: inline-block;
  width: 50px;

}
.date{
  display: inline-block;
  width:90px;

}
.city{
  display: inline-block;
  width:120px;

}
.salary{
  display: inline-block;
  width:90px;

}
.position{
  display: inline-block;
  width:570px;

}
.botom-line{
  display: inline-block;
  margin-top: 10px;
}
.comment{
  display: block;
  width: 100%;
  margin-top: 30px;
}

.btn-send{
  display: inline-block;
  position: absolute;
  border-radius: 3px;
  background-color: #0262d2;
  width: 155px;
  height: 50px;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  margin-top: 1%;
}
.btn-send:hover{
  background-color: #0066cc;
  font-weight:600;
}
.btn-send:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  font-weight: 500;
}

