<div class="container">
<app-header-top></app-header-top>

<div class="wrapper">

  <div class="top">{{'invitation.inv44' | translate}}</div>

  <span>{{'invitation.chvc44' | translate}}</span>


                <ul class="head-line">
                   <li class="radio">&nbsp;&nbsp;&nbsp;&nbsp;</li>
                   <li class="date">{{'allValue.date' | translate}}</li>
                   <li class="city">{{'allValue.сity' | translate}}</li>
                   <li class="salary">{{'allValue.salary' | translate}}</li>
                   <li class="position">{{'invitation.d44' | translate }}</li>
                </ul>



               <div  *ngFor="let item of vacanciesList; let i = index;">
                    <ul class="botom-line">
                        <li class="radio">   <input (click)="ClickElem()" type="radio" title="vacancy" name="vacancy" title="vacancy" [(ngModel)]="modelResumeFromCheck.resumeFromCheck" [value] = "item.id">      </li>
                        <li class="date">{{item.DateTimeCreate | date: 'dd-MM-yyyy'}}</li>
                        <li class="city">{{item.CityName}}</li>
                        <li class="salary">{{item.SalaryFrom}} &#8364;</li>
                        <li class="position">{{item.VacancyShortTitle}}</li>
                    </ul>

               </div>



            <div class="alertWrong" *ngIf="bErrorResumeCheck">{{'invitation.chvc44' | translate}}</div>
            <div class="alertWrong" *ngIf="bErrorResumeLetter">{{'invitation.warn44' | translate}}</div>

            <div [formGroup]="formResponse">
                <textarea (click)="ClickElem()" class="comment" formControlName="textCommentValue" name="comment"
                 title="'invitation.comment44' | translate" cols="100" rows="6" [placeholder]="'invitation.comment44' | translate"></textarea>

              <button class="btn-send" (click)="MoveResult()">{{'invitation.resp44' | translate}}</button>
            </div>


</div>

</div>
