<div class="container">
<app-header-top></app-header-top>

<div class="wrapper">

  <div class="top">{{'invitation.inv44' | translate}}</div>

  <span>{{'invitation.chvc44' | translate}}</span>
<!--  <div class="box" *ngFor="let item of cvList; let i = index;"> -->


                  <!--      <input type="radio" name="cv" title="cv" [(ngModel)]="modelResumeFromCheck.resumeFromCheck" [value] = "item.id"> -->
                <div class="head-line">
                   <div class="radio">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                   <div class="date">{{'allValue.date' | translate}}</div>
                   <div class="city">{{'allValue.сity' | translate}}</div>
                   <div class="salary">{{'allValue.salary' | translate}}</div>
                   <div class="position">{{'invitation.d44' | translate }}</div>
                </div>



               <div  *ngFor="let item of vacanciesList; let i = index;">
                    <div class="botom-line">
                        <div class="radio">   <input (click)="ClickElem()" type="radio" title="vacancy" name="vacancy" title="vacancy" [(ngModel)]="modelResumeFromCheck.resumeFromCheck" [value] = "item.id">      </div>
                        <div class="date">{{item.DateTimeCreate | date: 'dd-MM-yyyy'}}</div>
                        <div class="city">{{item.CityName}}</div>
                        <div class="salary">{{item.SalaryFrom}} &#8364;</div>
                        <div class="position">{{item.VacancyShortTitle}}</div>
                    </div>
               </div>



            <div class="alertWrong" *ngIf="bErrorResumeCheck">{{'invitation.chvc44' | translate}}</div>
            <div class="alertWrong" *ngIf="bErrorResumeLetter">{{'invitation.warn44' | translate}}</div>

            <div [formGroup]="formResponse">
                <textarea (click)="ClickElem()" class="comment" formControlName="textCommentValue" name="comment" cols="100" rows="6" [placeholder]="'invitation.comment44' | translate"></textarea>
                <button class="btn-send" (click)="MoveResult()">{{'invitation.resp44' | translate}}</button>
            </div>


</div>

</div>
