<app-header-top></app-header-top>


<!-- Регистрация как работодателя  -->

<section class="form">
  <div class="form-intro skyblue-gradient-t">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6">
          <form class="login-reg">
            <div class="row">
              <div class="col-sm-12 text-center">
                <div class="form-logo"><i class="fa fa-user"></i></div>
                <h3>Регистрация работодателя</h3>
              </div>
              <div class="col-sm-12">
                <div class="form-group">



                  <input class="form-control input-lg" id="exampleInputName1" placeholder="Имя пользователя" type="text">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <input class="form-control input-lg" id="exampleInputName2" placeholder="Email" type="email">
                </div>
              </div>
              <div class="col-sm-12 text-center">
                <div class="form-group">
                  <input class="form-control input-lg" id="exampleInputEmail1" placeholder="Пароль" type="password">
                </div>
              </div>
              <div class="col-sm-12 text-center">
                <div class="form-group">
                  <input class="form-control input-lg" id="exampleInputEmail2" placeholder="Повторите пароль" type="password">
                </div>
                <div class="terms-tag">
                  <p>Our <a href="#">Условия</a> и <a href="#">Правила</a></p>
                </div>
                <button type="submit" class="btn btn-info button">Зарегистрироваться</button>
                <div class="sign-tag">
                  <p>Уже зарегистрированы? | <a href="#">Войти</a></p>
                </div>
              </div>

            </div>
          </form>
        </div>

      </div>

    </div>

  </div>

</section>


