.wrapper{
  display: inline-block;
  position: relative;
  font-family: "ProximaNovaRg";
  font-size: 16px;
  width: 100%;
  height: 180px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}
.top{
  width: 1170px;
  height: 59px;
  margin: 0 auto;
  border-bottom: solid 1px;
  border-color: #b7b7b7;
}
.user{
  position: absolute;
  display: inline-block;
  margin-top:17px;
  margin-left: 1px;
}
.hello{
  position: absolute;
  display: inline-block;
  color: #484c54;
  margin-top:22px;
  margin-left: 43px;
  text-decoration: none;
  width: 116px;
}
.register{
  position: absolute;
  display: inline-block;
  color: #484c54;
  margin-top:22px;
  margin-left: 94px;
  text-decoration: none;
  width: 150px;
}
.arrow-down{
  position: absolute;
  display: inline-block;
  margin-top:7px;
  margin-left: 9px;
}
.arrow-down-lang{
  position: absolute;
  display: inline-block;
  margin-top: 1px;
  margin-top:14px;
  margin-left: -13px;
}
h1 {
  font-size: 48px;
  font-family: "ArialRoundedMTBold";
  color: #484c54;
  padding:0 18px ;
}
h1:hover{
  cursor: pointer;
  color: red;

}
a:link{
  text-decoration: none;
  color: rgb(68, 75, 84);
}
a:visited {
  color: rgb(68, 75, 84);
}
.img-envelop{
  position: absolute;
  display: inline-block;
  margin-top:18px;
  margin-left: 334px;
}
.img-circle{
  position: absolute;
  display: inline-block;
  margin-top:10px;
  margin-left: 356px;
}
.img-bell{
  position: absolute;
  display: inline-block;
  margin-top:18px;
  margin-left: 379px;
}
.img-circle-bell{
  position: absolute;
  display: inline-block;
  margin-top:10px;
  margin-left: 393px;
}
.number-env{
  position: absolute;
  display: inline-block;
  margin-top:11px;
  margin-left: 362px;
  color: white;
  font-size: 12px;

}
.number-bell{
  position: absolute;
  display: inline-block;
  margin-top:11px;
  margin-left: 399px;
  color: white;
  font-size: 11px;
}
.flag-menu{
  position: absolute;
  display: inline-block;
  margin-top:5px;
  margin-left: -53px;
}
.alerts{
  position: absolute;
  display: inline-block;
  top: 12px;
  left: 50px;
  width: 150px;

}
.box{
  position: absolute;
  display: inline-block;

}
.box-search{
  position: relative;
  display: inline-block;
  background-color: yellow;
}

.user-login{
  width: 30%;
  background-color: yellow;
}

.langchoice{
  position: absolute;
  display: inline-block;
  font-size: 14px;
  color: rgb(68, 75, 84);
  margin-top: 8px;
  margin-left:-80px;
}
.langchoice-tumb{
  font-size: 14px;
  color: rgb(68, 75, 84);
  margin-left: -15px;
  padding-right: 5px;

}
.flag-list{
  vertical-align: center;
}
.bottom{
  position: relative;
  width: 1170px;
  height: 120px;
  margin: 0 auto;
}
.logout{
  color: #484c54;
}
.inputSearch{
  display: inline-block;
  position: absolute;
  border-width: 1px;
  border-color: #b7b7b7;
  border-style: solid;
  border-radius: 3px;
  background-color: white;
  color: #82878d;
  width: 682px;
  height: 48px;
  margin-top:35px;
  margin-left: 185px;
  padding-left: 15px;
}
.btn-search{
  display: inline-block;
  position: absolute;
  background-color: #3366ff;
 color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  line-height: 2.25;
  width: 108px;
  height: 48px;
  margin-top:35px;
  margin-left: 868px;
}
.btn-search:hover{
  background-color: #0066cc;
  font-weight:600;
}
.btn-search:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  font-width: 15px;
}
.btn-advsearch{
  display: inline-block;
  position: absolute;
  color: #484d55;
  background-color: #ffffff;
  border-color: #d46117;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  width: 191px;
  height: 48px;
  height: 48px;
  margin-top: 35px;
  margin-left: 977px;
}
.btn-advsearch:hover{
  background-color:#f26100;
  color: white;
  font-weight:600;
}

/*  Меню пользователя */
.menu-header{
  display: inline-block;
  position: absolute;
  width: 150px;
  height: 45px;
  font-size: 16px;
  color: #484c54;
  text-align: left;
  cursor: pointer;
  margin-top:22px;
  margin-left: 144px;
}
.menu-header:hover{
  background: #FFF;
}
ul.user-list{
  position: absolute;
  margin-top: 50px;
  margin-left: 105px;
  display: none;
  z-index: 2;
}
li{
  display: block;
  width: 200px;
  height: 45px;
  line-height: 45px;
  background: #FFF;
  cursor: pointer;
  font-family: "ProximaNovaLt";
  padding-left: 20px;
  text-decoration: none;
  border-color: #dddddd;
  border-style: solid;
  border-width:1px;
}
li:hover{
  background: #e8f1fb;
}

.menu-header:hover{
  background: #FFF;
}

.menu-header:hover + ul{
  display: block;
}
ul:hover{
  display: block;
}

/*  Закончили меню пользователя, начали меню выбора языка */

.menu-header-lang{
  position: relative;
  display: inline-block;
  width: 120px;
  height: 45px;
  font-size: 16px;
  color: #484c54;
  float: right;
  text-align: right;
  cursor: pointer;
  margin-top:15px;
}
.menu-header-lang:hover{
  background: #FFF;
}
.lang-list{
  position: absolute;
  margin-top: 50px;
  float: right;
  z-index: 2;
  margin-left: 905px;
  display: none;
}
ul.lang-list li{
  position: relative;
  display: block;
  width: 55px;
  height: 45px;
  text-align: left;
  background: #FFF;
  cursor: pointer;
  border-color: #dddddd;
  border-style: solid;
  border-width:1px;
  margin-left:150px;

}
.lang-list li:hover{
  background: #e8f1fb;
}
.menu-header-lang:hover{
  background: #FFF;
}

.menu-header-lang:hover + ul{
  display: block;
}
ul:hover{
  display: block;
}
.notfound{
  font-size: 28px;
  color: #F74933;
  margin: 25px auto;
  text-align: center;
}
.wqwe{
  border-width: 1px;
  border-style: solid;
  background-color: green;
}
