/*
li{
  text-decoration: none;
  list-style: none;
}
*/



h1{
  color: red;
  font-weight: bold;
  font-size: 45px;
}

h1:hover{

  color: #00A4E4;
 }

.myform{
  color: red;
}

.serchinput{
  margin: 0 1px 0 1px;
}
