  <div class="container-fluid">
    <div class="row">
      <div class="col-2 text-center">
        <a class="nav-link" routerLink="" routerLinkActive="active"><h1>MU CV</h1></a>
      </div>

      <div class="col-4">
      <form class="form-inline" [formGroup]="headerTopForm">
            <input type="search" class="form-control" formControlName="inputSearch" id="inputSearch" placeholder="Искать" [value]="sElementMask">
            <button type="submit" class="btn btn-primary" (click)="find()">Поиск</button>
      </form>
      </div>

      <div class="col-4">
       <div class="form-inline" *ngIf="!bConnected">
           <button class="btn btn-primary" (click)="login()">Войти</button>
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Регистрация</a>
          </div>

        <div class="form-inline" *ngIf="bConnected">
         <div class="bell">
           <i class="fa fa-envelope" style="font-size:20px;color:red" title="Новые сообщения"></i>
           <i class="fa fa-bell" style="font-size:20px;color:green" title="Новые события"></i>
         </div>

         <div class="menu">
         <div class="menu-header">
            <i class="fa fa-user" style="font-size:24px;color:blue"></i>{{ htUserName }}
            <i class="fa fa-caret-down" style="font-size:24px;color:blue"></i>
          </div>

            <ul>
              <div class="form-inline" *ngIf = "bEmployer">
                 <li><a class="nav-link" routerLink="/account-employer" routerLinkActive="active">Кабинет работодателя</a></li>
              </div>

              <div class="form-inline" *ngIf="!bEmployer">
                <li><a class="nav-link" routerLink="/account-employee" routerLinkActive="active">Кабинет соискателя</a></li>
              </div>

               <li><a class="nav-link" routerLink="/cv-list" routerLinkActive="active">Мои резюме</a></li>
               <li><button class="btn btn-primary" (click)="logout()">Выйти</button></li>
            </ul>

        </div>

      </div>
      </div>

<div class="col-2">

  <div class="menu">
    <div class="menu-header">RU<img src="assets/img/rus-flag.gif"><i class="fa fa-caret-down"></i> </div>
    <ul>
      <li><img src="assets/img/rus-flag.gif" title="По-русски">Русский</li>
      <li><img src="assets/img/est-flag.gif" title="По-эстонски">Эстонский</li>
      <li><img src="assets/img/ing-flag.gif" title="По-английски">Английский</li>
    </ul>

  </div>

 <!--    <div class="langselect">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputLanguageSelect">Страна</label>
        </div>
        <select class="custom-select" id="inputLanguageSelect">
          <option selected>EST</option>
          <option value="1">RUS</option>
          <option value="2">ENG</option>
        </select>
      </div>
  </div>      -->
  </div>


{{sNullValueFind}}

<!-- Старая страница

<form [formGroup]="headerTopForm">
  <div class="container-fluid">
      <div class="row">
    <div class="col-2 text-center">
       <a class="nav-link" routerLink="" routerLinkActive="active"><h1>MU CV</h1></a>
    </div>

  <div class="col-3">
  <div class="form-inline">
     <div class="form-group">
       <input type="search" class="form-control" formControlName="inputSearch" id="inputSearch" placeholder="Искать" [value]="sElementMask">
       <button type="submit" class="btn btn-primary" (click)="find()">Поиск</button>

     </div>
   </div>
  </div>

        <div class="col-4" *ngIf="!bConnected">
          <div class="form-inline">
            <div class="form-group">
              <button class="btn btn-primary" (click)="login()">Войти</button>
              <a class="nav-link" routerLink="/register" routerLinkActive="active">Регистрация</a>
            </div>
          </div>
        </div>

  <div class="col-4" *ngIf="bConnected">

    <nav class="navbar navbar" id="nav5">

      <div class="navbar-header" title="Управление аккаунтом">
    <i class="fa fa-user" style="font-size:24px;color:blue"></i>  {{ htUserName }}  >>>
        </div>
        <ul class="nav navbar-nav">

          <li><a class="nav-link" routerLink="/account-employee" routerLinkActive="active">Личный кабинет</a></li>
          <li><a class="nav-link" routerLink="/cv-list" routerLinkActive="active">Мои резюме</a></li>
          <li><button class="btn btn-primary" (click)="logout()">Выйти</button></li>
        </ul>

    </nav>

      </div>
  </div>

  </div>


<div class="langselect">
<div class="col-3">
  <div class="input-group">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputLanguageSelect01"><i class="fa fa-user" style="font-size:24px;color:blue"></i></label>
    </div>
    <select class="custom-select" id="inputLanguageSelect01">
      <option selected>EST</option>
      <option value="1">RUS</option>
      <option value="2">ENG</option>
    </select>
  </div>
</div>

  </div>
</form>

-->
    </div></div>
