<div class="wrapper">

  <h2>{{ 'HOME.TITLE' | translate }}</h2>

  <div class="top">
  <div *ngIf="bConnected">

      <img class="user" src="/assets/img/user.png" alt="Welcome" title="Welcome">
      <span class="hello">{{ 'header-top.hello' | translate }},&nbsp;</span>

      <div class="menu-header">{{ htUserName }}
      <img class="arrow-down" src="/assets/img/arrow-down.png" alt="Открыть меню пользователя" title="Mеню пользователя">
      </div>
      <ul class="user-list">
        <a routerLink="/account-employer" routerLinkActive="active"><li *ngIf = "bEmployer">{{ 'header-top.profile' | translate }}</li></a>
        <a routerLink="/new-vacancy" routerLinkActive="active"><li *ngIf = "bEmployer">Новая вакансия</li></a>
        <a routerLink="/vacancies" routerLinkActive="active"><li *ngIf = "bEmployer">Наши вакансии</li></a>
        <a routerLink="/advanced-search" routerLinkActive="active"><li *ngIf = "bEmployer">Поиск сотрудников</li></a>
        <a routerLink="/account-employee" routerLinkActive="active"><li *ngIf="!bEmployer">Данные соискателя</li></a>
        <a routerLink="/cv-list" routerLinkActive="active"><li *ngIf="!bEmployer">Мои резюме</li></a>
        <a routerLink="/message-center" routerLinkActive="active"><li *ngIf = "bEmployer">Центр сообщений</li></a>
        <a routerLink="/message-center" routerLinkActive="active"><li *ngIf = "!bEmployer">Центр сообщений</li></a>
        <span class="logout" (click)="favorites()"><li *ngIf = "!bEmployer">Избранные вакансии</li></span>
        <a routerLink="/about" routerLinkActive="active"><li *ngIf = "!bEmployer">О компании</li></a>
        <span class="logout" (click)="logout()"><li>Выйти</li></span>
      </ul>


    <a routerLink="/messages" routerLinkActive="active">
    <img class="img-envelop" src="/assets/img/envelope.png" alt="Новые сообщения" title="Новые сообщения">
        <div *ngIf="this.numberCountNotReadLetter > 0">
              <img class="img-circle" src="/assets/img/circle.png" alt="Всего сообщений" title="Всего сообщений">
              <div *ngIf="this.numberCountNotReadLetter > 9">
                 <span class="number-env">!</span>
              </div>
              <div *ngIf="this.numberCountNotReadLetter <= 9">
                <span class="number-env">{{this.numberCountNotReadLetter}}</span>
              </div>
         </div>

    </a>

     <a routerLink="/info" routerLinkActive="active">
       <img class="img-bell" src="/assets/img/bell.png" alt="Новые события" title="Новые события">

       <div *ngIf="this.numberCountNotReadBell > 0">
              <img class="img-circle-bell" src="/assets/img/circle-bell.png" alt="Всего событий" title="Всего событий">
              <div *ngIf="this.numberCountNotReadBell > 9">
                  <span class="number-bell">!</span>
              </div>
              <div *ngIf="this.numberCountNotReadBell <= 9">
                 <span class="number-bell">{{this.numberCountNotReadBell}}</span>
             </div>
       </div>
     </a>
  </div>




    <div class="menu-top" *ngIf="!bConnected">
      <img class="user" src="/assets/img/user-login.png" alt="Войти" title="Войти">
           <!-- <button class="btn btn-primary" (click)="login()">Войти</button> -->

      <a routerLink="/login" routerLinkActive="active"><span class="hello">Войти&nbsp;/</span></a>
      <a routerLink="/register" routerLinkActive="active"><span class="register">&nbsp;Регистрация</span></a>

    </div>


        <div class="menu-header-lang">


<div *ngIf = "this.currentLangSwitch == 0">
            <span class="langchoice">RU</span>
            <img  class="flag-menu" src="/assets/img/russian.png" alt="Русский" title="Руский">
</div>

<div *ngIf = "this.currentLangSwitch == 1">
            <span class="langchoice">EE</span>
            <img  class="flag-menu" src="/assets/img/flag-english.png" alt="Эстонский" title="Эстонский">
</div>

<div *ngIf = "this.currentLangSwitch == 2">
            <span class="langchoice">EN</span>
            <img  class="flag-menu" src="/assets/img/flag-english.png" alt="Английский" title="Английский">
</div>



          <img class="arrow-down-lang" src="/assets/img/arrow-down.png" alt="Выбор языка" title="Выбор языка">
        </div>

<!--
    [ngClass]="{'active': this.currentSwitch == 0}
-->

    <ul class="lang-list">
      <li class="langchoice-tumb" (click)="myClickLang(1)">EE<img class="flag-list" src="/assets/img/flag-english.png" alt="Эстонский" title="Эстонский"></li>
      <li><a class="langchoice-tumb" (click)="myClickLang(0)">RU<img class="flag-list" src="/assets/img/flag-russia.png" alt="Русский" title="Руский"></a></li>
      <li><a class="langchoice-tumb" (click)="myClickLang(2)">EN<img class="flag-list" src="/assets/img/flag-english.png" alt="Английский" title="Английский"></a></li>
    </ul>


  </div>


  <div class="bottom">
    <div class="box">
      <a routerLink="" title="На главную">
      <!--  <h1><span class="logout" (click)="clearfind()">MUCV</span></h1></a> -->
       <h1 class="logout" (click)="clearfind()">MUCV</h1></a>
    </div>


    <form [formGroup]="headerTopForm">
        <input type="search" class="inputSearch" formControlName="inputSearch" id="inputSearch" placeholder="Поиск вакансий.." [value]="sElementMask">
        <button class="btn-search" type="submit" (click)="find()">
        <img src="/assets/img/icon-search.png" alt="Найти" title="Поиск">&nbsp;Найти
        </button>
        <button class="btn-advsearch" type="button" id="AdvSearch" title="Расширенный поиск" (click)="toAdvance()" >Расширенный поиск</button>
    </form>

  </div>
   </div>


<div class="notfound">

  <div *ngIf="this.sNullValueFind.length>0">
        <app-dialogminimum name={{sNullValueFind}}></app-dialogminimum>
  </div>


 </div>


