.cv-box{
  width: 100%;
  margin: 0 auto;
}
.line{
  width: 100%;
  margin-top: 1%;
  position: relative;
}
label{
  font-size: 1.1em;
  color: #0262d2;
  text-align: left;
}
.location{
  margin-left: 13px;
}
.salary{
  margin-left: 270px;
}
.inputCity{
  font-size: 1em;
  text-align: center;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 275px;
  height: 39px;
  margin-left: 15px;
}
.inputSalaryFrom{
  font-size: 1em;
  text-align: center;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 141px;
  height: 40px;
  margin-left: 43px;
}
.position{
  margin-left: 128px;
}
.inputPosition{
  font-size: 1em;
  text-align: center;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 647px;
  height: 40px;
  margin-left: 40px;
}
.labelSkillsAbilities{
  margin-left: 13px;
}
.inputSkillsAbilities{
  width: 1149px;
  height: 90px;
  margin-left: 15px;
}
.inputEducation{
  width: 1149px;
  height: 90px;
  margin-left: 15px;
}
.inputExperience{
  width: 1149px;
  height: 90px;
  margin-left: 15px;
}
.btn-save {
  border-radius: 3px;
  background-color: #0262d2;
  width: 255px;
  height: 50px;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  margin-left: 15px;
}
.btn-save:hover{
  background-color: #0066cc;
  font-weight:600;
}
.btn-save:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  font-weight: 600;
}
.btn-add {
  border-radius: 3px;
  background-color: #0262d2;
  width: 255px;
  height: 50px;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  margin-left: 2px;
}
.btn-add:hover{
  background-color: #0066cc;
  font-weight:600;
}
.btn-add:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  font-weight: 600;
}
