.wrapper{
  position: relative;
  font-family: "ProximaNovaRg";
  font-size: 1em;
  width: 100%;
  height: 180px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}
.top{
  width: 1170px;
  height: 42px;
  margin: 0 auto;
  font-size: 2em;
  font-family: "Proxima Nova";
}
.cv-box{
  width: 1170px;
  margin: 0 auto;
  position: relative;
}
label{
  font-size: 1.1em;
  font-family: "Proxima Nova";
  color: rgb(2, 98, 210);
  text-align: left;
}
.location{
  margin-top: 13px;
  margin-left: 15px;
  width: 600px;
}
.inputCity{

  font-size: 1em;
  font-family: "Proxima Nova";
  text-align: center;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 275px;
  height: 43px;
  margin-top: 41px;
  margin-left: 15px;
}
.salary{

  margin-top: 13px;
  margin-left: 344px;
}
.inputSalaryFrom{


  font-size: 1em;
  font-family: "Proxima Nova";
  text-align: center;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 138px;
  height: 40px;
  margin-top: 41px;
  margin-left: 345px;
}
.position{
  margin-top: 103px;
  margin-left: 15px;
}
.inputPosition{

  font-size: 1em;
  font-family: "Proxima Nova";
  text-align: center;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 467px;
  height: 40px;
  margin-top: 132px;
  margin-left: 15px;
}
.labelSkillsAbilities{
  margin-left: 13px;
  margin-top: 2px;
}
.inputSkillsAbilities{

  width: 848px;
  height: 90px;
  margin-left: 15px;
  margin-top: 45px;
}
.inputExperience{

  width: 848px;
  height: 90px;
  margin-left: 15px;
  margin-top: 31px;
}
.btn-save {
  display: inline-block;
  position: absolute;
  border-radius: 3px;
  background-color: #3366ff;
  width: 255px;
  height: 50px;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  margin-top: 42px;
  margin-left: 550px;
}
.btn-save:hover{
  background-color: #0066cc;
  font-weight:600;
}
.btn-save:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  font-weight: 600;
}
.btn-add {
  display: inline-block;
  position: absolute;
  border-radius: 3px;
  background-color: #3366ff;
  width: 255px;
  height: 50px;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  margin-top: 42px;
  margin-left: 2px;
}
.btn-add:hover{
  background-color: #0066cc;
  font-weight:600;
}
.btn-add:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  font-weight: 600;
}
