<app-header-top></app-header-top>

<div class="wrapper">
  <div class="top">{{'newcv.newcv23' | translate}}</div>

  <form [formGroup]="newCVForm">
    <div class="cv-box">

        <label for="inputCity" class="location">{{'allValue.сity' | translate}}</label>
        <label class="salary">{{'allValue.salary' | translate}}&nbsp;&nbsp;&nbsp;&#8364;</label>
        <label class="position">{{'newcv.gd23' | translate}}</label>

            <div class="line"> </div>

      <select id="inputCity" formControlName="inputCity" class="inputCity" [title]="'allValue.сity' | translate">
          <option  *ngFor="let lc of listCity" [value]="lc.name">
            {{lc.name}}
          </option>
        </select>

        <input type="text" class="inputSalaryFrom" formControlName="inputSalaryFrom" id="inputSalaryFrom" [placeholder]="'newcv.from23' | translate">
        <input type="text" class="inputPosition" formControlName="inputPosition" id="inputPosition" [placeholder]="'newcv.gd23' | translate">


      <div class="line">
        <label class="labelSkillsAbilities">{{'newcv.onu23' | translate}}</label>
      </div>
      <div class="line">
        <textarea class="inputSkillsAbilities" [title]="'newcv.onu231000' | translate" formControlName="inputSkillsAbilities" id="inputSkillsAbilities"
                  [placeholder]="'newcv.onu231000' | translate"></textarea>
      </div>
      <div class="line">
        <!-- Образование -->
        <app-cv-education></app-cv-education>
      </div>

      <label class="Education">{{'school' | translate}}</label>

      <div class="line">
      <textarea class="inputEducation" [title]="'newcv.u231000' | translate"
                formControlName="inputEducation" id="inputEducation" [placeholder]="'newcv.u231000' | translate"></textarea>
      </div>
      <div class="line">
        <ng-container #spotLanguage></ng-container>
        <button class="btn-add"  (click)="createNewLanguageBlock()">{{'newcv.addlang23' | translate}}</button>
      </div>

      <div class="line">
        <!-- Опыт работы -->
        <app-cv-experience></app-cv-experience>
      </div>

      <div class="line">
        <ng-container #spot></ng-container>
        <button class="btn-add"  (click)="createNewBlock()">{{'newcv.addplacework23' | translate}}</button>
      </div>

      <div class="line">
        <!-- Занятость -->
        <app-cv-employment></app-cv-employment>
      </div>
      <div class="line">
        <!-- график работы -->
        <app-cv-schedule></app-cv-schedule>
      </div>


      <!-- Отрасль -->
      <app-cv_industry></app-cv_industry>

      <label class="Education">{{'newcv.additionalInfo' | translate}}</label>

      <div class="line">
      <textarea class="inputExperience" [title]="'allValue.experience1000' | translate"
                formControlName="inputExperience" id="inputExperience" [placeholder]="'newcv.additionalInfo1000' | translate"></textarea>
      </div>

      <div class="line">
        <button class="btn-save"  (click)="newcv()">{{'newcv.savecv23' | translate}}</button>
        <button class="btn-cancel" routerLink="/cv-list" routerLinkActive="active">{{'allValue.Cancel' | translate}}</button>

      </div>
      <div class="attention">{{'allValue.publishText' | translate}}</div>
    </div>
  </form>

</div>
