<!-- Новая строка для запуска Джейсон-Сервера. Добавляет файл с путями, без которого не будет удаления.

json-server src/db.json --routes src/routes.json

.AB1{color: #162238}
.AB2{color: #324359}
.AB3{color: #707F8C}
.AB4{color: #D9D9D9}
.AB5{color: #F2F2F0}


Резюме. Прописать стили.
Если нажали кнопку - В избранное - Показывать текст - В избранном, может звездочку еще добавить чтобы было лучше видно.
Стили в выпадающих меню - доделать
Предупреждения при вводах проверять
Маска телефона и вебсайта
В больших описаниях ловить Энтер
Повесить Alt на логотип. Для перехода к описанию компании.
Внесение дат - неудобно. Добавить по сегодняшний день в первую работу, в следующие не надо.
Не работает кнопка - Не показывать
В Описании вакансии добавить кнопки - Откликнутся, В избранное, Не показывать.
В О компании не кликабельна ссылка на сайт и ссылка Email.
Иногда выскакивает надпись - Результат поиска не дал результатов.
Ограничить текст письма 3000 знаков.
В новой и редактируемой вакансии не давать вводить больше лимита и отрубать лишнее.
Отображать количество введенных знаков.
Пагинатор на 5 работает криво. Нет переключения на вторую страницу.



-->

<app-header-top></app-header-top>

<div class="container">
  <h3>Отрасль</h3>

  <div class="row align-items-start">
    <div class="form-group form-check">

    <div class="row">
      <div class="form-group form-check">
      <ul>
        <li> <input type="checkbox" class="form-check-input" id="industryCheck1" title="Автомобильный бизнес">Автомобильный бизнес</li>
        <li><input type="checkbox" class="form-check-input" id="industryCheck2" title="Гостиницы, рестораны, общепит, кейтеринг">Гостиницы, рестораны, общепит, кейтеринг</li>
        <li><input type="checkbox" class="form-check-input" id="industryCheck3" title="Государственные организации">Государственные организации</li>
        <li> <input type="checkbox" class="form-check-input" id="industryCheck4" title="Добывающая отрасль">Добывающая отрасль</li>
        <li> <input type="checkbox" class="form-check-input" id="industryCheck5" title="ЖКХ">ЖКХ<br />
        <li><input type="checkbox" class="form-check-input" id="industryCheck6" title="Информационные технологии, системная интеграция, интернет">Информационные технологии, системная интеграция, интернет</li>
        <li> <input type="checkbox" class="form-check-input" id="industryCheck7" title="Искусство, культура">Искусство, культура</li>
        <li> <input type="checkbox" class="form-check-input" id="industryCheck8" title="Лесная промышленность, деревообработка">Лесная промышленность, деревообработка</li>
        <li> <input type="checkbox" class="form-check-input" id="industryCheck9" title="Медицина, фармацевтика, аптеки">Медицина, фармацевтика, аптеки</li>
        <li> <input type="checkbox" class="form-check-input" id="industryCheck10" title="Металлургия, металлообработка">Металлургия, металлообработка</li>
        <li><input type="checkbox" class="form-check-input" id="industryCheck11" title="Нефть и газ">Нефть и газ</li>
        <li> <input type="checkbox" class="form-check-input" id="industryCheck12" title="Образовательные учреждения">Образовательные учреждения</li>
        <li> <input type="checkbox" class="form-check-input" id="industryCheck13" title="Общественная деятельность, партии, благотворительность, НКО">Общественная деятельность, партии, благотворительность, НКО</li>
        <li> <input type="checkbox" class="form-check-input" id="industryCheck14" title="Перевозки, логистика, склад, ВЭД">Перевозки, логистика, склад, ВЭД</li>
        <li> <input type="checkbox" class="form-check-input" id="industryCheck15" title="Продукты питания">Продукты питания<br />
        <li> <input type="checkbox" class="form-check-input" id="industryCheck16" title="Промышленное оборудование, техника, станки и комплектующие">Промышленное оборудование, техника, станки и комплектующие</li>
        <li> <input type="checkbox" class="form-check-input" id="industryCheck17" title="Розничная торговля">Розничная торговля</li>
        <li> <input type="checkbox" class="form-check-input" id="industryCheck18" title="СМИ, маркетинг, реклама, BTL, PR, дизайн, продюсирование">СМИ, маркетинг, реклама, BTL, PR, дизайн, продюсирование</li>
        <li> <input type="checkbox" class="form-check-input" id="industryCheck19" title="Сельское хозяйство">Сельское хозяйство<br />
        <li> <input type="checkbox" class="form-check-input" id="industryCheck20" title="Строительство, недвижимость, эксплуатация, проектирование">Строительство, недвижимость, эксплуатация, проектирование</li>
        <li> <input type="checkbox" class="form-check-input" id="industryCheck21" title="Телекоммуникации, связь">Телекоммуникации, связь</li>
        <li> <input type="checkbox" class="form-check-input" id="industryCheck22" title="Товары народного потребления (непищевые">Товары народного потребления (непищевые</li>
        <li> <input type="checkbox" class="form-check-input" id="industryCheck23" title="Тяжелое машиностроение">Тяжелое машиностроение<br />
        <li> <input type="checkbox" class="form-check-input" id="industryCheck24" title="Управление многопрофильными активами">Управление многопрофильными активами</li>
        <li><input type="checkbox" class="form-check-input" id="industryCheck25" title="Услуги для бизнеса">Услуги для бизнеса</li>
        <li><input type="checkbox" class="form-check-input" id="industryCheck26" title="Услуги для населения">Услуги для населения<br />
        <li><input type="checkbox" class="form-check-input" id="industryCheck27" title="Финансовый сектор">Финансовый сектор</li>
        <li><input type="checkbox" class="form-check-input" id="industryCheck28" title="Химическое производство, удобрения">Химическое производство, удобрения</li>
        <li><input type="checkbox" class="form-check-input" id="industryCheck29" title="Электроника, приборостроение, бытовая техника, компьютеры и оргтехника">Электроника, приборостроение, бытовая техника, компьютеры и оргтехника</li>
        <li><input type="checkbox" class="form-check-input" id="industryCheck30" title="Энергетика">Энергетика<br />
      </ul>
      </div>
    </div>
  </div>
  </div>

    <h3>Занятость</h3><br>

    <div class="row align-items-start">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="employmentCheck1" title="Полная занятость">Полная занятость<br>
        <input type="checkbox" class="form-check-input" id="employmentCheck2" title="Частичная занятость">Частичная занятость<br>
        <input type="checkbox" class="form-check-input" id="employmentCheck3" title="Проектная работа">Проектная работа<br>
        <input type="checkbox" class="form-check-input" id="employmentCheck4" title="Стажировка">Стажировка<br>
        <input type="checkbox" class="form-check-input" id="employmentCheck5" title="Волонтерство">Волонтерство<br>
      </div>
    </div>



<h3>График работы</h3>
<div class="row align-items-start">
  <div class="form-group form-check">

    <input type="checkbox" class="form-check-input" id="grafikCheck1" title="Полный день">Полный день<br />
    <input type="checkbox" class="form-check-input" id="grafikCheck2" title="Гибкий график">Гибкий график<br />
    <input type="checkbox" class="form-check-input" id="grafikCheck3" title="Сменный график">Сменный график<br />
    <input type="checkbox" class="form-check-input" id="grafikCheck4" title="Вахтовый метод">Вахтовый метод<br />
    <input type="checkbox" class="form-check-input" id="grafikCheck5" title="Удаленная работа">Удаленная работа<br />
  </div>
</div>


  <div class="form-group row">
    <button type="submit" class="btn btn-primary">Отправить</button>
</div>


</div>

<div class="row">
  <div class="col-3">
<p>
  <a class="nav-link" routerLink="/header-top" routerLinkActive="active">Шапка сайта</a><br>
  <a class="nav-link" routerLink="/login" routerLinkActive="active">Логин</a><br>
  <a class="nav-link" routerLink="/advanced-search" routerLinkActive="active">Расширенный поиск</a><br>
  <a class="nav-link" routerLink="/register" routerLinkActive="active">Регистрация</a><br>
  <a class="nav-link" routerLink="/employee" routerLinkActive="active">Регистрация соискателя</a><br>
  <a class="nav-link" routerLink="/employer" routerLinkActive="active">Регистрация работодателя</a><br>
  <a class="nav-link" routerLink="/home" routerLinkActive="active">Home.Тело первой страницы.</a><br>
  <a class="nav-link" routerLink="/rules" routerLinkActive="active">Правила сайта</a><br>
  <a class="nav-link" routerLink="/account-employee" routerLinkActive="active">Личный кабинет соискателя</a><br>
  <a class="nav-link" routerLink="/account-employer" routerLinkActive="active">Личный кабинет работодателя</a><br>
  <a class="nav-link" routerLink="/new-vacancy" routerLinkActive="active">Добавить вакансию</a><br>
  <a class="nav-link" routerLink="/header-top" routerLinkActive="active">Добавить резюме</a><br>
  <a class="nav-link" routerLink="/header-top" routerLinkActive="active">Шапка сайта</a><br>
  <a class="nav-link" routerLink="/header-top" routerLinkActive="active">Шапка сайта</a><br>
  <a class="nav-link" routerLink="/header-top" routerLinkActive="active">Шапка сайта</a><br>
  <a class="nav-link" routerLink="/header-top" routerLinkActive="active">Шапка сайта</a><br>
  <a class="nav-link" routerLink="/header-top" routerLinkActive="active">Шапка сайта</a><br>
  <a class="nav-link" routerLink="/header-top" routerLinkActive="active">Шапка сайта</a><br>
  <a class="nav-link" routerLink="/atemp" routerLinkActive="active">Временная страница</a><br>
</p>
</div>
</div>


<div class="form-row">
  <div class="input-group mb-3">

    <!--  --> <div class="vacancy">
      <input type="file" class="vacancy-input" id="validatedVacancy" required>
      <label class="custom-file-label" for="validatedVacancy">Загрузить резюме из файла</label>
      <div class="invalid-feedback">Формат файла не поддерживается</div>
    </div>

  </div>

<hr>
  <br> <br> <br> <br> <br> <br>
  <div class="form-row">
  <form class="form-inline">
    <div class="form-group mb-2">
      <label for="staticEmail2" class="sr-only">Email</label>
      <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword2" class="sr-only">Password</label>
      <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
  </form>

  </div>

</div>
