<div class="container">
  <app-header-top></app-header-top>
  <div class="wrapper">
    <div class="top">О нас !</div>

    <p>
      Здравствуйте !
    </p>
    <p>
      Мы являемся независимыми разработчиками программного обеспечения и нам захотелось внести свой скромный вклад в развитие эстонского бизнеса и делового мира.
    </p>
    <p>
      Для этого мы создали этот бесплатный сайт, где  все желающие могут предложить работу или ее найти.
    </p>
<p>
  Tere!
  Oleme sõltumatud tarkvara arendajad ja soovime anda oma panuse Eesti töö-ja ärimaailma arendamiseks.
  Avasime selleks tasuta saidi tööpakkumiste ja tööotsimiste avaldamiseks.

  Теперь приветствие-"

  Tere tulemast!!
  Suur tänu et meid külastasite.Loodame et leiate siit lahenduse oma probleemidele.""Добро пожаловать.Спасибо что нас посетили.Надеемся,что найдете здесь решение вашим проблемам."


</p>
  </div>

</div>



