<app-header-top></app-header-top>

<!--
<img src="./assets/img/CV/estTest.png">
-->


<div class="wrapper">
  <div class="cvorvac">
  <input   (click) = "OnClickV()" type="radio" name="rRowVCorCV" id="vCheck"  [checked]="bV" title="Показать вакансии">
       <label for="vCheck">{{'header-top.chrd' | translate}}</label>
  <input   (click) = "OnClickCV()" type="radio" name="rRowVCorCV" id="cvCheck" [checked]="bCV" title="Показать резюме">
    <label for="cvCheck">{{'header-top.chrdcv' | translate}}</label>
</div>

</div>
<div *ngIf="!bCV; else employer_content">
  <app-home></app-home>
</div>

<ng-template #employer_content>
  <app-cvhome></app-cvhome>
</ng-template>





