<app-header-top></app-header-top>

<div class="wrapper">
  <div class="cvorv">
  <input   (click) = "OnClickV()" type="radio" name="rRowVCorCV" id="vCheck"  [checked]="bV" title="Показывать вакансии"><label for="vCheck">Вакансии</label>
  <input   (click) = "OnClickCV()" type="radio" name="rRowVCorCV" id="cvCheck" [checked]="bCV" title="Показывать резюме"><label for="cvCheck">Резюме</label>
</div>

</div>
<div *ngIf="!bCV; else employer_content">
  <app-home></app-home>
</div>

<ng-template #employer_content>
  <app-cvhome></app-cvhome>
</ng-template>





