<h3>Образование</h3>
<form [formGroup]="formEducation">
<div class="row align-items-start">
  <div class="form-group form-check">
    <div class="row" *ngFor="let item of listEducation">
      <input type="checkbox" class="form-check-input" formControlName="educationCheck{{item.id}}" id="educationCheck{{item.id}}" title={{item.name}}> {{item.name}}
    </div>
  </div>

  <textarea class="inputExperience" maxlength="3000" aria-label="Описание образования. До 3000 знаков"
            formControlName="inputExperience" id="inputExperience" placeholder="Описание образования. До 3000 знаков"></textarea>
</div>
</form>
