<p>
  <b>Описание вакансии</b>
</p>
<b>Город</b><br>
<div> {{this.descrDataVacancy?.CityName}}</div><br>
<b>Зарплата от</b><br>
<div *ngIf="this.descrDataVacancy">{{ this.descrDataVacancy['vacancy'].SalaryFrom}}</div><br>
<b>Зарплата до</b><br>
<div *ngIf="this.descrDataVacancy">{{ this.descrDataVacancy['vacancy'].Salary}}</div><br>
<b>Наименование</b><br>
<div *ngIf="this.descrDataVacancy">{{ this.descrDataVacancy['vacancy'].VacancyShortTitle}}</div><br>
<b>Описание</b><br>
<div *ngIf="this.descrDataVacancy">{{ this.descrDataVacancy['vacancy'].VacancyDescription}}</div><br>
<b>Подробности</b><br>
<div *ngIf="this.descrDataVacancy">{{ this.descrDataVacancy['vacancy'].VacancyBigDescription}}</div><br>
<b>Отрасль</b><br>
<div *ngFor="let sI of sIndusrtry"> {{sI}}<br> </div>
<b>График работы</b><br>
<div *ngFor="let sS of sSchedule"> {{sS}}<br> </div>
<b>Занятость</b><br>
<div *ngFor="let sEmp of sEmployment"> {{sEmp}}<br> </div>
<b>Образование</b><br>
<div *ngFor="let sEd of sEducation"> {{sEd}}<br> </div>
<b>Опыт работы</b><br>
<div *ngFor="let sExp of sExperience"> {{sExp}}<br> </div>

