.box{
  width: 100%;
  margin: 0 auto;
}

.head-line{
  background-color: #DFDFDF;
}

.column1{
  width:240px;
}
.column2{
  width:120px;
}

.column3{
  width:120px;
}

.column4{
  width:240px;
}


ul{
  list-style: none;
}
li{
  position: relative;
  display: inline-block;
}
