.box{
  position: relative;
  width: 100%;
  height: auto;
  margin: 30px auto;
  border-bottom: solid 1px #b7b7b7;
  color: rgb(68, 75, 84);
  text-align: left;
}
.title{
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #0262d2;
  text-align: left;
  width: 900px;
  margin-top: 16px;
  margin-left:15px;
}
.city-line{
  position: relative;
  display: block;
}
.city{
  text-align: left;
  width:12px;
  margin-top: 13px;
  margin-left: 15px;
  overflow: hidden;
}
.city-name{
  display: inline-block;
  font-size: 18px;
  font-family: "Proxima Nova","sans-serif";
  color: rgb(68, 75, 84);
  text-align: left;
  margin-top: 13px;
  margin-left: 42px;
  overflow: hidden;
}
.address{
  display: inline-block;
  font-size: 18px;
  color: rgb(68, 75, 84);
  text-align: left;
  margin-top: 13px;
  margin-left: 82px;
  overflow: hidden;
}
.logotype{
  float: left;
}
.company-name{
  position: relative;
  font-size: 30px;
  color: rgb(68, 75, 84);
  text-align: center;
  overflow: hidden;
  border-bottom: solid 1px #b7b7b7;
}
.value{
  margin-left:210px;
  font-size: 1em;
}
.valueTxt{
  display: inline-block;
  width:100%;
  margin: 30px 0 0 1px;
  padding: 1% 2% 2% 0;
}
.description{
  display: inline-block;
  position: absolute;
  color: rgb(68, 75, 84);
  width: 1130px;
  height: 80px;
  text-align: left;
  margin-top: 143px;
  margin-left: 15px;
  padding-right: 20px;
  overflow: auto;
}
label{
  position: absolute;
  color: #0262d2;
}
ul{
display: inline-block;
  margin-left: 4%;
}
li{
  list-style: none;
  margin-bottom: 3%;
}

/*
display: inline-block;
  font-size: 17px;
*/
