.wrapper{
  font-family: "ProximaNovaRg","sans-serif";
  font-size: 16px;
  width: 1170px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}
.topic{
  width: 100%;
  height: 36px;
  margin: 0 auto;
  border-bottom: 1px solid #b7b7b7;
  font-size: 30px;
  font-family: "Proxima Nova","sans-serif";
  color: rgb(68, 75, 84);
  text-align: left;
}
.box{
  position: relative;
  width: 100%;
  height: auto;
  margin: 30px auto;

  border-bottom: solid 1px #b7b7b7;

  font-family: "Proxima Nova","sans-serif";
  color: rgb(68, 75, 84);
  text-align: left;

}
.top{
  display: inline-block;
}
.title{
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-family: "Proxima Nova","sans-serif";
  color: #0262d2;
  text-align: left;
  width: 900px;
  margin-top: 16px;
  margin-left:15px;
}
.city-line{
  position: relative;
  display: block;
}
.city{
  text-align: left;
  width:12px;
  margin-top: 13px;
  margin-left: 15px;
  overflow: hidden;
}
.city-name{
  display: inline-block;
  font-size: 18px;
  font-family: "Proxima Nova","sans-serif";
  color: rgb(68, 75, 84);
  text-align: left;
  margin-top: 13px;
  margin-left: 42px;
  overflow: hidden;
}
.address{
  display: inline-block;
  font-size: 18px;
  font-family: "Proxima Nova","sans-serif";
  color: rgb(68, 75, 84);
  text-align: left;
  margin-top: 13px;
  margin-left: 82px;
  overflow: hidden;
}
.logotype{
  float: left;
}
.company-name{
  position: relative;
  font-size: 30px;
  max-width:90%;
  font-family: "Proxima Nova","sans-serif";
  color: rgb(68, 75, 84);
  text-align: left;
  margin-top: 21px;
  overflow: hidden;
}
.value{
  margin-left:210px;
  font-size: 18px;
}
.valueTxt{
  display: inline-block;
  width: 750px;
  margin: 30px 0 0 20px;
}
.description{
  display: inline-block;
  position: absolute;
  font-size: 16px;
  color: rgb(68, 75, 84);
  width: 1130px;
  height: 80px;
  text-align: left;
  margin-top: 143px;
  margin-left: 15px;
  padding-right: 20px;
  overflow: auto;
}
label{
  position: absolute;

  font-family: "Proxima Nova","sans-serif";
  color: #0262d2;
  margin-bottom: 10px;
}
ul{

}
li{
  list-style: none;
  margin-bottom:20px;
}

/*
display: inline-block;
  font-size: 17px;
*/
