<app-header-top></app-header-top>

<div class="wrapper">
  <div class="top">{{'allValue.aboutcomp' | translate}}</div>

  <div class="box">
    <div class="company-name">{{_myName}}</div>

   <div class="title">
    <div *ngIf="base64textString.length>0; then contentLoadAvatar else contentDefault">{{'about-company.uvnAC' | translate}}</div>
    <ng-template #contentLoadAvatar>
      <img class="logotype" [title]="'about-company.logoC' | translate" *ngFor="let item of base64textString"  src={{item}} [alt]="'about-company.logoC' | translate" id="img">
    </ng-template>

    <ng-template #contentDefault>
      <img src="/assets/img/no-photo.png"  [title]="'about-company.logoC' | translate" [alt]="'about-company.logoC' | translate" class="img-thumbnail">
    </ng-template>

    </div>
  <ul>
    <li><label>Email</label><div class="value"><a href="mailto:{{_myEmail}}">{{_myEmail}}&nbsp;</a></div></li>
    <li><label>Web-site</label><div class="value"> <a href="{{_myWeb}}" target="_blank">{{_myWeb}}&nbsp;</a></div></li>
   <!-- <li><label>{{'allValue.compname' | translate}}</label> <div class="value">{{_myUserName}}</div></li> -->
    <li><label>{{'allValue.сity' | translate}}</label><div class="value">{{this._myDisplayCity}}&nbsp;</div></li>
    <li><label>{{'allValue.postindex' | translate}}</label><div class="value">{{_myZip}}&nbsp;</div></li>
    <li><label>{{'allValue.address' | translate}}</label><div class="value">{{_myAddress}}&nbsp;</div></li>
    <li> <label>{{'allValue.tele' | translate}}</label><div class="value">{{_myPhone}}&nbsp;</div></li>
    <li><label>{{'allValue.tele2' | translate}}</label><div class="value">{{_myPhone2}}&nbsp;</div></li>
    <li><label>{{'allValue.contactF' | translate}}</label><div class="value">{{_myContactPerson}}</div></li>
  </ul>


    <!-- Достаточно  white-space: pre-wrap  -->
    <div  class="valueTxt">{{this._myAbout}}</div>

    <!--
   <div *ngIf="this._myAbout !== undefined">
     <div  class="valueTxt2"  appTextToHtml [sourceText]="this._myAbout"></div>
   </div>
     -->




  </div>
</div>


<app-footer></app-footer>
