.wrapper{
  width: 1170px;
  min-height: 300px;
  max-height: 500px;
  margin: 0 auto;
  color: rgb(68, 75, 84);
}
.messages-box{
  width: 100%;
  min-height: 300px;
  max-height: 650px;
  overflow: auto;
}
.message{
  margin: 0 auto;
}
.date{
  color: #F74933;
}
.from{
  float: right;
  color: #0262d2;
  font-size: 1.05em;
}
.txt{
  display: block;
  width: 100%;
  margin-top: 2%;
  color: rgb(68, 75, 84);
}
