<app-header-top></app-header-top>

<div class="wrapper">
  <div class="top">{{'forgot-password.vpFP' | translate}}</div>

  <div class="box">

    <span>{{'forgot-password.vipFP' | translate}}</span>

    <form [formGroup]="forgotForm" novalidate (ngSubmit)="submit()">

      <input type="text" class="forgot-pass" id="IDnameOrEmail" formControlName="nameOrEmail" [placeholder]="'forgot-password.ipieFP' | translate">

      <div class="wrong-account"
           *ngIf="forgotForm.controls['nameOrEmail'].touched && forgotForm.controls['nameOrEmail'].invalid">
        {{'forgot-password.err1FP' | translate}}
      </div>

      <button class="btn-forgot" href="#" role="button" [disabled]="forgotForm.invalid || stopCondition">{{'forgot-password.respFP' | translate}}</button>



      <ng-container *ngIf="showSucc">
        <div class="recovery-success">
          {{'forgot-password.sendMessageFP' | translate}}
        </div>
      </ng-container>


      <ng-container *ngIf="showErr">
        <div class="wrong-email">
          {{'forgot-password.err2FP' | translate}}
        </div>
      </ng-container>


    </form>

  </div>
</div>

<app-footer></app-footer>
