<app-header-top></app-header-top>
<h1>Cтраница восстановления пароля</h1>

<div class="form-row">
  <p>Введите имя пользователя или Email, и на Ваш электронный адрес будет выслано письмо со ссылкой на страницу смены пароля.</p>
</div>
<form [formGroup]="forgotForm" novalidate (ngSubmit)="submit()">
  <div class="form-row">
    <div class="form-group col-md-2">
      <input type="text" class="form-control" id="IDnameOrEmail" formControlName="nameOrEmail" placeholder="Имя пользователя или Email">
    </div>

    <div class="form-group col-md-3">

      <div class="alert alert-danger"
           *ngIf="forgotForm.controls['nameOrEmail'].touched && forgotForm.controls['nameOrEmail'].invalid">
        Не указан E-Mail или имя пользователя (минимум 2 символа)
      </div>

    </div>

    </div>

  <p class="lead">
    <button class="btn btn-primary btn-md" href="#" role="button" [disabled]="forgotForm.invalid">Получить ссылку</button>
  </p>


  <ng-container *ngIf="showSucc">
    <div class="alert alert-success" role="alert">
      На Ваш электронный адрес выслано письмо со ссылкой на страницу смены пароля.
  </div>
    </ng-container>


  <ng-container *ngIf="showErr">
  <div class="alert alert-danger" role="alert">
    Не существующие имя или почтовый адрес.
  </div>
  </ng-container>


</form>

