
ul{
  width: 400px;
}
li{
  display: inline-block;
  list-style: none;
  color: #484c54;
  padding-right: 10px;
}
li:hover{
  cursor: pointer;
}
.bigNumeral{
  color: #484c54;
  font-weight: bold;
}
.normalNumeral{
  color: #484c54;
}
/*

 div:focus {
 background-color: #00A4E4;

 border-radius: 3px;
 border-style: double;
 border-color: red; */
