ul{
  width: 100%;
}
li{
  display: inline-block;
  list-style: none;
  color: #484c54;
  padding-right: 10px;
}
li:hover{
  cursor: pointer;
}
.bigNumeral{
  color: #484c54;
  font-weight: bold;
}
.normalNumeral{
  color: #484c54;
}
#liexpert{
  background-color: red;
}
