<app-header-top></app-header-top>

<div class="wrapper">
  <div class="top">{{'vacancy-description.descr77'| translate}}</div>
  <div class="vacancy-box">

    <div class="title" *ngIf="this.descrDataVacancy">{{ this.descrDataVacancy.VacancyShortTitle}}</div>
 <div class="income">
      <span *ngIf="this.descrDataVacancy" class="salaryFrom">{{ this.descrDataVacancy.SalaryFrom}}&nbsp;-&nbsp;</span>
   <span *ngIf="this.descrDataVacancy" class="salaryMax">{{ this.descrDataVacancy.Salary}}</span> &#8364;
 </div>

<div class="city-line">
    <img class="city" src="/assets/img/city.png" [alt]="'allValue.сity' | translate">
    <span *ngIf="this.descrDataVacancy" class="city-name"> {{this.descrDataVacancy?.CityName}}</span>
    <span *ngIf="this.descrDataVacancy" class="address">{{this.sAddress}}</span>
  </div>


    <div class="logo-line">
    <div *ngIf="this.descrDataVacancy">

<!--
        <div *ngIf="this.descrDataVacancy.base64textString.length>0; then contentLoadAvatar else contentDefault">{{'vacancy-description.unot77' | translate}}</div>

        <ng-template #contentLoadAvatar>
          <img class="logotype-company" *ngFor="let item of this.descrDataVacancy.base64textString"  (click)="clickAboutCompany()" src={{item}} [alt]="'vacancy-description.lc77' | translate" id="img"
               [title]="'vacancy-description.moveinfo77' | translate">
        </ng-template>
-->

      <div *ngIf="this.sAvatarPath.length>0; then contentLoadAvatar else contentDefault">{{'vacancy-description.unot77' | translate}}</div>

      <ng-template #contentLoadAvatar>
        <img class="logotype-company" (click)="clickAboutCompany()" [src]="this.sAvatarPath"  [alt]="'vacancy-description.lc77' | translate" id="img"
             [title]="'vacancy-description.moveinfo77' | translate">
      </ng-template>

        <ng-template #contentDefault>
          <img class="logotype-company" src="/assets/img/no-photo.png"  [title]="'vacancy-description.moveinfo77' | translate" [alt]="'vacancy-description.lc77' | translate"  (click)="clickAboutCompany()">
        </ng-template>


    </div>

    <div class="company-name" [title]="'vacancy-description.moveinfo77' | translate" (click)="clickAboutCompany()">{{this.sEmployerName}}</div>

    </div>

       <label>{{'allValue.jobresponsibilities' | translate}}</label>
       <div class="jobFunction">
         <div class="desc-txt" *ngIf="this.descrDataVacancy">{{ this.descrDataVacancy.JobFunction }}</div>
       </div>

    <label>{{'allValue.requirements' | translate}}</label>
    <div class="vacancyRequirements">
      <div class="desc-txt" *ngIf="this.descrDataVacancy">{{ this.descrDataVacancy.VacancyRequirements }}</div>
    </div>


    <label>{{'allValue.if' | translate}}</label>
    <div class="vacancyConditions">
      <div *ngIf="this.descrDataVacancy">{{ this.descrDataVacancy.Conditions }}</div>
    </div>

    <label>{{'allValue.maturity' | translate}}</label>
    <div class="vacancyConditions">
      <div *ngFor="let sDP of sDisplayPeriod" class="descVac"> {{sDP}}</div>
    </div>

    <label>{{'allValue.Schedule' | translate}}</label>

    <div *ngFor="let sS of sSchedule" class="descVac"> {{sS}}</div>

    <label class="labelDescr">{{'allValue.Employment' | translate}}</label>

    <div *ngFor="let sEmp of sEmployment" class="descVac"> {{sEmp}}</div>

    <label class="labelDescr">{{'allValue.Education' | translate}}</label>

    <div *ngFor="let sEd of sEducation" class="descVac"> {{sEd}}</div>

    <label class="labelDescr">{{'allValue.experience' | translate}}</label>

    <div *ngFor="let sExp of sExperience" class="descVac"> {{sExp}}</div>

    <label>{{'allValue.Industry' | translate}}</label>

    <div *ngFor="let sI of sIndusrtry" class="descVac"> {{sI}}</div>


<div class="buttons">
    <div *ngIf="bConnected">
      <div *ngIf="!bEmployer">



            <button class="btn-response" type="button" id="vcresponse" [title]="'allValue.Response' | translate" (click)="vcResponse()">
              {{'allValue.Response' | translate}}
            </button>

            <button class="btn-favorites" type="button" id="vcfavorites" [title]="'vacancy-description.infavour77' | translate" (click)="vcFavour()">
                <img class="favor-star" src="/assets/img/favor-star.png" [title]="'allValue.DontShow' | translate">
              {{'vacancy-description.infavour77' | translate}}
            </button>

            <button class="btn-hide" type="button" id="vchide" [title]="'allValue.DontShow' | translate" (click)="vcDontShow()">
                <img class="crossed-eye" src="/assets/img/crossed-eye.png"  [title]="'allValue.DontShow' | translate">{{'allValue.DontShow' | translate}}
            </button>

      </div>
    </div>

    <div *ngIf="this.descrDataVacancy">{{this.descrDataVacancy.sErrorText}}</div>


    <!-- Если не залогинился, кнопки не активны начало -->
      <div *ngIf="!bConnected">

      <button class="btn-response-disabled" type="button" id="vcresponseDisabled" [title]="'buttons-disabled' | translate">
        {{'allValue.Response' | translate}}
      </button>

      <button class="btn-favorites-disabled" type="button" id="vcfavoritesDisabled" [title]="'buttons-disabled' | translate">
        <img class="favor-star" src="/assets/img/favor-star.png" [title]="'vacancy-description.infavour77' | translate">
        {{'vacancy-description.infavour77' | translate}}
      </button>

      <button class="btn-hide-disabled" type="button" id="vchideDisabled" [title]="'buttons-disabled' | translate">
        <img class="crossed-eye" src="/assets/img/crossed-eye.png"  [title]="'allValue.DontShow' | translate">
        {{'allValue.DontShow' | translate}}
      </button>
    </div>

    <!-- Если не залогинился, кнопки не активны конец -->
  </div>


</div>

</div>
