<app-header-top></app-header-top>
<div class="wrapper">
  <div class="top">{{'register.regR' | translate}}</div>

  <div class="box">

    <span>{{'register.voivrR' | translate}}</span>

        <input  class="radio-employee" (change)="newFunction($event)" type="radio" name="registerRadios" id="rEmployee" >
        <label class="label-employee" for="rEmployee">
          {{'register.sR' | translate}}
        </label>

        <input class="radio-employer"  (change)="newFunction($event)" type="radio" name="registerRadios" id="rEmployer" >
        <label class="label-employer" for="rEmployer">
          {{'register.rrR' | translate}}
        </label>

    </div>
  </div>

