.wrapper{
  width: 100%;
  height: auto;
  margin: 0 auto;
  color: rgb(68, 75, 84);
}
.top{
  width: 1170px;
  height: 36px;
  margin: 0 auto;
  font-size: 26px;
  font-family: "ProximaNovaRg";
  text-align: left;
  padding-bottom: 15px;
  padding-top: 10px;
  border-bottom: solid 1px;
  border-color: #b7b7b7;
}


