
<div class="container">
<h3>Центр сообщений</h3>
  <div class="row">
    <div class="col-6">
    <a class="nav-link" routerLink="/messages" routerLinkActive="active">Cообщения<span class="badge badge-secondary">3</span></a>
       </div>
    <app-messages></app-messages>
</div>

  <div class="row">
    <div class="col-6">
        <a class="nav-link" routerLink="/info" routerLinkActive="active">Информация<span class="badge badge-secondary">2</span></a>
    </div>
  </div>

  <app-info></app-info>
</div>
