<app-header-top></app-header-top>

<div class="wrapper">
  <div class="top">{{'register-employer.rr1RER' | translate}}</div>
  <div class="box">

<form [formGroup]="formRegisterEmployer" novalidate (ngSubmit)="submit()">

  <label class="userName">{{'register-employer.rr2RER' | translate}}</label>
  <input type="text" class="form-control" id="userName" formControlName="userName" [placeholder]="'allValue.UserName' | translate">

    <div>
      <!-- Проверяем вносимый логин. Если логин уже есть в базе, показываем лейбл -Имя пользователя занято, или наоборот -->

      <div class="alertWrong"
           *ngIf="formRegisterEmployer.controls['userName'].touched && formRegisterEmployer.controls['userName'].value.length === 0 ">
        {{'register-employer.rr3RER' | translate}}
      </div>

      <div *ngIf="formRegisterEmployer.controls['userName'].value.length > 0">
        <div *ngIf="formRegisterEmployer.controls['userName'].invalid; else trueUserNameTemplate">
          <div class="alertWrong">{{'register-employer.rr4RER' | translate}}</div>
        </div>

        <ng-template #trueUserNameTemplate>
          <div class="alertSuccess">{{'register-employer.rr5RER' | translate}}</div>
        </ng-template>

      </div>
      <!-- закончили проверку логина -->
    </div>

  <div class="form-row">

    <div class="form-group col-md-3">

      <label for="inputEmail">Email</label>

      <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="userEmail">

    </div>

    <!-- начало обработки почтовых ошибок -->

    <div *ngIf="formRegisterEmployer.controls['userEmail'].dirty">
      <div class="alertWrong"
           *ngIf="formRegisterEmployer.controls['userEmail'].value.length === 0 ">
        {{'register-employer.rr6RER' | translate}}
      </div>

      <div *ngIf="formRegisterEmployer.controls['userEmail'].value.length > 0">
        <div *ngIf="formRegisterEmployer.controls['userEmail'].invalid; else trueSucc">
          <div class="alertWrong"
               *ngIf="formRegisterEmployer.controls['userEmail'].hasError('errorEmailExists') === true">
            {{'register-employer.rr7RER' | translate}}
          </div>

          <div class="alertWrong"
               *ngIf="formRegisterEmployer.controls['userEmail'].hasError('email') === true">
            {{'register-employer.rr8RER' | translate}}
          </div>

        </div>

        <ng-template #trueSucc>
          <div class="alertSuccess">{{'register-employer.rr8_1RER' | translate}}</div>
        </ng-template>
      </div>
    </div>
    <!-- закончили обработку почтовых ошибок -->
  </div>


      <label for="inputPassword1">{{'register-employer.rr9RER' | translate}}</label>
      <input type="password" class="form-control" id="inputPassword1" placeholder="Password" formControlName="userPassword1">
      <label for="inputPassword1">{{'register-employer.rr10RER' | translate}}</label>
      <input type="password" class="form-control" id="inputPassword2" placeholder="Password" formControlName="userPassword2">

      <div *ngIf="formRegisterEmployer.controls['userPassword2'].value.length > 0">
        <div *ngIf="formRegisterEmployer.controls['userPassword2'].invalid; else truePassword2Template">
            <div class="alertWrong">{{'register-employer.rr11RER' | translate}}</div>
        </div>
      </div>

    <ng-template #truePassword2Template>
        <div class="alertSuccess">{{'register-employer.rr12RER' | translate}}</div>
    </ng-template>




  <label class="rules-link" (click)="licenseShow()">{{'register-employer.rr13RER' | translate}}</label>
  <div class="licenseText" *ngIf="bLicense">

    <div *ngIf="idLang == 1">
      <app-rules-ee></app-rules-ee>
    </div>

    <div *ngIf="idLang == 2">
      <app-rules-en></app-rules-en>
    </div>

    <div *ngIf="idLang == 0">
      <app-rules-ru></app-rules-ru>
    </div>

  </div>

    <input class="form-check-input" type="checkbox" formControlName="cbLicense" id="cbLicense" [title]="'register-employer.rr14RER' | translate">
        <div class="form-check-label">{{'' | translate}}</div>
  <label for="cbLicense" class="form-check-label" >{{'register-employer.rr15RER' | translate}}</label>

      <div class="alertRegister"
           *ngIf="formRegisterEmployer.controls['cbLicense'].invalid && formRegisterEmployer.controls['cbLicense'].touched">
        {{'register-employer.rr16RER' | translate}}
      </div>


  <button class="btn-register" [disabled]="formRegisterEmployer.invalid">{{'register-employer.rr17RER' | translate}}</button>

</form>
  </div>
</div>
