<app-header-top></app-header-top>

<h3>Личный кабинет соискателя</h3>

<form>
   <div class="form-row">
    <div class="form-group col-md-3">
      <input type="text" class="form-control" id="inputName" placeholder="Имя">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-2">
      <input type="text" class="form-control" id="inputLastname" placeholder="Фамилия">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="inputAddress">Адрес</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Адрес">
    </div>
  </div>

  <div class="form-group">
    <label for="inputAddress2">Фактический адрес</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Внесите фактический адрес">
  </div>
  <!--

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputState">Область</label>
        <select id="inputState" class="form-control">
          <option selected>Выбрать...</option>
          <option>Харьюма</option>
          <option>Ида-Вырума</option>
        </select>
      </div> -->


  <div class="form-group col-md-4">
    <label for="inputCity">Город</label>
    <select id="inputCity" class="form-control">
      <option selected>Выбрать...</option>
      <option>Таллин</option>
      <option>Тарту</option>
    </select>
  </div>

  <div class="form-group col-md-2">
    <label for="inputZip">Индекс</label>
    <input type="text" class="form-control" id="inputZip">
  </div>

  </form>
<br>

<div class="jumbotron">
  <h1 class="display-4"></h1>
  <p class="lead"></p>
  <hr class="my-6">
  <p></p>
  <p class="lead">
  </p>
</div>

<app-footer></app-footer>

