<app-header-top></app-header-top>

<div class="wrapper">
  <div class="top">Мой профиль</div>

  <div class="profile">
    <div class="v-line"></div>
    <label class="personal">Личные данные соискателя</label>

    <!--
        <img class="img-thumbnail" src="/assets/img/usernull.png" alt="Фото" title="Загрузить фото" height="103px" width="103px">
        -->

    <form [formGroup]="form">
      <div *ngIf="base64textString.length>0;then contentLoadAvatar else contentDefault">условия выполнить невозможно</div>
      <ng-template #contentLoadAvatar>
        <img class="logotype" *ngFor="let item of base64textString"  src={{item}} alt="Загрузить фото" id="img" onclick="document.getElementById('avatar').click()">
      </ng-template>

      <ng-template #contentDefault>
        <img src="/assets/img/usernull.png" class="img-thumbnail" onclick="document.getElementById('avatar').click()">
      </ng-template>

      <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput style="display:none">
      <label class="clear" (click)="clearFile()">{{'account-employer.clear' | translate}}</label>
    </form>

    <form class="employee-form" [formGroup]="accountEmployeeForm">

     <label class="photo-upload" onclick="document.getElementById('avatar').click()">Загрузить фото</label>

      <label class="user-name">{{'allValue.UserName' | translate}}</label>
      <input type="text" class="inputUserName" id="inputUserName" formControlName="inputUserName" placeholder="введите имя пользователя" maxlength="100">

      <label class="email">Email</label>
      <input type="text" class="inputEmail" id="inputEmail" formControlName="inputEmail" placeholder="введите Email">


      <label class="gender">Выбрать пол</label>
      <select class="inputGender" id="inputGender" formControlName="inputGender"  title="Выбрать пол">
        <option  *ngFor="let gl of genderList" [value]="gl.name">
          {{gl.name}}
        </option>
      </select>


      <label class="birth" for="inputBirth">Дата рождения</label>
      <input  class="inputBirth" type="date" id="inputBirth" name="inputBirth" formControlName="inputBirth">


      <!-- начало обработки почтовых ошибок -->

      <div *ngIf="accountEmployeeForm.controls['inputEmail'].dirty">

        <div class="alert alert-danger"
             *ngIf="accountEmployeeForm.controls['inputEmail'].value.length === 0 ">
          Не указан Email.
        </div>

        <div *ngIf="accountEmployeeForm.controls['inputEmail'].value.length > 0">
          <div *ngIf="accountEmployeeForm.controls['inputEmail'].invalid; else trueSucc">
            <div class="alert alert-danger"
                 *ngIf="accountEmployeeForm.controls['inputEmail'].hasError('errorEmailExists') === true">
              Данный Email уже занят.
            </div>

            <div class="alert alert-danger"
                 *ngIf="accountEmployeeForm.controls['inputEmail'].hasError('email') === true">
              Неверно введен Email.
            </div>

          </div>

          <ng-template #trueSucc>

            <div class="alert alert-info">Email свободен.</div>

          </ng-template>

        </div>

      </div>

      <!-- закончили обработку почтовых ошибок -->

      <label class="name">Имя</label>
      <input type="text" class="input-name" id="inputName" formControlName="inputName" placeholder="Имя">

      <label class="lastname">Фамилия</label>
      <input type="text" class="inputLastname" id="inputLastname" formControlName="inputLastName" placeholder="введите фамилию">

      <label class="location">{{'allValue.сity' | translate}}</label>
      <select id="inputCity" formControlName="inputCity" class="inputCity" [title]="'allValue.сity' | translate">
        <option  *ngFor="let lc of listCity" [value]="lc.name">
          {{lc.name}}
        </option>
      </select>

      <label class="zip">{{'allValue.postindex' | translate}}</label>
      <input type="text" class="inputZip" id="inputZip" formControlName="inputZip" placeholder="введите индекс">


      <label class="home-address">Домашний адрес</label>
      <input type="text" class="inputHomeAddress" id="inputAddress" formControlName="inputAddress" placeholder="Домашний адрес" maxlength="100">

      <label class="phone">{{'allValue.tele' | translate}}</label>
      <input type="text" class="inputPhone" id="inputPhone" formControlName="inputPhone" [placeholder]="'allValue.tele' | translate">



      <img class="img-lock" src="/assets/img/lock.png" [alt]="'allValue.changepwd' | translate" [title]="'allValue.changepwd' | translate">

      <label class="changePass" (click)="accessPassword()"> {{'allValue.changepwd2' | translate}} </label>

      <ng-container *ngIf="bShowChangePassword">
        <div class="changepassBox">
          <input type="password" class="inputNewPassword1" id="inputNewPassword1" formControlName="inputNewPassword1" placeholder="Введите новый пароль">
          <input type="password" class="inputNewPassword2" id="inputNewPassword2" formControlName="inputNewPassword2" placeholder="Повторите пароль">

          <div *ngIf="accountEmployeeForm.controls['inputNewPassword2'].value.length > 0">
            <div *ngIf="accountEmployeeForm.controls['inputNewPassword2'].invalid; else truePassword2Template">
              <div class="alert alert-danger">Повторный пароль не совпадает</div>
            </div>
          </div>

          <ng-template #truePassword2Template>
            <div class="alert alert-info">Пароль совпал</div>
          </ng-template>

          <button type="submit" class="btn-newPassword" (click)="NewPassword()">{{'allValue.changepwd2' | translate}}</button>
          <ng-container *ngIf="bPasswordNew">Пароль изменен</ng-container>
          <div class="alert-pass" *ngIf="bErrorRepeatPassword">Пароли не совпадают</div>
          <div class="alert-pass" *ngIf="bErrorEmptyPassword">Пароли не должны быть пустыми</div>
          <button class="btn-newPasswordCancel" (click)="DisappearFrame()">{{'allValue.Cancel' | translate}}</button>
        </div>

      </ng-container>
    </form>


    <!-- [disabled]="accountEmployeeForm.invalid" -->

    <button type="submit" class="btn-save" (click)="savecv()" [disabled]="accountEmployeeForm.invalid" >{{'allValue.save' | translate}}</button>
    <button type="submit" class="btn-cancel" (click)="back()">{{'allValue.Cancel' | translate}}</button>


  </div>
</div>



<app-footer></app-footer>
