<h2>Määratlused</h2>
<p>
  <span>MUCV</span> või <span>Sait</span> on kogum programmilisi ja muid vahendeid mis lubavad ressursi kasutajatel saada ligipääsu tööpakkumiste ja CVde baasile ja
  samuti pakub kasutajatele tasuta teenuseid mis on seotud CVde sisestamisega,tööpakkumiste avaldamisega ja nende läbivaatamisega.</p>


<p> <span>Külastaja-iga</span> isik kes ei ole teostanud oma kontole sisenemise protseduuri või isik kes ei ole saidil registreeritud.</p>

<p> <span>Kasutaja-iga</span> isik kes on ennast saidil registreerinud ja andnud oma nõusoleku MUCV kasutamise eeskirjadega.</p>

<p> <span>Kasutaja</span> kes vabatahtlikult avaldab saidil oma personaalsed andmed ja on nende andmete subjektiks nõustub sellega,et avaldades saidil oma personaalsed andmed teeb ta need kättesaadavaks kõigile saidi külastajatele.</p>

<p> <span>Kasutaja</span> konto-kogum saidi teenuseid mis on kasutajale kättesaadav.Konto kasutajaks on isik kes omab õiguslikku juurdepääsu <span>Kasutaja</span> kontos märgitud e-posti aadressile.</p>

<p>Andmete töötlus-sealhulgas ka isiklike, viiakse läbi <span>MUCV</span> tehniliste vahenditega saidi töö parandamise eesmärgil.Ükski informatsioon <span>MUCV</span> andmete baasist ei satu töötlemisele saidiga mitte seotud inimestele. </p>


<h2>Kasutuseeskirjad</h2>

<p>  <span>MUCV</span> ei kanna vastutust nende konfidentsaalsuse säilitamise või sanktsioneerimata kasutamise eest kolmandate isikute poolt.</p>
<p>  <span>MUCV</span> ei kanna vastutust võimalike kasutajate isiklike andmete kuritarvitamise eest mis on toimunud juurdepääsul andmetele MUSVle mitte alluvatele tehniliste või muude vahenditega.</p>

<p> <span>Kasutaja</span> võib igal ajal läbi vaadata,muuta või eemaldada oma personaalsed või muud andmed konto kaasaarvatud läbi kasutaja menüü saidi kasutajaliitmes.</p>

<p> Konto eemaldamisel <span>Kasutaja</span> poolt kõik andmed(informatsioon kasutajast,CV,tööpakkumised,isiklik kirjavahetus j.n.e.) mis on seotud selle kontoga kustutatakse ära ja taastamisele ei kuulu.</p>

<p> <span>MUCV</span> ei kanna vastutust kasutaja poolt esitatud andmete õigsuse eest.</p>

<p> On keelatud igasuguste saidil olevate andmete kasutamine kolmandate isikute poolt ilma eelneva <span>MUCV</span> nõusolekuta.</p>

<p>  On keelatud saidile paigutamine reklaami sisaldavad informatsiooni ja samuti muud informatsiooni mis ei ole seotud töö pakkumise või töö otsimisega.</p>

<p> Antud eeskirjade rikkumisel omab <span>MUCV</span> õigust eemaldada kasutajate kontod hoiatamata.</p>

<p> <span>MUCV</span> ei kanna mingit vastutust ja ei ole kuidagi seotud kasutajate(tööandjate ja tööotsijate) vahel sõlmitud kokkulepetega,need jaavad eranditult kahepoolseks.</p>

<p> Vastu võttes antud eeskirjad kasutaja nõustub sellega,et saidi kasutamise mugavuseks <span>MUCV</span> kasutab cookie.</p>

<p>Antud eeskirjad võivad olla täiendatud või muudetud <span>MUCV</span> poolt, millest kasutajat teavitatakse e-posti teel.Juhul kui kasutaja ei nõustu
  sisseviidud muudatustega peab ta eemaldama oma konto ja  loobuma saidi kasutamisest.Saidi kasutamise jatkamisel kasutaja kinnitab oma nõusolekut sisseviidud muudatustega.</p>

