<div class="wrapper">
  <div class="top">
    Информация
  </div>




  <div class="message" id="message" *ngFor="let curInfo of myDataInfo; let i = index" (click)="curInfoClick(curInfo.id, $event)">

    <div [class.boldInfo]="curInfo.bOld === false">

      <div class="v-line"></div>
      <ul class="headline">
        <li class="date">Дата</li>
        <li class="from">От</li>
        <li class="subject">Тема</li>
      </ul>

      <ul class="bline">
        <li class="date">{{curInfo.DateInfo}}</li>
        <li class="from">MYCV</li>
        <li class="subject">{{curInfo.infotheme}} </li>
      </ul>

    </div>


  </div>


</div>
