<div class="wrapper">
  <div class="top">
    Информация
  </div>


  <div class="message">


    <ul class="headline">
      <li class="date">Дата</li>
      <li class="from">От</li>
      <li class="subject">Тема</li>
    </ul>

    <ul class="bline">
      <li class="date">12.09.2018</li>
      <li class="from">MUCV</li>
      <li class="subject">Выгодные предложения по рекламе</li>
    </ul>



  </div>
  <div class="message">


    <ul class="headline">
      <li class="date">Дата</li>
      <li class="from">От</li>
      <li class="subject">Тема</li>
    </ul>

    <ul class="bline">
      <li class="date">06.11.2018</li>
      <li class="from">MUCV</li>
      <li class="subject">Большой баннер всего за 100$</li>
    </ul>

  </div>
</div>
