<div class="Container"></div>
<p class="location"><span class="glyphicon glyphicon-envelope" aria-hidden="false"></span> <a href="mailto:info@example.com">info@example.com</a></p>
<p class="phonenum"><span class="glyphicon glyphicon-earphone" aria-hidden="false"></span> + 655 8858 54892</p>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Активный</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Ссылка 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Ссылка 2</a>
  </li>
 </ul>

