<div class="container">
<app-header-top></app-header-top>

<div class="wrapper">
  <div class="top">{{'vacancies.allvac' | translate}}</div>

  <div class="box" *ngFor="let item of vacanciesList; let i = index;">

    <ul class="head-line">
      <li class="date-head">{{'allValue.date' | translate}}</li>
      <li class="city-head">{{'allValue.сity' | translate}}</li>
      <li class="salary-head">{{'allValue.salary' | translate}}</li>
      <li class="position-head">{{'cv-list.dl' | translate}}</li>
      <li class="choice">{{'allValue.selectaction' | translate}}</li>
    </ul>


   <ul [ngClass]="item.bPublish===1 ? 'botom-line': 'botom-line-gainsboro'">

      <li class="date">{{item.DateTimeCreate | date: 'dd-MM-yyyy'}}</li>
      <li class="city">{{item.CityName}}</li>
      <li class="salary">{{item.Salary}} &#8364;</li>
       <li class="position">{{item.VacancyShortTitle}}</li>
      <li class="choice-data">


        <select class="selectChoice" [title]="'allValue.selectaction' | translate"
                                     (change)= "brokerSelected($event,item, i)"
                                     [(ngModel)]="contactMethods[i].id">

              <option [value]="0" [selected]="contactMethods[i].id === 0">...</option>

             <ng-container *ngIf = "item.bPublish===0">
                <option [value]="5" [selected]="contactMethods[i].id === 5">{{'allValue.publishV' | translate}}</option>
              </ng-container>

              <option [value]="1" [selected]="contactMethods[i].id === 1">{{'allValue.view' | translate}}</option>
              <option [value]="2" [selected]="contactMethods[i].id === 2">{{'allValue.edit' | translate}}</option>
              <option [value]="3" [selected]="contactMethods[i].id === 3">{{'allValue.createcopy' | translate}}</option>
              <option [value]="4" [selected]="contactMethods[i].id === 4">{{'allValue.delete' | translate}}</option>

        </select>

      </li>
    </ul>


    <div class="deleteCorrespondence" *ngIf="contactMethods[i].bDelete === true">
      <span class="question">{{'allValue.deletevacancyquestion' | translate}}</span>
      <button type="button" class="btn-delete" (click)="DeleteElement(item,i)">{{'cv-list.yes' | translate}}</button>
      <button type="button" class="btn-delete" (click)="UnDeleteElement(item,i)">{{'cv-list.no' | translate}}</button>
    </div>

    <div class="deleteCorrespondence" *ngIf="contactMethods[i].bSuccPublish === true">
      <span class="question">{{'allValue.publishvacancyquestion' | translate}}</span>
      <button type="button" class="btn-delete" (click)="PublishElement(item,i)">{{'cv-list.yes' | translate}}</button>
      <button type="button" class="btn-delete" (click)="UnPublishElement(item,i)">{{'cv-list.no' | translate}}</button>
    </div>



  </div>
  <div class="btn-line">
  <button class="btn-newVac" (click)="newVac()">{{'allValue.newvc' | translate}}</button>
  </div>
</div>

  <div *ngIf ="showSuccPublish">{{sSuccPublish}}</div>

</div>
