.box{
  width: 100%;
  margin: 0 auto;
}
.cvlist{
  width: 100%;
  margin: 0 auto;
}
.v-line{
  display: inline-block;
  position: relative;
  width:6px;
  height:auto;
  background-color: #b8b8b8;
}
ul{
  list-style: none;
}
li{
  position: relative;
  display: inline-block;
}
.head-line{
  background-color: #DFDFDF;
}
.botom-line{
  width: 100%;
  height: auto;
  border-color: #b7b7b7;
}
.date{
  width:90px;
}
.city{
  width:120px;
}
.position{
  width:570px;
}
.salary{
  width:90px;
}
.choice{
  width: 230px;
}
.selectChoice{
  border: solid 1px rgb(68, 75, 84);
  text-align: left;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 228px;
  height: 33px;
  margin-top: -20px;
  margin-left: 20px;
}
.btn-newVac{
  display: inline-block;
  position: absolute;
  border-radius: 3px;
  background-color: #0262d2;
  width: 155px;
  height: 50px;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  margin-top: 1%;
}
.btn-newVac:hover{
  background-color: #0066cc;
  font-weight:600;
}
.btn-newVac:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  font-weight: 500;
}
.vacList{
  width: 100%;
  margin: 0 auto;
}
.deleteCorrespondence{
  position: absolute;
  width: 467px;
  height: 50px;
  border: dotted 1px blue;
  background-color: #fff;
  line-height: 3.2;
  margin-left: 700px;
  margin-top: -52px;
  z-index: 9999;
}
.btn-delete{
  width: 50px;
  margin-left: 15px;
}
.btn-delete:hover{
  font-weight: bold;
}
.question, .btn{
  margin-left: 20px;
}
