<app-header-top></app-header-top>
<div class="wrapper">
  <div class="top">
  Сообщения
  </div>

  <div class="messages-box"title="Перейти к переписке.">
  <div class="message" id="message" *ngFor="let curLetter of myDataLetter; let i = index" (click)="curLetterClick(curLetter.id, $event)">

    <div [class.boldletter]="(curLetter.letter.id_user_from !== this.id_user) && (curLetter.letter.bOld === false)">

        <div class="v-line"> </div>
        <ul class="headline">
          <li class="date">Дата</li>
          <li class="from">От</li>
          <li class="subject">Тема</li>
        </ul>

        <ul class="bline">
          <li class="date">{{curLetter.letter.DateTimeCreate}}</li>
          <li class="from">{{curLetter.letter.id_user_from}}</li>
          <li class="subject">Отклик на вакансию: {{curLetter.letter.id_vc}} </li>
        </ul>

      <div class="txt">Отклик на вакансию: {{curLetter.letter.letterText}} </div>

    </div>
  </div>
</div>

</div>
<app-footer></app-footer>
