.wrapper{
  font-family: ProximaNovaRg,sans-serif;
  font-size: 16px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  color: rgb(68, 75, 84);
}
.top{
  width: 1170px;
  height: 36px;
  margin: 0 auto;
  font-size: 22px;
  font-family: Proxima Nova,sans-serif;
  text-align: left;
  padding-bottom: 15px;
}
.message{
 width: 1170px;
  margin: 0 auto;

}
.message:hover{
  cursor: pointer;
  background-color: #f8f8f8;
}
.messages-box{
  height: 700px;
  overflow: auto;
}
.v-line{
  display: inline-block;
  position: relative;
  width:6px;
  height:auto;
  background-color: #b8b8b8;
}
ul{
  list-style: none;
}
li{
  position: relative;
  display: inline-block;
}
.headline{
 margin-bottom: 2px;
 font-family: "Proxima Nova";
  background-color: #DFDFDF;
}
.bline{
  width: 100%;
  height: auto;
  border-color: #b7b7b7;
  font-size: 16px;
  font-family: "Proxima Nova";
  margin-top: 2px;
}
.date{
  width:130px;
}
.txt{
  width:100%;
  font-size: 14px;
  font-family: "Proxima Nova";
}
.from{
  width:210px;
}
.subject{
  width:700px;
}

.boldletter {
  font-weight: bold;
}
