<div class="wrapper">
  <div class="top">
  Сообщения
  </div>


  <div class="message">

    <div class="v-line"></div>
    <ul class="headline">
      <li class="date">Дата</li>
      <li class="from">От</li>
      <li class="subject">Тема</li>
    </ul>

    <ul class="bline">
      <li class="date">21.10.2018</li>
      <li class="from">Петрова И.И.</li>
      <li class="subject">Отклик на вакансию: Программист С++</li>
    </ul>



</div>
  <div class="message">


    <ul class="headline">
      <li class="date" id="date">Дата</li>
      <li class="from" id="from">От</li>
      <li class="subject" id="subject">Тема</li>
    </ul>

    <ul class="bline">
      <li class="date">01.11.2018</li>
      <li class="from">Грызлова С.И.</li>
      <li class="subject">Отклик на вакансию: Менеджер парламента</li>
    </ul>

  </div>
    </div>









<!--
<div class="wrapper">

  <div class="box1">

    <p></p>
  </div>
  <div class="box2">

    <p>Программист С++</p>
  </div>

  <div class="box3">

    <p>01.06.2018</p>
  </div>

  <div class="box4">

    <p><a href="">Открыть</a> </p>
  </div>

  <div class="box5">

    <p><a href="">Удалить</a> </p>
  </div>

<div class="wrapper">

  <div class="box">

    <p>Грызлова С.И.</p>
  </div>
  <div class="box">

    <p></p>
  </div>

  <div class="box">

    <p>01.06.2018</p>
  </div>

  <div class="box">

    <p><a href="">Открыть</a> </p>
  </div>

  <div class="box">

    <p><a href="">Удалить</a> </p>
  </div>

</div>
  </div>
-->
