<form [formGroup]="formPrevious">


  <div class="line">
  <label class="startDate">{{'cv-previous.bdate' | translate}}</label>
  <label class="completionDate">{{'cv-previous.edate' | translate}}</label>
  </div>

  <input type="date"
         class="inputStartDate"
         formControlName="startDate"
         id="startDate"
         [placeholder]="'cv-previous.bdate' | translate">


  <input type="date" class="input-completionDate"
         formControlName="completionDate"
         id="completionDate"
         [placeholder]="'cv-previous.edate' | translate">

  <label class="company-name">{{'cv-previous.cmp' | translate}}</label>
  <input type="text" class="inputCompany"
         formControlName="inputCompany"
         id="inputCompany"
         [placeholder]="'cv-previous.cmp' | translate">

  <label class="labelPreviousPosition">{{'cv-previous.dlg' | translate}}</label>
  <input type="text" class="inputpPreviousPosition"
         formControlName="inputpPreviousPosition"
         id="inputpPreviousPosition"
         [placeholder]="'cv-previous.zdlg' | translate">

  <!--
  <label class="labelSkillsAbilities">Основные навыки и умения</label>
  <textarea class="inputSkillsAbilities" aria-label="Основные навыки и умения до 1000 знаков" formControlName="inputSkillsAbilities" id="inputSkillsAbilities" placeholder="Основные навыки и умения до 1000 знаков"></textarea>
-->

  <label class="labelPositionDescription">{{'allValue.jobresponsibilities' | translate}}</label>
  <textarea class="inputPositionDescription"
            [title]="'cv-previous.dod' | translate"
            formControlName="inputPositionDescription" id="inputPositionDescription"
            [placeholder]="'cv-previous.dod' | translate"></textarea>

  <button class="btn-delete"  (click)="checkNumberPrevious()">{{'cv-previous.deleteplacejob' | translate}}</button><br>
</form>


