<form [formGroup]="formPrevious">

  <label class="startDate">Начальная дата</label>
  <label class="completionDate">Конечная дата</label>

  <input type="date" class="inputStartDate" formControlName="startDate" id="startDate" placeholder="Начальная дата">


  <input type="date" class="input-completionDate" formControlName="completionDate" id="completionDate" placeholder="Конечная дата">

  <label class="company-name">Компания</label>
  <input type="text" class="inputCompany" formControlName="inputCompany" id="inputCompany" placeholder="Компания">

  <label class="labelPreviousPosition">Должность</label>
  <input type="text" class="inputpPreviousPosition" formControlName="inputpPreviousPosition" id="inputpPreviousPosition" placeholder="Занимаемая должность">

  <label class="labelSkillsAbilities">Основные навыки и умения</label>
  <textarea class="inputSkillsAbilities" aria-label="Основные навыки и умения до 1000 знаков" formControlName="inputSkillsAbilities" id="inputSkillsAbilities" placeholder="Основные навыки и умения до 1000 знаков"></textarea>


  <label class="labelPositionDescription">Должностные обязанности</label>
  <textarea class="inputPositionDescription" aria-label="Должностные обязанности и достижения до 800 знаков" formControlName="inputPositionDescription" id="inputPositionDescription" placeholder="Должностные обязанности и достижения до 800 знаков"></textarea>

  <button class="btn-delete"  (click)="checkNumberPrevious()">Удалить данное место работы</button><br>
</form>


