.box{
  border: #0262d2 2px solid;
  padding: 10px;
  margin-bottom: 10px;
}
.name{
  background-color: #fff;
  margin: 10px auto;
  font-weight: bold;
  font-size: 1.1em;
}
.data{
  background-color: #fff;
  margin: 10px auto;
}
.pole{
  background-color: #fff;
  margin: 10px auto;
}
.link{
  background-color: #fff;
  margin: 10px auto;
  color: #0066cc;
  text-decoration: underline;
  cursor: pointer;
}
