<!--

<div class="menu">
  <ul>

    <li class="symbol-open"><a href="#" title="Открыть меню">&#9776;</a>

      <ul>
        <li><a href="#">{{'footer.aboutmy' | translate }}</a></li>
        <li><a href="#">{{'footer.cont' | translate }}</a></li>
        <li><a href="#">{{'footer.rules' | translate }}</a></li>
        <li><a href="#">{{'footer.polit' | translate }}</a></li>

      </ul>
    </li>
  </ul>
</div>


/* Меню */

.menu{
float: left;
width: 35px;
}
.menu ul li{
padding: 10px;
}
.menu ul > li:hover{
background-color: #444b54;
}
.menu ul ul > li{
border-bottom: 1px solid white;
}
.symbol-open {
width: 35px;
}
.menu ul ul > li:hover{
background-color: #788393;
}
.menu ul li, .menu ul{
display: block;

}
.menu ul{
position: relative;
margin: 0;
padding: 0;
background-color: #444b54;
float: left;
font-size: 1em;
color: #fff;
bottom: 0;
width: 210px;
}

.menu ul ul{
display: none;
position: absolute;
background-color: #444b54;
margin-bottom: 43px;
margin-left: -10px;
}
.menu ul a{
color: #fff;
text-decoration: none;
}
.menu ul ul a{
color: #fff;
text-decoration: none;
}
.menu li:hover ul{
display: block;
}

.menu li:hover li{
display: block;
}

/* Меню */

-->
