
<h1>Мои резюме</h1>

<div class="container-fluid">
  <div class="row">
<div class="col-2">
<label>Главный дизайнер</label><br>
  <i class="fa fa-gg-circle" style="font-size:48px;color:red"></i><br>
  <label class="cv-ed-del">Редактировать ***  Удалить *** </label>
</div>

<div class="col-2">
      <label>Крутой верстальщик</label><br>
  <i class="fa fa-gg-circle" style="font-size:48px;color:red"></i>
    </div>

    <div class="col-2">
      <label>Архитектор</label><br>
      <i class="fa fa-gg-circle" style="font-size:48px;color:red"></i>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>Главный по тарелочкам</label><br>
      <i class="fa fa-gg-circle" style="font-size:48px;color:red"></i>
    </div>

    <div class="col-2">
      <label>Музыкант</label><br>
      <i class="fa fa-gg-circle" style="font-size:48px;color:red"></i>
    </div>

    <div class="col-2">
      <label>Балетмейстер</label><br>
      <i class="fa fa-gg-circle" style="font-size:48px;color:red"></i>
    </div>
  </div>



</div>



<!--
<div class="text-hide" style="background-image: url('/src/assets/img/1.jpg'); width: 50px; height: 50px;">Главный дизайнер</div>
 <label></label>
<span class="glyphicon glyphicon-search"></span>
-->
