<app-header-top></app-header-top>
<h2>Мои резюме</h2>

<!--
<div class="container-fluid">

    <div class="row">
        <div class="col-2">
          <label>Главный дизайнер</label><br>
          <i class="fa fa-gg-circle" style="font-size:48px;color:red"></i><br>
          <label class="cv-ed-del" (click)="EditElement()">Редактировать</label>
          <label class="cv-ed-del" (click)="DeleteElement()">***  Удалить ***</label>
        </div>
  </div>
</div>
-->

<button class="btn btn-primary" (click)="newcv()">Новое резюме(временно)</button>
<br>
<br>



<tbody>
<tr *ngFor="let item of cvList; let i = index;">
  <td><input type="checkbox" [(ngModel)]="item.bChecked"></td>
  <td>{{i}}</td>
  <td>Должность "{{item.cv.Position}}"</td>
  <td>Зарплата "{{item.cv.SalaryFrom}}"</td>
  <td>Город "{{item.CityName}}"</td>
  <td><button type="button" class="btn btn-primary" [disabled]="!item.bChecked" (click)="DeleteElement(item)">Удалить</button></td>
  <td><button type="button" class="btn btn-success" [disabled]="!item.bChecked" (click)="EditElement(item)">Редактировать</button></td>

</tr>
</tbody>



<!--

| uppercase

<pre>{{item.bChecked}}</pre>


<div class="text-hide" style="background-image: url('/src/assets/img/1.jpg'); width: 50px; height: 50px;">Главный дизайнер</div>
 <label></label>
<span class="glyphicon glyphicon-search"></span>
-->
