.box{
  position: relative;
  width: 1170px;
  height: 1px;
  margin: 1px auto;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #b7b7b7;
  color: rgb(68, 75, 84);
  text-align: left;
}
.check1{
  position: absolute;
  display: inline-block;
  font-size: 14px;
  text-align: left;
  background-color: rgb(255, 255, 255);
  width: auto;
  height: 43px;
  margin-left: 15px;
  margin-top: 15px;
}
.check2{
  position: absolute;
  display: inline-block;
  font-size: 14px;
  text-align: left;
  background-color: rgb(255, 255, 255);
  width: auto;
  height: 43px;
  margin-left: 15px;
  margin-top: 41px;
}
label{
  position: absolute;
  color: #0262d2;
  text-align: left;
}
.label-check1{
  padding-left: 38px;
  margin-top: 27px;
}
.label-check2{
  padding-left: 38px;
  margin-top: 53px;
}
span {
  display: block;
  color: rgb(68, 75, 84);
  text-align: left;
  margin-top:22px;
}
form{
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.btn-search{
  background-color: #0262d2;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  line-height: 2.25;
  width: 108px;
  height: 48px;
  margin-top:20px;
  margin-left: 2px;
}
.btn-search:hover{
  background-color: #0066cc;
  font-weight:600;
}
.btn-search:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
}
.inputSearch{
  border-width: 1px;
  border-color: #b7b7b7;
  border-style: solid;
  border-radius: 3px;
  background-color: white;
  color: #82878d;
  width: 682px;
  height: 48px;
  margin-top:20px;
  margin-left: 15px;
  padding-left:15px;
}
.box-city{
  position: relative;
  display: block;
  width: 40%;
  height: auto;
  margin-top: 100px;
}
.label-city{
  display: block;
  margin-left: 15px;
  margin-top: 10px;
}
.inputCity{
  border-width: 1px;
  border-color: #b7b7b7;
  border-style: solid;
  border-radius: 3px;
  background-color: white;
  color: #82878d;
  width: 282px;
  height: 31px;
  margin-top: 41px;
  margin-left: 15px;
}
.salary{
  display: block;
  margin-left: 15px;
  margin-top: 20px;
  width: 300px;
}
.inputSalary{
  display: block;
  border-width: 1px;
  border-color: #b7b7b7;
  border-style: solid;
  border-radius: 3px;
  background-color: white;
  color: #82878d;
  width: 282px;
  height: 28px;
  margin-top: 50px;
  margin-left: 15px;
}
.dropdownTimePlacement{
  padding-left: 15px;
  margin-top: 20px;
}
.timePlacement{
  border-width: 1px;
  border-color: #b7b7b7;
  border-style: solid;
  border-radius: 3px;
  background-color: white;
  color: #82878d;
  width: 282px;
  height: 31px;
  margin-top:49px;
  margin-left: 15px;
}
