<app-header-top></app-header-top>
<div class="wrapper">
  <div class="top">Расширенный поиск вакансий</div>



  <form [formGroup]="advancedSearchForm">

    <input class="inputSearch" type="search" placeholder="Поиск" formControlName="stringFind">

    <button class="btn-search" (click)="submit()">
      <img src="/assets/img/icon-search.png" alt="Найти" title=" Найти">&nbsp;
      Найти
    </button>

    <span>Выберите дополнительные условия поиска</span>

    <input name="typeVac" type="radio" class="check1" id="advSearchCheck1" (click)="findOnly(true,false)">
    <label class="label-check1" for="advSearchCheck1">Искать только в названии вакансии</label>
    <input name="typeVac" type="radio" class="check2" id="advSearchCheck2" (click)="findOnly(false,true)">
    <label class="label-check2" for="advSearchCheck2">Искать только в кратком описании вакансии</label>


    <div class="box-city">
      <label class="label-city" for="inputCity">Город</label>
      <select id="inputCity" class="inputCity" title="Город" formControlName="inputCity">
        <option  *ngFor="let lc of listCity" [value]="lc.name">
          {{lc.name}}
        </option>
      </select>

      <label for="inputSalary" class="salary">Заработная плата от</label>
      <input type="text" class="inputSalary" id="inputSalary" placeholder="0" formControlName="inputSalary">

      <label class="dropdownTimePlacement" id="dropdownTimePlacement">Искать вакансии не старше  {{resFind.timePlacement}}</label>

      <select id="timePlacement" class="timePlacement" title="Срок" formControlName="timePlacement">
        <option  *ngFor="let item of listTimePlacement; let i = index;" [value]="item.name" (click)="timePlacement(item.name, i+1)">
          {{item.name}}
        </option>
        <option  [value]="" (click)="timePlacement('',-1)">
          Отмена
        </option>

      </select>


    </div>

    <!-- Отрасль   -->
    <app-cv_industry></app-cv_industry>
    <!-- Занятость -->
    <app-cv-employment></app-cv-employment>
    <!-- график работы -->
    <app-cv-schedule></app-cv-schedule>
    <!-- Опыт работы -->
    <app-cv-experience></app-cv-experience>
    <!-- Образование -->
    <app-cv-education></app-cv-education>





<!--
        <div class="row align-items-start" *ngFor="let item of listTimePlacement; let i = index;">
          <a class="dropdown-item" (click)="timePlacement(item.name, i+1)">{{item.name}}</a>
        </div>
-->








  </form>



</div>
<app-footer></app-footer>
