.search-btn {

  padding: 15px 40px;

  display: block;

  cursor: pointer;

  -webkit-transition-duration: 500ms;

  transition-duration: 500ms;

}

.mp{

  margin: 10px;

  color: red;

}

.form-check-input{

  padding-left: 15px;

}
