<h3>Расширенный поиск</h3>


 <form class="col-6">

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Поиск">

    <div class="input-group-btn">
      <button class="btn btn-primary" type="submit"> Искать
        <i class="fa fa-search" style="color: #fff"></i></button>
  </div>
  </div>

 </form>
<!--
<ul class="dropdown">
  <li><a href="#">Home</a></li>
  <li><a href="#">Catagories</a></li>
  <li><a href="#">Single Article</a></li>
  <li><a href="#">Quize Article</a></li>
  <li><a href="#">Contact</a></li>
  <li class="has-down"><a href="#">Dropdown</a>
    <ul class="#">
      <li><a href="#">Home</a></li>
      <li><a href="#">Catagories</a></li>
      <li><a href="#">Single Article</a></li>
      <li><a href="#">Quize Article</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <span class="dd-trigger"></span></li>
</ul>
<li><a href="#">Home</a></li>
<li><a href="#">Catagories</a></li>
<li><a href="#">Single Article</a></li>
<li><a href="#">Quize Article</a></li>
<li><a href="#">Contact</a></li>
<li class="has-down"><a href="#">Dropdown</a>
  <ul class="dropdown">
    <li><a href="#">Home</a></li>
    <li><a href="#">Catagories</a></li>
    <li><a href="#">Single Article</a></li>
    <li><a href="#">Quize Article</a></li>
    <li><a href="#">Contact</a></li>

  <span class="dd-trigger"></span></li>

</ul>

-->
