@media screen and (min-width: 1200px) and (max-width: 4000px) {
.messages-box{
  width: 100%;
  min-height: 215px;
  max-height: 600px;
  overflow: auto;
}
.message{
  margin: 2px auto;
}
.message:hover{
  cursor: pointer;
  background-color: #f8f8f8;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  position: relative;
  display: inline-block;
}
.headline{
  margin-bottom: 2px;
  background-color: #DFDFDF;
}
.bline{

  height: auto;
  border-color: #b7b7b7;
  margin-top: 2px;
}
.date{
  width:10%;
}
.txt{
  width:100%;
  font-size: 14px;
  font-family: "Proxima Nova","sans-serif";
}
.from{
  width:15%;
}
.subject{
  width: 75%;
}
.boldletter {
  font-weight: bold;
}

}         /* Конец media 1200-4000 */

@media screen and (min-width: 768px) and (max-width: 1199px) {

  .wrapper{
    width: 98%;
    margin: 0 auto;
  }
  .messages-box{
    width: 100%;
    min-height: 215px;
    max-height: 600px;
    overflow: auto;
  }
  .message{
    margin: 0 auto;
  }
  .message:hover{
    cursor: pointer;
    background-color: #f8f8f8;
  }
  ul{
    list-style: none;
  }
  li{
    position: relative;
    display: inline-block;
  }
  .headline{
    margin-bottom: 2px;
    font-family: "Proxima Nova","sans-serif";
    background-color: #DFDFDF;
  }
  .bline{
    width: 95%;
    height: auto;
    border-color: #b7b7b7;
    margin-top: 2px;
  }
  .date{
    width:10%;
  }
  .txt{
    width:100%;
    font-size: 14px;
    font-family: "Proxima Nova","sans-serif";
  }
  .from{
    width:15%;
  }
  .subject{
    width: 75%;
  }
  .boldletter {
    font-weight: bold;
  }

}    /* Конец media 768-1199 */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container{
    min-height: calc(100vh - 50px);
  }
   .wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .top {
    height: 25px;
    font-size: 1.4em;
    margin: 0 0 10px 0;
    padding-left: 6px;
    line-height: 0.8;
    border-bottom: solid 1px #b7b7b7;
    padding-bottom: 0;
    border-top: 0;
    width: 97%;
  }
  .messages-box{
    width: 100%;
    min-height: 215px;
    max-height: 600px;
    overflow: auto;
    font-size: 0.8em;
  }
  .message{
    width: 93%;
    margin-left: 8px;
  }
  .message:hover{
    cursor: pointer;
    background-color: #f8f8f8;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    position: relative;
    display: inline-block;
  }
  .headline{
    margin-bottom: 2px;
    background-color: #DFDFDF;
  }
  .bline{
    border-color: #b7b7b7;
    margin-top: 2px;
  }
  .date{
    width:25%;
    vertical-align: top;
  }
  .from{
    width:25%;
  }
  .subject{
    width: 75%;
  }
  .boldletter {
    font-weight: bold;
  }

}   /* Конец media 320-767 */
