.wrapper{
  width: 1170px;
  min-height: 300px;
  max-height: 500px;
  margin: 0 auto;
  color: rgb(68, 75, 84);
}
.messages-box{
  width: 100%;
  min-height: 300px;
  max-height: 650px;
  overflow: auto;
}
.message{

  margin: 0 auto;
}
.message:hover{
  cursor: pointer;
  background-color: #f8f8f8;
}

/*.v-line{
  display: inline-block;
  position: relative;
  width:6px;
  height:auto;
  background-color: #b8b8b8;
}*/
ul{
  list-style: none;
}
li{
  position: relative;
  display: inline-block;
}
.headline{
  margin-bottom: 2px;
  font-family: "Proxima Nova","sans-serif";
  background-color: #DFDFDF;
}
.bline{
  width: 95%;
  height: auto;
  border-color: #b7b7b7;
  margin-top: 2px;
}
.date{
  width:130px;
}
.txt{
  width:100%;
  font-size: 14px;
  font-family: "Proxima Nova","sans-serif";
}
.from{
  width:210px;
}
.subject{
  width:700px;
}
.boldletter {
  font-weight: bold;
}
