<app-header-top></app-header-top>
<h3>Новая вакансия</h3>


<form [formGroup]="newVacancyForm" novalidate (ngSubmit)="submit()">


<br>
  <div class="form-row">
    <div class="form-group col-md-3">
      <input type="text" class="form-control" formControlName="inputVacancyShortTitle" id="inputVacancyShortTitle" placeholder="Наименование вакансии до 30 знаков.">

      <div class="alert alert-danger" *ngIf="newVacancyForm.controls['inputVacancyShortTitle'].invalid && newVacancyForm.controls['inputVacancyShortTitle'].touched">
        Ошибка в наименовании вакансии
      </div>

    </div>

  </div>

<div class="form-group col-md-3">
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text"></span>
  </div>
  <textarea class="form-control" aria-label="Описание вакансии до 400 знаков" formControlName="inputVacancyDescription" id="inputVacancyDescription" placeholder="Описание вакансии до 400 знаков"></textarea>
</div>

  <div class="alert alert-danger" *ngIf="newVacancyForm.controls['inputVacancyDescription'].invalid && newVacancyForm.controls['inputVacancyDescription'].touched">
    Ошибка в описании вакансии
  </div>


</div>



<div class="form-group col-md-3">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"></span>
    </div>
    <textarea class="form-control" aria-label="Полное описание вакансии до 2000 знаков" formControlName="inputVacancyBigDescription" id="inputVacancyBigDescription" placeholder="Полное описание вакансии до 2000 знаков"></textarea>
  </div>

  <div class="alert alert-danger" *ngIf="newVacancyForm.controls['inputVacancyBigDescription'].invalid && newVacancyForm.controls['inputVacancyBigDescription'].touched">
    Ошибка в полном описании вакансии
  </div>


</div>

<div class="form-group col-md-3">
  <label for="inputCity">Локация вакансии</label>
  <select id="inputCity" formControlName="inputCity" class="form-control" title="Локация вакансии">
    <option  *ngFor="let lc of listCity" [value]="lc.name">
      {{lc.name}}
    </option>
  </select>


</div>

<div class="form-inline">
<div class="form-row">
  <div class="form-group col-md-1">
    <input type="text" class="form-control" formControlName="inputSalaryFrom" id="inputSalaryFrom" placeholder="Заработная плата от">
  </div>

</div>
  <div class="form-group col-md-1">
    <input type="text" class="form-control" formControlName="inputSalary" id="inputSalary" placeholder="Заработная плата до)">
  </div>
</div>

  <div class="alert alert-danger" *ngIf="newVacancyForm.controls['inputSalaryFrom'].invalid && newVacancyForm.controls['inputSalaryFrom'].touched">
    Ошибка в "Заработная плата от"
  </div>

  <div class="alert alert-danger" *ngIf="newVacancyForm.controls['inputSalary'].invalid && newVacancyForm.controls['inputSalary'].touched">
    Ошибка в "Заработная плата до"
  </div>



<div class="col-3">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="displayPeriod">Срок размещения</label>
    </div>


    <select class="custom-select" formControlName="displayPeriod" id="displayPeriod">
        <option  *ngFor="let dpl of displayPeriodList" [value]="dpl.name">
          {{dpl.name}}
        </option>
    </select>

  </div>

  <br>

</div>


  <div class="container">
  <!-- Отрасль -->
<app-cv_industry></app-cv_industry>
<!-- Занятость -->
<app-cv-employment></app-cv-employment>
<!-- график работы -->
<app-cv-schedule></app-cv-schedule>
  <!-- Опыт работы -->
<app-cv-experience></app-cv-experience>
  <!-- Образование -->
<app-cv-education></app-cv-education>

</div>

<div>
  <div class="form-group row">
    <button type="submit" class="btn btn-primary" [disabled]="newVacancyForm.invalid">Отправить</button>
  </div>
</div>


</form>
