.wrapper{
  width: 1170px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}
.top{
  width: 100%;
  height: 36px;
  margin: 0 auto;
  border-color: #b7b7b7;
  font-size: 30px;
  color: rgb(68, 75, 84);
  text-align: left;
}
.cv-box{
  width:  100%;
  height: 390px;
  margin: 30px auto;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #b7b7b7;
  color: rgb(68, 75, 84);
  text-align: left;
}
.line {
  width: 100%;
  margin-top: 0.1%;
  padding: auto 10px;
}
.v-line{
  position: absolute;
  width:6px;
  height:390px;
  background-color: #b8b8b8;
}
.cv-box:hover{
  background-color: #f8f8f8;
  cursor: pointer;
}
.title{
  display: inline-block;
  font-size: 20px;
  color: #0262d2;
  text-align: left;
  width: 900px;
  margin-top: 16px;
  margin-left:15px;
}
.income{
  display: inline-block;
  font-size: 20px;
  color: rgb(242, 97, 0);
  text-align: right;
  width: 238px;
  margin-top: 17px;
  margin-left: 12px;
}
.number{
  position: absolute;
  visibility:hidden;
}
.city{
  display: inline-block;
  text-align: left;
  width:12px;
  margin-top: 4px;
  margin-left: 15px;
  overflow: hidden;
}
.city-name{
  display: inline-block;
  font-size: 18px;
  color: rgb(68, 75, 84);
  text-align: left;
  margin-top: 4px;
  margin-left: 42px;
  overflow: hidden;
}
.user-name{
  display: block;
  font-size: 18px;
  width: 100%;
  height: auto;
  color: rgb(68, 75, 84);
  text-align: left;
  margin-top: 2px;
  margin-left: 15px;
  margin-bottom: 10px;
  overflow: hidden;
}
.logotype{
  margin-top: 1px;
  margin-left: 15px;
  font-size: 12px;
  width: 130px;
  height: 130px;
}
.logotype-company{
  margin-top: 85px;
  margin-left: 15px;
  font-size: 12px;
  width: 130px;
  height: 40px;
}
.leftSide{
  display: inline-block;
  width: 16%;
  height: 403px;
  vertical-align: top;
}
.photo{
  width: 100%;
}
.rightSide{
  display: inline-block;
  width: 84%;
  height: 403px;
  vertical-align: top;
}
.experience{
  display: block;
  color: rgb(68, 75, 84);
  height: 90px;
  text-align: left;
  padding-left: 2%;
  margin-bottom: 4px;
  overflow: auto;

}
.skills{
  display: block;
  color: rgb(68, 75, 84);
  height: 90px;
  text-align: left;
  padding-left: 2%;
  overflow: auto;
  margin-bottom: 4px;

}
.education{
  display: block;
  color: rgb(68, 75, 84);
  height: 90px;
  text-align: left;
  padding-left: 2%;
  overflow: auto;
  margin-bottom: 4px;

}
.btn-response {
  display: inline-block;
  border-radius: 3px;
  background-color: #0262d2;
  width: 155px;
  height: 48px;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  margin-top: 64px;
  margin-left: 15px;

}
.btn-response:hover{
  background-color: #0066cc;
  font-weight:600;
}
.btn-response:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  font-weight: 600;
}
.final-date{
  display: block;
  font-size: 15px;
  text-align: left;
  margin-top: 1px;
  margin-left: 87px;

}
.alerSend{
  background-color: #F74933;
}


/* Pagination */
.counter-line{
  padding: 20px 10px;
  /*
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-color: #b7b7b7;
  border-style: solid;
  border-width: 1px;*/
}
ul{
  width: 500px;
  margin-left: 750px;
  color: #484c54;
}
li{
  display: inline-block;
  list-style: none;
  color: #484c54;
  margin-right: 10px;
  padding: 0 10px;
}
.nPage{
  visibility:hidden;
}
.left-box{
  position: absolute;
  float: left;
}
