<div class="wrapper">
  <div class="top">{{sCV}}</div>


  <div class="cv-box" *ngFor="let curCV of myDataCV; let i = index" (click)="MyMethod(curCV.id, $event)" id="cv-box" >

    <div class="v-line"></div>
      <div class="line">
    <div class="number">{{i+1}}</div>
    <div class="title">{{curCV.Position}}</div>
    <div class="income">{{curCV.SalaryFrom}} &#x20BD;</div>
      </div>


    <div class="line">
    <img class="city" src="/assets/img/city.png" alt="'allValue.сity' | translate">
    <span class="city-name">{{curCV.CityName}}</span>
    </div>

    <span class="user-name">{{curCV.UserName}}</span>

    <div class="line">
    <div *ngIf="curCV.base64textString.length>0; then contentLoadAvatar else contentDefault">Невозможно выполнить условия</div>

    <ng-template #contentLoadAvatar>
      <img class="logotype" *ngFor="let item of curCV.base64textString"  src={{item}} alt="Фото" id="img">
    </ng-template>

    <ng-template #contentDefault>
      <img class="logotype-company" src="/assets/img/no-photo.png" alt="Фото">
    </ng-template>
    <!-- ////////////////////////// -->
    <span class="experience">{{curCV.sExperience}}</span>

  </div>

    <span class="skills">{{curCV.Skills}}</span>
    <span class="education">{{curCV.sEducation}}</span>




    <div class="line">
      <button class="btn-response" type="button" id="cvresponse" title="Пригласить" (click)="response(i, curCV.id)" >Пригласить</button>
      <div class="final-date" *ngIf="!curCV.errorEndDay">Размещено до{{curCV.sDateEnd}}</div>
     </div>

    <div class="alerSend" *ngIf="curCV.sErrorText">{{curCV.sErrorText}} </div>


    </div>



<div class="counter-line">
    <div class="left-box">
      <app-page-count [numberOfRecordsPerPage] = "rowPerPage" [numberOfVisiblePages]="7"
                      [(currentPage)] = "page" [numberOfRecordsPerAll] = "recordsPerAll" (currentPageChange)="onPageChanged($event)"></app-page-count>
    </div>

    <ul>
      <li>Выводить по:</li>
      <li><input (click) = "OnClickRowPerPage(5)" type="radio" name="rRow" id="rRow5" [value]="5" [checked]="bChecked5">5</li>
      <li> <input (click) = "OnClickRowPerPage(10)" type="radio" name="rRow" id="rRow10" [value]="10" [checked]="bChecked10">10</li>
      <li><input (click) = "OnClickRowPerPage(20)" type="radio" name="rRow" id="rRow20" [value]="20" [checked]="bChecked20">20</li>
      <li><input (click) = "OnClickRowPerPage(50)" type="radio" name="rRow" id="rRow50" [value]="50" [checked]="bChecked50">50</li>
      <li class="nPage">{{page}}</li>
    </ul>

  </div>
</div>
