<app-header-top></app-header-top>
<div class="wrapper">
  <div class="top">Регистрация соискателя</div>
    <div class="box">


<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">

  <label class="userName">Имя пользователя (Nic)</label>
      <input type="text" class="inputUserName" id="userName" formControlName="userName" placeholder="Имя пользователя">
  <!-- Проверяем вносимый логин. Если логин уже есть в базе, показываем лейбл -Имя пользователя занято, или наоборот -->
      <div class="alert alert-danger"
           *ngIf="myForm.controls['userName'].touched && myForm.controls['userName'].value.length === 0 ">
        Не указано имя
      </div>

      <div *ngIf="myForm.controls['userName'].value.length > 0">
        <div *ngIf="myForm.controls['userName'].invalid; else trueUserNameTemplate">
          <div class="alert alert-danger">Имя пользователя занято</div>

        </div>

        <ng-template #trueUserNameTemplate>

          <div class="alert alert-info">Имя пользователя свободно</div>

        </ng-template>
      </div>

      <!-- закончили проверку логина -->

      <label class="email" for="inputEmail">Email</label>
      <input type="email" class="inputEmail" id="inputEmail" placeholder="Email" formControlName="userEmail">

    <!-- начало обработки почтовых ошибок -->

    <div *ngIf="myForm.controls['userEmail'].dirty">

      <div class="alert alert-danger"

           *ngIf="myForm.controls['userEmail'].value.length === 0 ">
        Не указан Email.
      </div>


      <div *ngIf="myForm.controls['userEmail'].value.length > 0">

        <div *ngIf="myForm.controls['userEmail'].invalid; else trueSucc">

          <div class="alert alert-danger"

               *ngIf="myForm.controls['userEmail'].hasError('errorEmailExists') === true">

            Данный Email уже занят.

          </div>

          <div class="alert alert-danger"

               *ngIf="myForm.controls['userEmail'].hasError('email') === true">

            Неверно введен Email.

          </div>

        </div>

        <ng-template #trueSucc>

          <div class="alert alert-info">Email свободен.</div>

        </ng-template>

      </div>

    </div>

    <!-- закончили обработку почтовых ошибок -->






      <label for="inputPassword1">Пароль</label>
      <input type="password" class="form-control" id="inputPassword1" placeholder="Password" formControlName="userPassword1">
      <label for="inputPassword1">Повторитие пароль</label>
      <input type="password" class="form-control" id="inputPassword2" placeholder="Password" formControlName="userPassword2">

  <label class="rules-link" (click)="licenseShow()">Прочитать правила использования.</label>
  <div *ngIf="bLicense">
        <pre>

        Правила работы с Базой данных резюме и вакансий

        Для работы с Базой данных резюме и вакансий (далее — База данных), доступ к которой возможен посредством
        информационно-телекоммуникационных сетей общего пользования через сайт www.superjob.ru (далее Сайт), а также
          через мобильное приложение при помощи мобильных устройств (смартфонов, планшетов
        и других устройств), Соискателю (Пользователю) необходимо пройти личную регистрацию в порядке, изложенном на Cайте.
        Соискатели, прошедшие регистрацию, получают возможность:
        размещать, редактировать и удалять резюме Соискателя в Базе данных;
        оформлять подписки на вакансии для ежедневного получения новых подходящих вакансий, размещенных в Базе данных за
          последние сутки, а также получать
        вакансии напрямую от работодателя;
        доступ ко всем вакансиям, хранящимся в открытом доступе в Базе данных, с возможностью отправки резюме на вакансию
          работодателя (контактные данные
        работодателя доступны при наличии резюме в Базе данных);
        получать консультации по вопросам работы Базы данных, включая консультации по составлению резюме, а также
          рекомендации по работе с вакансиями;
        консультации предоставляются по электронной почте; запрос на консультацию может быть отправлен из раздела
          Cайта «Помощь»;
        участвовать в дискуссиях и конкурсах, проводимых Администрацией Базы данных.
        Доступ Соискателя к Личной регистрации осуществляется с использованием его уникального идентификатора
          (далее — логин) и пароля, которые присваиваются
        Соискателю в момент его регистрации в Базе данных либо высылаются на электронный адрес или мобильный телефон Соискателя.
          Логин и пароль являются ключом
        простой электронной подписи. При регистрации Соискатель дает свое согласие с условиями применения простой электронной
          подписи, опубликованными по адресу
          https://www.superjob.ru/info/e-sign.html.
          При регистрации Соискатель с использованием простой электронной подписи дает свое согласие на обработку его персональных
          данных в целях создания базы
          данных резюме и вакансий, в статистических целях, а также для таргетинга рекламы, размещаемой на Сайте. Обработка
          персональных данных соискателей
          осуществляется в соответствии с Регламентом обработки персональных данных, опубликованном по адресу
          https://www.superjob.ru/info/personalnye_dannye.html. Обработка персональных данных осуществляется с использованием
          интернет-сервисов сторонних организаций, в том числе с использованием интернет-сервиса Google Analitics. С порядком
          обработки данных с помощью интернет-сервиса Google Analitics можно ознакомиться, перейдя по ссылке
          https://www.google.ru/policies/privacy/partners/.
          Личная регистрация Соискателя подтверждает согласие Соискателя на получение регулярных рассылок информационного и
          рекламного характера по электронной почте.

          Резюме, размещаемые Соискателем в Базе данных, должны соответствовать правилам, опубликованным по адресу
          https://www.superjob.ru/info/rules.html.
          Все резюме, размещаемые Соискателем в Базе данных, проходят проверку администратора Базы данных. В случае
          нарушения Правил размещения резюме
          в Базе данных резюме может быть удалено из Базы данных без предупреждения, а регистрация Соискателя
          удалена/заблокирована.
          Правила размещения резюме могут быть изменены ООО «СуперДжоб» в любое время.
          Ответственность за содержащуюся в резюме информацию несет Соискатель.
          ООО «СуперДжоб» не является представителем ни Соискателей, размещающих в Базе данных свои резюме, ни работодателей,
          размещающих в Базе данных вакансии.
          Любые договоренности между Соискателями и работодателями, являются двусторонними, и ООО «СуперДжоб» не имеет к ним отношения.
          Используя Базу данных, Пользователь безусловно соглашается и признает, что ООО СуперДжоб" вправе использовать Cookie
          Пользователей для целей идентификации,
          а также для любых иных целей, в том числе таргетирования рекламы и проведения исследований. Перечень и структура
          характеристик Cookie Пользователей
          определяется ООО СуперДжоб" по своему усмотрению.

        </pre>

  </div>

  <p>   <input class="form-check-input" type="checkbox" formControlName="cbLicense">
    <span class="form-check-label">Я согласен с правилами использования</span></p>


  <div class="alert alert-danger"
           *ngIf="myForm.controls['cbLicense'].invalid && myForm.controls['cbLicense'].touched">
        Согласитесь с лицензией
      </div>


  <button class="btn-register" [disabled]="myForm.invalid">Зарегистрироваться</button>

</form>
    </div>
</div>

