<app-header-top></app-header-top>
<div class="wrapper">
  <div class="top">Регистрация соискателя</div>
    <div class="box">


<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">

  <label class="userName">Имя пользователя (Nic)</label>
      <input type="text" class="inputUserName" id="userName" formControlName="userName" placeholder="Имя пользователя">
  <!-- Проверяем вносимый логин. Если логин уже есть в базе, показываем лейбл -Имя пользователя занято, или наоборот -->
      <div class="alert alert-danger"
           *ngIf="myForm.controls['userName'].touched && myForm.controls['userName'].value.length === 0 ">
        Не указано имя
      </div>

      <div *ngIf="myForm.controls['userName'].value.length > 0">
        <div *ngIf="myForm.controls['userName'].invalid; else trueUserNameTemplate">
          <div class="alert alert-danger">Имя пользователя занято</div>

        </div>

        <ng-template #trueUserNameTemplate>

          <div class="alert alert-info">Имя пользователя свободно</div>

        </ng-template>
      </div>

      <!-- закончили проверку логина -->

      <label class="email" for="inputEmail">Email</label>
      <input type="email" class="inputEmail" id="inputEmail" placeholder="Email" formControlName="userEmail">

    <!-- начало обработки почтовых ошибок -->

    <div *ngIf="myForm.controls['userEmail'].dirty">

      <div class="alert alert-danger"

           *ngIf="myForm.controls['userEmail'].value.length === 0 ">
        Не указан Email.
      </div>


      <div *ngIf="myForm.controls['userEmail'].value.length > 0">

        <div *ngIf="myForm.controls['userEmail'].invalid; else trueSucc">

          <div class="alert alert-danger"

               *ngIf="myForm.controls['userEmail'].hasError('errorEmailExists') === true">

            Данный Email уже занят.

          </div>

          <div class="alert alert-danger"

               *ngIf="myForm.controls['userEmail'].hasError('email') === true">

            Неверно введен Email.

          </div>

        </div>

        <ng-template #trueSucc>

          <div class="alert alert-info">Email свободен.</div>

        </ng-template>

      </div>

    </div>

    <!-- закончили обработку почтовых ошибок -->






      <label for="inputPassword1">Пароль</label>
      <input type="password" class="form-control" id="inputPassword1" placeholder="Password" formControlName="userPassword1">
      <label for="inputPassword1">Повторитие пароль</label>
      <input type="password" class="form-control" id="inputPassword2" placeholder="Password" formControlName="userPassword2">

  <div>
  <input class="inputLicense" type="checkbox" formControlName="cbLicense">
  <label class="license">Я согласен с правилами использования</label></div>

        <div class="alert alert-danger"
           *ngIf="myForm.controls['cbLicense'].invalid && myForm.controls['cbLicense'].touched">
        Согласитесь с лицензией
      </div>

      <a (click)="licenseShow()">Прочитать правила использования.</a>
      <div *ngIf="bLicense">ТУТ ДОЛЖНЫ БЫТЬ ПРАВИЛА ИСПОЛЬЗОВАНИЯ</div>


  <button class="btn-register" [disabled]="myForm.invalid">Зарегистрироваться</button>

</form>
    </div>
</div>


<!-- ФИО и т.п.

   <div class="row">

    <div class="col-2">

      <label class="labelDescr">Загрузить фото</label>

    </div>

    <div class="col-4">

      <input type="image" title="photo" id="photo">      </div>

  </div>

<!--

  <div class="row">

    <div class="col-2">

      <label class="labelDescr">Имя</label>

    </div>

    <div class="col-4">

      <input type="text" class="form-control" formControlName="name" id="name" placeholder="Имя">

    </div>

  </div>



  <div class="row">

    <div class="col-2">

      <label class="labelDescr">Фамилия</label>

    </div>

    <div class="col-4">

      <input type="text" class="form-control" formControlName="surname" id="surname" placeholder="Фамилия">

    </div>

  </div>



  <div class="row">

    <div class="col-2">

      <label class="labelDescr">Дата рождения</label>

    </div>

    <div class="col-4">

      <input type="date" class="form-control" formControlName="dateBirth" id="dateBirth" placeholder="Дата рождения">

    </div>

  </div>



  <div class="row">

    <div class="col-2">

      <label class="labelDescr">Пол</label>

    </div>

    <div class="col-4">

      <div>Выбор пола

        <br/>

        <input name="options" type="radio" value="1" title="man">  Мужской <br/>

        <input name="options" type="radio" value="2" title="woman">  Женский <br/>

      </div>

    </div>

  </div>





  <!-- закончили ввод ФИО и т.п.

  -->
