<app-header-top></app-header-top>
<div class="wrapper">
  <div class="top">{{'register-employee.rsRE' | translate}}</div>
    <div class="box">


<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">

  <label class="userName">{{'allValue.UserName' | translate}} (Nic)</label>
      <input type="text" class="inputUserName" id="userName" formControlName="userName" [placeholder]="'allValue.UserName' | translate">
  <!-- Проверяем вносимый логин. Если логин уже есть в базе, показываем лейбл -Имя пользователя занято, или наоборот -->
      <div class="alert alert-danger"
           *ngIf="myForm.controls['userName'].touched && myForm.controls['userName'].value.length === 0 ">
        {{'register-employee.nuipRE' | translate}}
      </div>

      <div *ngIf="myForm.controls['userName'].value.length > 0">

        <div *ngIf="myForm.controls['userName'].invalid; else trueUserNameTemplate">
          <div class="alert alert-danger">{{'register-employee.ipzRE' | translate}}</div>
        </div>

        <ng-template #trueUserNameTemplate>
          <div class="alert alert-info">{{'register-employee.ipsRE' | translate}}</div>
        </ng-template>

      </div>

      <!-- закончили проверку логина -->

      <label class="email" for="inputEmail">{{'register-employee.emailRE' | translate}}</label>
      <input type="email" class="inputEmail" id="inputEmail" [placeholder]="'register-employee.emailRE' | translate" formControlName="userEmail">

    <!-- начало обработки почтовых ошибок -->

    <div *ngIf="myForm.controls['userEmail'].dirty">

      <div class="alert alert-danger"

           *ngIf="myForm.controls['userEmail'].value.length === 0 ">
        {{'register-employee.nuemailRE' | translate}}
      </div>


      <div *ngIf="myForm.controls['userEmail'].value.length > 0">

        <div *ngIf="myForm.controls['userEmail'].invalid; else trueSucc">

          <div class="alert alert-danger"

               *ngIf="myForm.controls['userEmail'].hasError('errorEmailExists') === true">

            {{'register-employee.deuzRE' | translate}}

          </div>

          <div class="alert alert-danger"

               *ngIf="myForm.controls['userEmail'].hasError('email') === true">

            {{'register-employee.nveRE' | translate}}

          </div>

        </div>

        <ng-template #trueSucc>

          <div class="alert alert-info">{{'register-employee.esRE' | translate}}</div>

        </ng-template>

      </div>

    </div>

    <!-- закончили обработку почтовых ошибок -->


      <label for="inputPassword1">{{'register-employee.passwordRE' | translate}}</label>
      <input type="password" class="form-control" id="inputPassword1" placeholder="Password" formControlName="userPassword1">
      <label for="inputPassword1">{{'register-employee.ppRE' | translate}}</label>
      <input type="password" class="form-control" id="inputPassword2" placeholder="Password" formControlName="userPassword2">


      <div *ngIf="myForm.controls['userPassword2'].value.length > 0">
        <div *ngIf="myForm.controls['userPassword2'].invalid; else truePassword2Template">
          <div class="alert alert-danger">{{'register-employee.ppnsRE' | translate}}</div>
        </div>
      </div>

      <ng-template #truePassword2Template>
          <div class="alert alert-info">{{'register-employee.pusRE' | translate}}</div>
      </ng-template>



      <div *ngIf="bPassword">
        {{'register-employee.pppnsRE' | translate}}
      </div>



  <label class="rules-link" (click)="licenseShow()">{{'register-employee.ppiRE' | translate}}</label>
  <div class="licenseText" *ngIf="bLicense">

    Правила работы с Базой данных резюме и вакансий<br><br>

    Для работы с Базой данных резюме и вакансий (далее — База данных), доступ к которой возможен посредством
    информационно-телекоммуникационных сетей общего пользования через сайт www.superjob.ru (далее Сайт), а также
    через мобильное приложение при помощи мобильных устройств (смартфонов, планшетов и других устройств), Соискателю (Пользователю) необходимо пройти личную регистрацию в порядке, изложенном на Cайте.
    Соискатели, прошедшие регистрацию, получают возможность:<br>
    размещать, редактировать и удалять резюме Соискателя в Базе данных;<br>
    оформлять подписки на вакансии для ежедневного получения новых подходящих вакансий, размещенных в Базе данных за
    последние сутки, а также получать вакансии напрямую от работодателя;
    доступ ко всем вакансиям, хранящимся в открытом доступе в Базе данных, с возможностью отправки резюме на вакансию
    работодателя (контактные данные работодателя доступны при наличии резюме в Базе данных);<br>
    получать консультации по вопросам работы Базы данных, включая консультации по составлению резюме, а также
    рекомендации по работе с вакансиями;<br>
    консультации предоставляются по электронной почте; запрос на консультацию может быть отправлен из раздела
    Cайта «Помощь»;<br>
    участвовать в дискуссиях и конкурсах, проводимых Администрацией Базы данных.
    Доступ Соискателя к Личной регистрации осуществляется с использованием его уникального идентификатора
    (далее — логин) и пароля, которые присваиваются
    Соискателю в момент его регистрации в Базе данных либо высылаются на электронный адрес или мобильный телефон Соискателя.
    Логин и пароль являются ключом простой электронной подписи. При регистрации Соискатель дает свое согласие с условиями применения простой электронной
    подписи, опубликованными по адресу  https://www.superjob.ru/info/e-sign.html.
    При регистрации Соискатель с использованием простой электронной подписи дает свое согласие на обработку его персональных
    данных в целях создания базы данных резюме и вакансий, в статистических целях, а также для таргетинга рекламы, размещаемой на Сайте. Обработка
    персональных данных соискателей осуществляется в соответствии с Регламентом обработки персональных данных, опубликованном по адресу
    https://www.superjob.ru/info/personalnye_dannye.html. Обработка персональных данных осуществляется с использованием
    интернет-сервисов сторонних организаций, в том числе с использованием интернет-сервиса Google Analitics. С порядком
    обработки данных с помощью интернет-сервиса Google Analitics можно ознакомиться, перейдя по ссылке
    https://www.google.ru/policies/privacy/partners/. <br>
    Личная регистрация Соискателя подтверждает согласие Соискателя на получение регулярных рассылок информационного и
    рекламного характера по электронной почте. <br><br>

    Резюме, размещаемые Соискателем в Базе данных, должны соответствовать правилам, опубликованным по адресу
    https://www.superjob.ru/info/rules.html.<br>
    Все резюме, размещаемые Соискателем в Базе данных, проходят проверку администратора Базы данных. В случае
    нарушения Правил размещения резюме<br>
    в Базе данных резюме может быть удалено из Базы данных без предупреждения, а регистрация Соискателя
    удалена/заблокирована.<br>
    Правила размещения резюме могут быть изменены ООО «СуперДжоб» в любое время.<br>
    Ответственность за содержащуюся в резюме информацию несет Соискатель.<br>
    ООО «СуперДжоб» не является представителем ни Соискателей, размещающих в Базе данных свои резюме, ни работодателей,
    размещающих в Базе данных вакансии.<br>
    Любые договоренности между Соискателями и работодателями, являются двусторонними, и ООО «СуперДжоб» не имеет к ним отношения.
    Используя Базу данных, Пользователь безусловно соглашается и признает, что ООО СуперДжоб" вправе использовать Cookie
    Пользователей для целей идентификации, а также для любых иных целей, в том числе таргетирования рекламы и проведения исследований. Перечень и структура
    характеристик Cookie Пользователей определяется ООО СуперДжоб" по своему усмотрению.<br>



  </div>

 <input class="form-check-input" type="checkbox" formControlName="cbLicense" title="Я согласен">
    <div class="form-check-label">{{'register-employee.ysspiRE' | translate}}</div>


  <div class="alertRegister"
           *ngIf="myForm.controls['cbLicense'].invalid && myForm.controls['cbLicense'].touched">
    {{'register-employee.bsspirnRE' | translate}}
      </div>


  <button class="btn-register" [disabled]="myForm.invalid">{{'register-employee.registrRE' | translate}}</button>

</form>
    </div>
</div>

