<p xmlns="http://www.w3.org/1999/html">
</p>


<p><span>MUCV</span> или <span>Сайт</span> – совокупность технических и других средств, позволяющая <span>Посетителям</span> ресурса  <span>http://mucv.ee</span>
  получать доступ к просмотру базы вакансий и резюме,
  а так же  предоставляет <span>Пользователям</span> бесплатные услуги связанные с размещением резюме,  размещением вакансий и их просмотра.</p>
<p><span>Посетитель</span> – любое лицо не прошедшее процедуру входа в свой аккаунт, либо не зарегистрировавшегося на Сайте.</p>
<p><span>Пользователь</span> - любое лицо, прошедшее регистрацию на Сайте и подтвердившее свое согласие с правилами использования <span>MUCV</span>.</p>
<p><span>Соискатель</span>– лицо, являющееся субъектом персональных данных и добровольно помещающее свои персональные данные на <span>Сайт</span>.</p>
<p><span>Аккаунт Пользователя</span> – совокупность сервисов Сайта, доступных Пользователю. Владельцем аккаунта является лицо, имеющего правомерный доступ
  к адресу электронной почты (E-mail – у), указанному в <span>Аккаунте Пользователя</span>.</p>
<p>Обработка данных - в том числе и персональных, ведется исключительно <span>MUCV</span> - техническими средствами, в целях улучшения работы <span>Сайта</span>.
  Никакая информация из базы данных <span>MUCV</span>, ни при каких обстоятельствах, не обрабатывается третьими лицами.</p>


<p><span>Пользователь</span> имеет право в любой момент просматривать, изменять или удалять любые свои персональные и другие данные, включая <span>Аккаунт</span>,
  через меню пользователя в интерфейсе <span>Сайта</span>.  <br>
  При удалении <span>Аккаунта Пользователя</span>, все данные (информация о <span>Пользователе</span>, резюме, вакансии,
  личная переписка и т.д.), связанные с этим аккаунтом будут уничтожены и не смогут быть восстановлены.</p>
<p><span>MUCV</span> не несет ответственности за достоверность предоставленных <span>Пользователями</span> данных.</p>
<p><span>MUCV</span>, в случае нарушений данных правил, оставляет за собой право, удалять аккаунты Пользователей без предупреждения и объяснения причин.</p>
<p>Запрещается использование любых данных размещенных на сайте, третьими лицами, без предварительного согласия <span>MUCV</span>.</p>
<p>Запрещается размещение информации рекламного характера, а так же любая другая информация не связанная с целью поиска работы или работников.</p>

<p><span>Пользователь</span> бесспорно соглашается с тем, что размещая на Сайте свои персональные данные, делает их общедоступными в том числе они будут
  доступны и <span>Посетителям< Сайта</span>.<br>
  <span>MUCV</span> не несет ответственности за сохранение их конфиденциальности или несанкционированное использование третьими лицами. <br>
 MUCV не несет ответственности за возможное несанкционированное использование персональных данных Пользователей,
    произошедшее из-за доступа к данным, через неконтролируемые MUCV любые технические средства.</p>

<p><span>MUCV</span>  не имеет никакого отношения и не несет никакой ответственности за договорённости  между  <span>Пользователями</span> (Работодателями и Соискателями),
  которые являются исключительно двусторонними.</p>
<p>Принимая данные правила, <span>Пользователь</span> соглашается с тем, что <span>MUCV</span> сможет использовать cookie , без дополнительного оповещения.</p>
<p>Настоящие правила, могут быть дополнены или изменены  <span>MUCV</span> в одностороннем порядке, о чем Пользователь будет уведомлен по электронной почте.
  В случае несогласия с измененными правилами, Пользователь незамедлительно должен удалить свой Аккаунт и отказаться от использования <span>Сайта</span>.
  В случае продолжения использования <span>Сайта</span>, Пользователь  тем самым подтверждает  свое согласие с измененными правилами.</p>

