<h2>Личный кабинет</h2>

<form>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>Имя пользователя</label>
         </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-2">
      <label>Имя пользователя свободно</label>
      <label>Имя пользователя занято</label>
    </div>
  </div>

    <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputName">Имя</label>
      <input type="text" class="form-control" id="inputName">
    </div>
    </div>

    <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputLastname">Фамилия</label>
      <input type="text" class="form-control" id="inputLastname">
    </div>
    </div>

  <div class="form-row">
     <div class="form-group">
    <label for="inputAddress">Адрес</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Внесите адрес">
  </div>
  </div>

  <div class="form-group">
    <label for="inputAddress2">Фактический адрес</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Внесите фактический адрес">
  </div>
<!--

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">Область</label>
      <select id="inputState" class="form-control">
        <option selected>Выбрать...</option>
        <option>Харьюма</option>
        <option>Ида-Вырума</option>
      </select>
    </div> -->


    <div class="form-group col-md-4">
      <label for="inputCity">Город</label>
      <select id="inputCity" class="form-control">
        <option selected>Выбрать...</option>
        <option>Таллин</option>
        <option>Тарту</option>
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="inputZip">Индекс</label>
      <input type="text" class="form-control" id="inputZip">
    </div>


  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> Я согласен с правилами использования
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Зарегистрироваться</button>

</form>
<br>

<div class="jumbotron">
  <h1 class="display-4"></h1>
  <p class="lead"></p>
  <hr class="my-6">
  <p></p>
  <p class="lead">
  </p>
</div>
