/*
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap-grid.css";


body {margin: 0 !important; padding: 0 !important;}


@font-face {
  font-family: 'ArialRoundedMTBold';
  src: local('ArialRoundedMTBold'),
  url('ARLRDBD.TTF') format('ttf');
}

@font-face {
  font-family: 'ProximaNovaRg';
  src: local('ProximaNovaRg'),
  url('ProximaNova-Regular.ttf') format('ttf');
}




@font-face {
  font-family: 'ProximaNovaLt';
  src: local('ProximaNovaLt'),
  url('ProximaNova-Light.ttf') format('ttf');
}

;}

*/
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../fonts/fonts.css";
