/*
@font-face {
  font-family: 'ArialRoundedMTBold';
  src: local('ArialRoundedMTBold'),
  url('ARLRDBD.TTF') format('ttf');
}

@font-face {
  font-family: 'ProximaNovaRg';
  src: local('ProximaNovaRg'),
  url('ProximaNova-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'ProximaNovaLt';
  src: local('ProximaNovaLt'),
  url('ProximaNova-Light.ttf') format('ttf');
}

;}
@import "../node_modules/font-awesome/css/font-awesome.css";

font-family: "Proxima Nova","sans-serif";
*/
@import "../fonts/fonts.css";

html {
  overflow-y: scroll;
}
body {
  font-family: "Proxima Nova","sans-serif";
  margin: 0 !important;
  padding: 0 !important;
  text-decoration: none;
}
button, input, textarea, select, label{
  font-family: "Proxima Nova","sans-serif";
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Arial Rounded MT Bold", "Calibri", "sans-serif";
}

