@media screen and (min-width: 1200px) and (max-width: 4000px) {
.wrapper{
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}
.vacancy-box{
  width: 100%;
  height: 315px;
  margin: 30px auto;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #b7b7b7;
  color: rgb(68, 75, 84);
  text-align: left;
}
.v-line{
  display: inline-block;
  position: absolute;
  width:6px;
  height:315px;
  background-color: #b8b8b8;
}
.vacancy-box:hover{
  background-color: #f8f8f8;
  cursor: pointer;
}
.title{
  display: inline-block;
  position: absolute;
  font-size: 20px;
  color: #0262d2;
  text-align: left;
  width: 900px;
  margin-top: 16px;
  margin-left:15px;
}
.income{
  display: inline-block;
  position: absolute;
  font-size: 20px;
  color: rgb(242, 97, 0);
  text-align: right;
  width: 193px;
  margin-top: 17px;
  margin-left: 972px;
}
.city{
  display: inline-block;
  position: absolute;
  text-align: left;
  width:12px;
  margin-top: 45px;
  margin-left: 15px;
  overflow: hidden;
}
.city-name{
  display: inline-block;
  position: absolute;
  font-size: 18px;
  color: rgb(68, 75, 84);
  text-align: left;
  margin-top: 41px;
  margin-left: 42px;
  overflow: hidden;
}
.logotype{
  display: inline-block;
  position: absolute;
  margin-top: 85px;
  margin-left: 15px;
  font-size: 12px;
  width: 130px;
  height: 40px;
}
.logotype-company{
  display: inline-block;
  position: absolute;
  margin-top: 85px;
  margin-left: 15px;
  font-size: 12px;
  width: 130px;
  height: 40px;
}
.company-name{
  display: inline-block;
  position: absolute;
  font-size: 18px;
  width:700px;
  color: rgb(68, 75, 84);
  text-align: left;
  margin-top: 93px;
  margin-left: 208px;
  overflow: hidden;
}
.description{
  display: inline-block;
  position: absolute;
  color: rgb(68, 75, 84);
  width: 1130px;
  height: 80px;
  text-align: left;
  margin-top: 143px;
  margin-left: 15px;
  padding-right: 20px;
  overflow: auto;
}
.btn-response {
  display: inline-block;
  position: absolute;
  border-radius: 3px;
  background-color: #0262d2;
  width: 155px;
  height: 48px;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  margin-top: 243px;
  margin-left: 15px;
}
.btn-response:hover{
  background-color: #0066cc;
  font-weight:600;
}
.btn-response:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  font-weight: 600;
}
.btn-favorites{
  display: inline-block;
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: #0262d2;
  border-color: #054086;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  width: 160px;
  height: 48px;
  margin-top: 243px;
  margin-left: 172px;
}
.btn-favorites:hover{
  background-color: #0066cc;
  color: white;
  font-weight:600;
  vertical-align: middle;
}
.btn-favorites:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  font-weight: 600;
}
.favor-star{
  vertical-align: middle;
  z-index: 5;
}
.btn-hide{
  display: inline-block;
  position: relative;
  color: #484d55;
  background-color: #ffffff;
  border-color: rgb(242, 97, 0);
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  width: 165px;
  height: 48px;
  margin-top: 243px;
  margin-left: 334px;
  vertical-align: middle;
}
.crossed-eye{
  vertical-align: middle;
}
.btn-hide:hover{
  background-color:#f26100;
  color: white;
  font-weight:600;
}

/* Не активные кнопки
         background: url(/assets/img/disabled.png) no-repeat;
*/

.btn-response-disabled {
  display: inline-block;
  position: absolute;
  border-radius: 3px;
  background-color: rgb( 145, 175, 209 );
  width: 155px;
  height: 48px;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  margin-top: 243px;
  margin-left: 15px;
}
.btn-response-disabled:hover{
  background-color: rgb( 145, 175, 209 );
  line-height: 2;
}
.btn-response-disabled:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
}
.btn-favorites-disabled{
  display: inline-block;
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: rgb( 145, 175, 209 );
  border-color: #054086;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  width: 160px;
  height: 48px;
  margin-top: 243px;
  margin-left: 172px;
}
.btn-favorites-disabled:hover{
  background-color: rgb( 145, 175, 209 );
  color: white;
  vertical-align: middle;
}
.btn-favorites-disabled:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;

}
.favor-star{
  vertical-align: middle;
  z-index: 5;
}
.btn-hide-disabled{
  display: inline-block;
  position: relative;
  color: #484d55;
  background-color: #ffffff;
  border-color: rgb(242, 97, 0);
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  width: 165px;
  height: 48px;
  margin-top: 243px;
  margin-left: 334px;
  vertical-align: middle;
}
.crossed-eye{
  vertical-align: middle;
}
.btn-hide:hover{
  background-color:#f26100;
  color: white;

}

.line{
  position: relative;
  display: inline-block;
 width: 100%;
  height: 30px;
  margin: 1px 0;
  background-color: #d46117;
  margin-top: auto;
}
.number{
  position: absolute;
  visibility:hidden;
}
  label{
    color: #484c54;
    font-size:16px;
  }

  /* Pagination */
  .counter-line {
    position: relative;
    height: 50px;
  }
  .page {
    width: 45%;
    float: left;
  }
  .checked {
    width: 50%;
    float: right;
  }
  ul{
    margin: 0;
    padding: 0;
    color: #484c54;
    float: right;
  }
  li{
    display: inline-block;
    list-style: none;
    color: #484c54;
    padding-left: 10px;
  }
  .nPage{
    visibility:hidden;
  }
.final-date{
  display: block;
  font-size: 0.8em;
  float: right;
}
.alertWrong{
  display: block;
  font-size: 1.4em;
  color: #F74933;
  width: 530px;
  margin: 30px 2px 0 260px;
  text-align: center;
  border: dotted 1px #f20f4b;
  height: 50px;
  line-height: 2.03;
  background-color: #FFFFFF;
  z-index: 999;
}

}         /* Конец media 1200-4000 */

@media screen and (min-width: 768px) and (max-width: 1199px) {

  .wrapper{
    width: 100%;
    margin: 0 auto;
  }
  .vacancy-box{
    width: 100%;
    height: 315px;
    margin: 30px auto;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #b7b7b7;
    color: rgb(68, 75, 84);
    text-align: left;
  }
  .v-line{
    display: inline-block;
    position: absolute;
    width:6px;
    height:315px;
    background-color: #b8b8b8;
  }
  .vacancy-box:hover{
    background-color: #f8f8f8;
    cursor: pointer;
  }
  .title{
    display: inline-block;
    position: absolute;
    font-size: 20px;
    color: #0262d2;
    text-align: left;
    width: 900px;
    margin-top: 16px;
    margin-left:15px;
  }
  .income{
    display: inline-block;
    position: absolute;
    font-size: 20px;
    color: rgb(242, 97, 0);
    text-align: right;
    width: 193px;
    margin-top: 17px;
    margin-left: 972px;
  }
  .city{
    display: inline-block;
    position: absolute;
    text-align: left;
    width:12px;
    margin-top: 45px;
    margin-left: 15px;
    overflow: hidden;
  }
  .city-name{
    display: inline-block;
    position: absolute;
    font-size: 18px;
    color: rgb(68, 75, 84);
    text-align: left;
    margin-top: 41px;
    margin-left: 42px;
    overflow: hidden;
  }
  .logotype{
    display: inline-block;
    position: absolute;
    margin-top: 85px;
    margin-left: 15px;
    font-size: 12px;
    width: 130px;
    height: 40px;
  }
  .logotype-company{
    display: inline-block;
    position: absolute;
    margin-top: 85px;
    margin-left: 15px;
    font-size: 12px;
    width: 130px;
    height: 40px;
  }
  .company-name{
    display: inline-block;
    position: absolute;
    font-size: 18px;
    width:700px;
    color: rgb(68, 75, 84);
    text-align: left;
    margin-top: 93px;
    margin-left: 208px;
    overflow: hidden;
  }
  .description{
    display: inline-block;
    position: absolute;
    color: rgb(68, 75, 84);
    width: 1130px;
    height: 80px;
    text-align: left;
    margin-top: 143px;
    margin-left: 15px;
    padding-right: 20px;
    overflow: auto;
  }
  .btn-response {
    display: inline-block;
    position: absolute;
    border-radius: 3px;
    background-color: #0262d2;
    width: 155px;
    height: 48px;
    color: rgb(255, 255, 255);
    border-color: #054086;
    border-width: 1px;
    border-style: solid;
    margin-top: 243px;
    margin-left: 15px;
  }
  .btn-response:hover{
    background-color: #0066cc;
    font-weight:600;
  }
  .btn-response:active{
    border-color: #3399ff;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    font-weight: 600;
  }
  .btn-favorites{
    display: inline-block;
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: #0262d2;
    border-color: #054086;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    width: 160px;
    height: 48px;
    margin-top: 243px;
    margin-left: 172px;
  }
  .btn-favorites:hover{
    background-color: #0066cc;
    color: white;
    font-weight:600;
    vertical-align: middle;
  }
  .btn-favorites:active{
    border-color: #3399ff;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    font-weight: 600;
  }
  .favor-star{
    vertical-align: middle;
    z-index: 5;
  }
  .btn-hide{
    display: inline-block;
    position: relative;
    color: #484d55;
    background-color: #ffffff;
    border-color: rgb(242, 97, 0);
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    width: 160px;
    height: 48px;
    margin-top: 243px;
    margin-left: 334px;
    vertical-align: middle;
  }
  .crossed-eye{
    vertical-align: middle;
  }
  .btn-hide:hover{
    background-color:#f26100;
    color: white;
    font-weight:600;
  }

  /* Не активные кнопки
           background: url(/assets/img/disabled.png) no-repeat;
  */

  .btn-response-disabled {
    display: inline-block;
    position: absolute;
    border-radius: 3px;
    background-color: rgb( 145, 175, 209 );
    width: 155px;
    height: 48px;
    color: rgb(255, 255, 255);
    border-color: #054086;
    border-width: 1px;
    border-style: solid;
    margin-top: 243px;
    margin-left: 15px;
  }
  .btn-response-disabled:hover{
    background-color: rgb( 145, 175, 209 );
    line-height: 2;
  }
  .btn-response-disabled:active{
    border-color: #3399ff;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
  }
  .btn-favorites-disabled{
    display: inline-block;
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: rgb( 145, 175, 209 );
    border-color: #054086;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    width: 160px;
    height: 48px;
    margin-top: 243px;
    margin-left: 172px;
  }
  .btn-favorites-disabled:hover{
    background-color: rgb( 145, 175, 209 );
    color: white;
    vertical-align: middle;
  }
  .btn-favorites-disabled:active{
    border-color: #3399ff;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;

  }
  .favor-star{
    vertical-align: middle;
    z-index: 5;
  }
  .btn-hide-disabled{
    display: inline-block;
    position: relative;
    color: #484d55;
    background-color: #ffffff;
    border-color: rgb(242, 97, 0);
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    width: 160px;
    height: 48px;
    margin-top: 243px;
    margin-left: 334px;
    vertical-align: middle;
  }
  .crossed-eye{
    vertical-align: middle;
  }
  .btn-hide:hover{
    background-color:#f26100;
    color: white;

  }

  .line{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 30px;
    margin: 1px 0;
    background-color: #d46117;
    margin-top: auto;
  }
  .number{
    position: absolute;
    visibility:hidden;
  }
  /* Pagination */
  .counter-line {
    position: relative;
    height: 50px;
  }
  .page {
    width: 45%;
    float: left;
  }
  .checked {
    width: 50%;
    float: right;
  }
  ul{
    margin: 0;
    padding: 0;
    color: #484c54;
    float: right;
  }
  li{
    display: inline-block;
    list-style: none;
    color: #484c54;
    padding-left: 10px;
  }
  .nPage{
    visibility:hidden;
  }

  .final-date{
    display: block;
    font-size: 0.8em;
    float: right;
    margin-right: 1%;
  }
  .alertWrong{
    display: block;
    font-size: 1.4em;
    color: #F74933;
    width: 530px;
    margin: 30px 2px 0 260px;
    text-align: center;
    border: dotted 1px #f20f4b;
    height: 50px;
    line-height: 2.03;
    background-color: #FFFFFF;
    z-index: 999;
  }

}    /* Конец media 768-1199 */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container{
    min-height: calc(100vh - 50px);
  }
  .wrapper {
    width: 98%;
   }
  .top {
    height: 10px;
    font-size: 1.4em;
    margin: 0;
    padding-top: 0;
    border-top: solid 0;
    line-height: 1.3;
  }
  .vacancy-box{
    position: relative;
    width: 100%;
    height: auto;
    margin: 10px auto;
    font-size: 0.9em;
    color: rgb(68, 75, 84);
    border-top: solid 1px #b7b7b7;
    padding-bottom: 1%;
  }
  .vacancy-box:active{
    background-color: #f8f8f8;
    cursor: pointer;
  }
  .title{
    position: relative;
    display: inline-block;
    font-size: 1.1em;
    color: #0262d2;
    width: 75%;
    height: 39px;
    margin-top: 6px;
    overflow: hidden;
  }
  .income{
    display: inline-block;
    font-size: 1em;
    color: rgb(242, 97, 0);
    text-align: right;
    width: 21%;
    height: 39px;
    margin-top: 5px;
    float: right;
    overflow: hidden;
  }
  .salaryFrom{
    display: inline-block;
  }
  .salaryMax{
    display: inline-block;
  }
  .city-line {
    position: relative;
    display: block;
  }
  .city{
    text-align: left;
    width:12px;
    margin-left: 15px;
    overflow: hidden;
  }
  .city-name{
    display: inline-block;
    font-size: 18px;
    color: rgb(68, 75, 84);
    text-align: left;
    margin-left: 42px;
    overflow: hidden;
  }
  .logo-line{
    height: 50px;
  }
  .logotype{
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: 1px;
    font-size: 12px;
    width: 130px;
    height: 40px;
  }
  .logotype-company{
    display: inline-block;
    position: absolute;
    margin-top: 8px;
    width: 130px;
    height: 40px;
    cursor: pointer;
  }
  .company-name{
    display: inline-block;
    font-size: 1.1em;
    width: 60%;
    color: rgb(68, 75, 84);
    margin-top: 2px;
    margin-left: 130px;
    overflow: hidden;
    text-decoration: underline;
  }
  .company-name:hover{
    cursor: pointer;
    font-weight:bold;
  }
  .description{
    display: block;
    position: relative;
    color: rgb(68, 75, 84);
    width: 98%;
    min-height: 30px;
    max-height: 80px;
    margin: 10px auto;
    overflow: auto;
  }
  .button-line{
    position: relative;
    display: block;
    height: 50px;
    margin: 10px auto;
  }
  .btn-response {
    display: inline-block;
    position: relative;
    font-size: 0.9em;
    border-radius: 3px;
    background-color: #0262d2;
    width: 29%;
    height: 48px;
    color: rgb(255, 255, 255);
    border-color: #054086;
    border-width: 1px;
    border-style: solid;
    margin: 10px 0.5% 8px 0;
    text-align: left;
  }
  .btn-response:hover{
    background-color: #0066cc;
    font-weight:600;
    font-size: .8em;
  }
  .btn-response:active{
    border-color: #3399ff;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    font-weight: bold;
    font-size: .8em;
  }
  .btn-favorites{
    display: inline-block;
    position: relative;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
    background-color: #0262d2;
    border-color: #054086;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    width: 34%;
    height: 48px;
    margin: 10px 0.5% 8px 0;
    text-align: left;
  }
  .btn-favorites:hover{
    background-color:#0066cc;
    color: white;
    font-weight:600;
    font-size: .8em;
  }
  .btn-favorites:active{
    border-color: #3399ff;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    font-weight: bold;
    font-size: .8em;
  }
  .favor-star{
    position: absolute;
    visibility: hidden;
  }
  .btn-hide{
    display: inline-block;
    position: relative;
    font-size: 0.9em;
    color: #484d55;
    background-color: #ffffff;
    border-color: rgb(242, 97, 0);
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    width: 35%;
    height: 48px;
    margin: 10px 0.5% 8px 0;
    text-align: left;
  }
  .crossed-eye{
    position: absolute;
    visibility: hidden;
  }
  .btn-hide:hover{
    background-color:#f26100;
    color: white;
    font-weight:bold;
    font-size: .8em;
  }

  /* Не активные кнопки
           background: url(/assets/img/disabled.png) no-repeat;
  */

  .btn-response-disabled {
    display: inline-block;
    position: relative;
    font-size: 0.9em;
    border-radius: 3px;
    background-color: rgb( 145, 175, 209 );
    width: 29%;
    height: 48px;
    color: rgb(255, 255, 255);
    border-color: #054086;
    border-width: 1px;
    border-style: solid;
    margin: 10px 0.5% 8px 0;
    text-align: left;
  }
  .btn-response-disabled:hover{
    background-color: rgb( 145, 175, 209 );
    font-weight:bold;
    font-size: .8em;
  }
  .btn-response-disabled:active{
    border-color: #3399ff;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
  }
  .btn-favorites-disabled{
    display: inline-block;
    position: relative;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
    background-color: rgb( 145, 175, 209 );
    border-color: #054086;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    width: 34%;
    height: 48px;
    margin: 10px 0.5% 8px 0;
    text-align: left;
  }
  .btn-favorites-disabled:hover{
    background-color: rgb( 145, 175, 209 );
    color: white;
    font-weight:bold;
    font-size: .8em;
    padding-left: -3px;
  }
  .btn-favorites-disabled:active{
    border-color: #3399ff;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;

  }
  .favor-star{
    vertical-align: middle;
    z-index: 5;
  }
  .btn-hide-disabled{
    display: inline-block;
    position: relative;
    font-size: 0.9em;
    color: #484d55;
    background-color: #ffffff;
    border-color: rgb(242, 97, 0);
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    width: 35%;
    height: 48px;
    margin: 10px 0.5% 8px 0;
    text-align: left;
  }
  .crossed-eye{
  }
  .btn-hide-disabled:hover{
    background-color:#f26100;
    color: white;
    font-weight:bold;
    font-size: .8em;
  }
  .line{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 30px;
    margin: 1px 0;
    background-color: #d46117;
    margin-top: auto;
  }
  .number{
    position: absolute;
    visibility:hidden;
  }
  label{
    color: #484c54;
    font-size:1em;
  }
  /* Pagination */
  .counter-line {
    position: relative;
    height: 75px;
  }
  .page {
    display: block;
    width: 90%;
  }
  .checked {
    display: block;
    width: 90%;
    vertical-align: bottom;
    margin-top: 25px;
  }
  ul{
    margin: 0;
    padding: 0;
    color: #484c54;
    text-align: center;
  }
  li{
    display: inline-block;
    list-style: none;
    color: #484c54;
    padding-left: 10px;
  }
  .nPage{
    visibility:hidden;
  }

  .final-date{
    display: block;
    font-size: 0.8em;
    float: right;
    margin-right: 1%;

  }
  .alertWrong{
    display: block;
    font-size: 1.4em;
    color: #F74933;
    width: 530px;
    margin: 30px 2px 0 260px;
    text-align: center;
    border: dotted 1px #f20f4b;
    height: 50px;
    line-height: 2.03;
    background-color: #FFFFFF;
    z-index: 999;
  }

}   /* Конец media 320-767 */
