<app-header-top></app-header-top>
<div class="container-fluid">
<h3>Вакансии</h3>

  <div class="row">
<div class="head-row">
    <div class="col-1">
      <div class="home-n">#</div>
    </div>
</div>


    <div class="col-2">
      <div class="head-row">Город</div>
    </div>

    <div class="col-2">
      <div class="head-row">Компания</div>
    </div>

    <div class="col-1">
      <h5> Вакансия</h5>
    </div>

    <div class="col-5">
      <h5> Описание</h5>
    </div>

    <div class="col-1">
      <h5> Зарплата</h5>
    </div>

  </div>

   <div class="row" *ngFor="let curVacancy of myDataVacancy; let i = index" (click)="MyMethod(curVacancy.id)">

        <div class="col-1">
          <div class="head-row-2">{{i+1}}</div>
        </div>

        <div class="col-2">
          <div class="head-row-2">{{curVacancy.CityName}}</div>
        </div>

        <div class="col-2">

        </div>

        <div class="col-1">
          <div class="head-row-2">{{curVacancy['vacancy'].VacancyShortTitle}}</div>
        </div>

        <div class="col-5">
          <div class="bigDescr">
          {{curVacancy['vacancy'].VacancyBigDescription}}
        </div>
   </div>

        <div class="col-1">
          <div class="solar">
          {{curVacancy['vacancy'].SalaryFrom}}-{{curVacancy['vacancy'].Salary}}
        </div>
   </div>
  </div>
</div>
<app-footer></app-footer>

