<app-header-top></app-header-top>

<h3>Вакансии</h3>

<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Город</th>
    <th scope="col">Компания</th>
    <th scope="col">Вакансия</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Таллин</td>
    <td>Рога компыт</td>
    <td>Программист TS</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Таллин</td>
    <td>Microsoft</td>
    <td>Программист Java</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Таллин</td>
    <td>Sun</td>
    <td>Программист TS</td>
  </tr>
  </tbody>
</table>

<app-footer></app-footer>
