<app-header-top></app-header-top>
<div class="wrapper">
  <div class="top">
    Вакансии
  </div>

  <div class="vacancy-box" id="vacancy-box" *ngFor="let curVacancy of myDataVacancy; let i = index" (click)="MyMethod(curVacancy.id, $event)">
    <div class="v-line"></div>
    <div class="number">{{i+1}}</div>
    <div class="title">{{curVacancy['vacancy'].VacancyShortTitle}}</div>
    <div class="income">
      {{curVacancy['vacancy'].SalaryFrom}}-{{curVacancy['vacancy'].Salary}} Р</div>
    <img class="city" src="/assets/img/city.png" alt="Город">
    <span class="city-name">{{curVacancy.CityName}}</span>
    <img class="logotype-company" src="/assets/img/iport-logo.png" alt="Логотип компании">
    <span class="company-name">{{curVacancy['vacancy'].id_user}}</span>
    <span class="description">{{curVacancy['vacancy'].VacancyBigDescription}}</span>


    <button class="btn-response" type="button" id="vcresponse" title="Откликнуться" (click)="response($event,i, curVacancy.id)" >Откликнуться</button>
    <button class="btn-favorites" type="button" id="vcfavorites" title="В избранное" (click)="favorites($event,i, curVacancy.id)" >В избранное</button>
    <button class="btn-hide" type="button" id="vchide" title="Не показывать" (click)="unshow($event,i, curVacancy.id)" >Не показывать</button>
    {{curVacancy.sErrorText}}
     </div>

  <div class="counter-line">
    <app-page-count [numberOfRecordsPerPage] = "rowPerPage" [numberOfVisiblePages]="7" [(currentPage)] = "page" [(numberOfRecordsPerAll)] = "recordsPerAll" (currentPageChange)="onPageChanged($event)"></app-page-count>
  </div>

</div>

<!--
 <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="3" [boundaryLinks]="true" [rotate]="true"></ngb-pagination>
 -->

<pre>Current page: {{page}}</pre>
