<div class="wrapper">
  <div class="top">
    {{'message-container.messages' | translate}}
  </div>

  <div class="messages-box"title="Перейти к переписке.">
    <div class="message" id="message" *ngFor="let curLetter of myDataLetter; let i = index" (click)="curLetterClick(curLetter.id, $event)">

      <div [class.boldletter]="(curLetter.id_user_from !== this.id_user) && (curLetter.bOld === 0)">


        <div class="v-line"> </div>
        <ul class="headline">
          <li class="date">{{'allValue.date' | translate}}</li>
          <li class="from">От</li>
          <li class="subject">Тема</li>
          <li> </li>


        </ul>

        <ul class="bline">
          <li class="date">{{curLetter.DateTimeCreate  | date: 'dd-MM-yyyy HH:mm'}}</li>
          <li class="from">{{curLetter.UserNameFrom}}</li>
          <li class="subject">{{'allValue.responsevac' | translate}}: {{curLetter.VacancyShortTitle}} </li>
          <li><img class="trash" src="/assets/img/trash.png" title="Удалить переписку"></li>
        </ul>

        <div class="txt"> {{curLetter.letterText}} </div>

      </div>
    </div>
  </div>

</div>
