.top{
  height: 36px;
  margin: 15px auto 0;
  font-size: 22px;
  text-align: left;
  padding-bottom: 15px;
  border-top: solid 1px #b7b7b7;
  line-height: 1.8;
}
.messages-box{
  width: 1170px;
  min-height: 300px;
  max-height: 650px;
  overflow: auto;
}
.message{
  margin: 0 auto;
}
.message:hover{
  cursor: pointer;
  background-color: #f8f8f8;
}

/*.v-line{
  display: inline-block;
  position: relative;
  width:6px;
  height:auto;
  background-color: #b8b8b8;
}*/
ul{
  list-style: none;
}
li{
  position: relative;
  display: inline-block;
}
.headline{
  margin-bottom: 2px;
  font-family: "Proxima Nova","sans-serif";
  background-color: #DFDFDF;
}
.bline{
  width: 95%;
  height: auto;
  border-color: #b7b7b7;
  margin-top: 2px;
}
.date{
  width:130px;
}
.txt{
  width:100%;
  font-size: 0.9em;
  max-height: 16vh;
  overflow: auto;
}
.from{
  width:210px;
}
.subject{
  width:700px;
}
.boldletter {
  font-weight: bold;
}
.trash{
  float: right;
  padding-top: 5px;
}
.deleteCorrespondence{
  position: absolute;
  width: 600px;
  height: 50px;
  border: dotted 1px blue;
  background-color: #fff;
  line-height: 3.2;
  margin: 10px 25%;
  z-index: 9999;
}
.question, .btn{
  margin-left: 20px;
}
