@media screen and (min-width: 1200px) and (max-width: 4000px) {
  .messages-box{
    min-height: 250px;
    max-height: 650px;
    overflow: auto;
    margin-left: 4px;
    margin-top: 15px;
  }
  .message{
    position: relative;
    margin: 0 auto;
  }
  .message:hover{
    cursor: pointer;
    background-color: #f8f8f8;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .headline{
    margin-bottom: 2px;
    background-color: #DFDFDF;
  }
  .bline{
    width: 95%;
    height: auto;
    border-color: #b7b7b7;
    margin-top: 2px;
  }
  .date{
    width:130px;
  }
  .txt{
    font-size: 0.9em;
    margin: 10px auto;
    color: #0262d2;
    max-height: 10vh;
    overflow: auto;
  }
  .from{
    width:210px;
  }
  .subject{
    width:700px;
  }
  .boldletter {
    font-weight: bold;
  }
  .trash{
    position: absolute;
    width: 100%;
    margin-top: 25px;
    text-align: right;
  }
  .img-trash{
    margin-right: 0.3%;
  }
  .deleteCorrespondence{
    position: absolute;
    width: 600px;
    height: 50px;
    border: dotted 1px blue;
    background-color: #fff;
    line-height: 3.2;
    margin: 2px 25%;
    z-index: 9999;
  }
  .question {
    display: inline-block;
    margin-left: 20px;
  }
  .buttons{
    display: inline-block;
  }
  .btn-delete{
    width: 50px;
    margin-left: 15px;
  }
  .btn-delete:hover{
    font-weight: bold;
  }
}         /* Конец media 1200-4000 */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .wrapper{
    width: 100%;
    margin: 0 auto;
    font-size: 0.95em;
  }
  .messages-box{
    min-height: 250px;
    max-height: 650px;
    overflow: auto;
    margin-left: 4px;
    margin-top: 15px;
  }
  .message{
    margin: 0 auto;
  }
  .message:hover{
    cursor: pointer;
    background-color: #f8f8f8;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .headline{
    margin-bottom: 2px;
    background-color: #DFDFDF;
  }
  .bline{
    width: 100%;
    border-color: #b7b7b7;
    margin-top: 2px;
  }
  .date{
    width: 17%;
  }
  .txt{
    font-size: 0.9em;
    margin: 10px auto;
    color: #0262d2;
    max-height: 10vh;
    width: 90%;
    overflow: auto;
  }
  .from{
    width: 15%;
  }
  .subject{
    width: 60%;

  }
  .boldletter {
    font-weight: bold;
  }
  .trash{
    position: absolute;
    width: 100%;
    margin-top: 25px;
    text-align: right;
  }
  .img-trash{
    margin-right: 2%;
  }
  .deleteCorrespondence{
    position: absolute;
    width: 600px;
    height: 50px;
    border: dotted 1px blue;
    background-color: #fff;
    line-height: 3.2;
    margin: 2px 25%;
    z-index: 9999;
  }
  .question {
    display: inline-block;
    margin-left: 20px;
  }
  .buttons{
    display: inline-block;
  }
  .btn-delete{
    width: 50px;
    margin-left: 15px;
  }
  .btn-delete:hover{
    font-weight: bold;
  }
}    /* Конец media 768-1199 */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
    font-size: 0.9em;
  }
  .top {
    height: 25px;
    font-size: 1.4em;
    margin: 0 0 10px 0;
    padding-left: 6px;
    line-height: 0.8;
    border-bottom: solid 1px #b7b7b7;
    padding-bottom: 0;
    border-top: 0;
  }
  .messages-box{
    margin: 1px;
    padding: 3px;
  }
  .message{
    margin: 0 auto;
    border: 1px solid rgb(68, 75, 84);
    margin-bottom: 10px;
  }
  .message:hover{
    cursor: pointer;
    background-color: #f8f8f8;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    position: relative;
    display: block;
    height: 18px;
    vertical-align: top;
    margin-top: 6px;
    overflow: hidden;
  }
  .headline{
    display: inline-block;
    width: 25%;
    vertical-align: top;
    color: #0262d2;
    text-align: left;
  }
  .bline{
    display: inline-block;
    width: 70%;
    vertical-align: top;
  }
  .date{
  }
  .txt{
    font-size: 0.9em;
    margin: 10px auto;
    color: #0262d2;
    max-height: 10vh;
    width: 90%;
    overflow: auto;
  }
  .from{
  }
  .subject{
    height: 38px;
    overflow: hidden;
  }
  .boldletter {
    font-weight: bold;
  }
  .trash{
    position: absolute;
    width: 100%;
    margin-top: 25px;
    text-align: right;
  }
  .img-trash{
    margin-right: 3%;
  }

  .deleteCorrespondence{
    position: absolute;
    width: 80%;
    height: 115px;
    border: dotted 1px blue;
    background-color: #fff;
    margin: -90px 5%;
    z-index: 9999;
  }
  .question {
    display: inline-block;
    margin-left: 20px;
    height: 50px;
  }
  .buttons{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 6px;
  }
  .btn-delete{
    display: inline-block;
    width: 50px;
    margin-left: 15px;
  }
  .btn-delete:hover{
    font-weight: bold;
  }
  .container{
    min-height: calc(100vh - 50px);
  }
}   /* Конец media 320-767 */

