@media screen and (min-width: 1200px) and (max-width: 4000px) {
  .messages-box{
    min-height: 250px;
    max-height: 650px;
    overflow: auto;
    margin-left: 4px;
    margin-top: 15px;
  }
  .message{
    margin: 0 auto;
  }
  .message:hover{
    cursor: pointer;
    background-color: #f8f8f8;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .headline{
    margin-bottom: 2px;
    background-color: #DFDFDF;
  }
  .bline{
    width: 95%;
    height: auto;
    border-color: #b7b7b7;
    margin-top: 2px;
  }
  .date{
    width:130px;
  }
  .txt{
    font-size: 0.9em;
    margin: 10px auto;
    color: #0262d2;
    max-height: 10vh;
    overflow: auto;
  }
  .from{
    width:210px;
  }
  .subject{
    width:700px;
  }
  .boldletter {
    font-weight: bold;
  }
  .trash{
    float: right;
    padding-top: 5px;
  }
  .deleteCorrespondence{
    position: absolute;
    width: 600px;
    height: 50px;
    border: dotted 1px blue;
    background-color: #fff;
    line-height: 3.2;
    margin: 10px 25%;
    z-index: 9999;
  }
  .question, .btn{
    margin-left: 20px;
  }
  .btn-delete{
    width: 50px;
    margin-left: 15px;
  }
  .btn-delete:hover{
    font-weight: bold;
  }
}         /* Конец media 1200-4000 */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .wrapper{
    width: 100%;
    margin: 0 auto;
    font-size: 0.95em;
  }
  .messages-box{
    min-height: 250px;
    max-height: 650px;
    overflow: auto;
    margin-left: 4px;
    margin-top: 15px;
  }
  .message{
    margin: 0 auto;
  }
  .message:hover{
    cursor: pointer;
    background-color: #f8f8f8;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .headline{
    margin-bottom: 2px;
    background-color: #DFDFDF;
  }
  .bline{
    width: 100%;
    border-color: #b7b7b7;
    margin-top: 2px;
  }
  .date{
    width: 17%;
  }
  .txt{
    font-size: 0.9em;
    margin: 10px auto;
    color: #0262d2;
    max-height: 10vh;
    overflow: auto;
  }
  .from{
    width: 15%;
  }
  .subject{
    width: 60%;
  }
  .boldletter {
    font-weight: bold;
  }
  .trash{
    float: right;
    padding-top: 5px;
  }
  .deleteCorrespondence{
    position: absolute;
    width: 600px;
    height: 50px;
    border: dotted 1px blue;
    background-color: #fff;
    line-height: 3.2;
    margin: 1.2% 0 1.2% 12%;
    z-index: 9999;
  }
  .question, .btn{
    margin-left: 20px;
  }
  .btn-delete{
    width: 50px;
    margin-left: 15px;
  }
  .btn-delete:hover{
    font-weight: bold;
  }
}    /* Конец media 768-1199 */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper{
    width: 100%;
    margin: 0 auto;
    font-size: 0.95em;
  }
  .top {
    height: 25px;
    font-size: 1.4em;
    margin: 0 0 10px 0;
    padding-left: 6px;
    line-height: 1;
    border-bottom: solid 1px #b7b7b7;
    padding-bottom: 0;
    border-top: 0;
    overflow: hidden;
  }
  .messages-box{
    font-size: 0.8em;
    min-height: 250px;
    max-height: 650px;
    overflow: auto;
    margin-top: 15px;
  }
  .message{
    margin: 0 auto;
  }
  .message:hover{
    cursor: pointer;
    background-color: #f8f8f8;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .headline{
    margin-bottom: 2px;
    background-color: #DFDFDF;
  }
  .bline{
    width: 100%;
    border-color: #b7b7b7;
    margin-top: 2px;
  }
  .date{
    width: 17%;
  }
  .txt{
    font-size: 0.9em;
    margin: 10px auto;
    color: #0262d2;
    max-height: 10vh;
    overflow: auto;
  }
  .from{
    width: 15%;
  }
  .subject{
    width: 60%;
  }
  .boldletter {
    font-weight: bold;
  }
  .trash{
    float: right;
    padding-top: 5px;
  }
  .deleteCorrespondence{
    position: absolute;
    width: 600px;
    height: 50px;
    border: dotted 1px blue;
    background-color: #fff;
    line-height: 3.2;
    margin: 10px 25%;
    z-index: 9999;
  }
  .question, .btn{
    margin-left: 20px;
  }
  .btn-delete{
    width: 50px;
    margin-left: 15px;
  }
  .btn-delete:hover{
    font-weight: bold;
  }
  .container{
    min-height: calc(100vh - 50px);
  }
}   /* Конец media 320-767 */

