<div class="wrapper">
  <div class="top">
    {{'message-container.messages' | translate}}
  </div>

  <div class="messages-box"title="Перейти к переписке.">
    <div class="message" id="message" *ngFor="let curLetter of myDataLetter; let i = index" (click)="curLetterClick(curLetter.id, curLetter.id_cv, curLetter.id_vc, $event)">

      <div [class.boldletter]="(curLetter.id_user_from !== this.id_user) && (curLetter.bOld === 0)">


        <div class="v-line"> </div>
        <ul class="headline">
          <li class="date">{{'allValue.date' | translate}}</li>
          <li class="from">От</li>
          <li class="subject">Тема</li>
          <li> </li>


        </ul>

        <ul class="bline">
          <li class="date">{{curLetter.DateTimeCreate  | date: 'dd-MM-yyyy HH:mm'}}</li>
          <li class="from">{{curLetter.UserNameFrom}}</li>
          <li class="subject">{{'allValue.responsevac' | translate}}: {{curLetter.VacancyShortTitle}} </li>

          <li *ngIf = "this.router.url=== '/message-center' || this.router.url=== '/messages'"><img class="trash" id="trash" src="/assets/img/trash.png" title="Удалить переписку" (click)="curDeleteClick(i, curLetter.id_cv, curLetter.id_vc, $event)"></li>
        </ul>

        <div class="alert alert-primary" id="frameDelete" *ngIf="contactMethods[i].bDelete === true">
          Вы желаете удалить данную беседу?
          <button type="button" class="btn btn-outline-danger" id="btnDelete" (click)="DeleteElement(curLetter,i)">Да</button>
          <button type="button" class="btn btn-outline-success" id="btnUnDelete" (click)="UnDeleteElement(curLetter,i)">Нет</button>

        </div>



        <div class="txt"> {{curLetter.letterText}} </div>

      </div>
    </div>
  </div>

</div>
