<div class="wrapper">
  <div class="top">
    {{'message-container.messages' | translate}}
  </div>

  <div class="messages-box" [title]="'messages-container.pkpMSC' | translate">
    <div class="message" id="message" *ngFor="let curLetter of myDataLetter; let i = index" (click)="curLetterClick(curLetter.id, curLetter.id_cv, curLetter.id_vc, $event)">

      <div [class.boldletter]="(curLetter.id_user_from !== this.id_user) && (curLetter.bOld === 0)">


        <div class="v-line"> </div>
        <ul class="headline">
          <li class="date">{{'allValue.date' | translate}}</li>
          <li class="from">{{'messages-container.fromMSC' | translate}}</li>
          <li class="subject">{{'messages-container.themeMSC' | translate}}</li>
          <li> </li>


        </ul>

        <div class="deleteCorrespondence" id="frameDelete" *ngIf="contactMethods[i].bDelete === true" [title]="'messages-container.vuMSC' | translate">
          <span class="question">{{'messages-container.vuchupMSC' | translate}}</span>

          <button type="button" class="btn" id="btnDelete" (click)="DeleteElement(curLetter,i)" [title]="'messages-container.yesMSC' | translate">{{'messages-container.yesMSC' | translate}}</button>
          <button type="button" class="btn" id="btnUnDelete" (click)="UnDeleteElement(curLetter,i)" [title]="'messages-container.noMSC' | translate">{{'messages-container.noMSC' | translate}}</button>

        </div>

        <ul class="bline">
          <li class="date">{{curLetter.DateTimeCreate  | date: 'dd-MM-yyyy HH:mm'}}</li>
          <li class="from">{{curLetter.UserNameFrom}}</li>
          <li class="subject">{{'allValue.responsevac' | translate}}: {{curLetter.VacancyShortTitle}} </li>
          <li *ngIf = "this.router.url=== '/message-center' || this.router.url=== '/messages'"><img class="trash" id="trash" src="/assets/img/trash.png" [title]="'messages-container.uppMSC' | translate" (click)="curDeleteClick(i, curLetter.id_cv, curLetter.id_vc, $event)"></li>
        </ul>

        <div class="txt"> {{curLetter.letterText}} </div>





      </div>
    </div>
  </div>

</div>
