<app-header-top></app-header-top>

<div class="wrapper">
  <div class="top">{{'allValue.newvc' | translate}}</div>
  <div class="box">

    <form [formGroup]="newVacancyForm">

      <label class="shortTitle">{{'allValue.namevc' | translate}}</label>
      <input type="text" class="inputVacancyShortTitle" maxlength="90" formControlName="inputVacancyShortTitle"
      id="inputVacancyShortTitle" [placeholder]="'new-vacancy.naimvc66' | translate">

      <div class="alert alert-danger"
           *ngIf="newVacancyForm.controls['inputVacancyShortTitle'].invalid && newVacancyForm.controls['inputVacancyShortTitle'].touched">
        {{'new-vacancy.kz90i66' | translate}}
      </div>

      <label class="vacancyDescription">{{'allValue.shortdescrvc' | translate }}</label>
      <textarea class="inputVacancyDescription" maxlength="3000" [title]="'new-vacancy.ov3000i66' | translate"
                formControlName="inputVacancyDescription" id="inputVacancyDescription" [placeholder]="'new-vacancy.ov3000i66' | translate"></textarea>

      <div class="alert alert-danger" *ngIf="newVacancyForm.controls['inputVacancyDescription'].invalid && newVacancyForm.controls['inputVacancyDescription'].touched">
        {{'new-vacancy.kz3000i66' | translate}}
      </div>

        <label class="jobFunction">{{'allValue.jobresponsibilities' | translate}}</label>
      <textarea class="inputjobFunction" maxlength="3000" [title]="'new-vacancy.do3000i66' | translate"
                formControlName="inputjobFunction" id="inputjobFunction" [placeholder]="'new-vacancy.do3000i66' | translate"></textarea>

      <div class="alert alert-danger" *ngIf="newVacancyForm.controls['inputjobFunction'].invalid && newVacancyForm.controls['inputjobFunction'].touched">
        {{'new-vacancy.kz3000i66' | translate}}
      </div>


      <label class="vacancyRequirements">{{'allValue.requirements' | translate}}</label>
      <textarea class="inputVacancyRequirements" maxlength="3000" [title]="'new-vacancy.t3000i66' | translate"
          formControlName="inputVacancyRequirements" id="inputVacancyRequirements" [placeholder]="'new-vacancy.t3000i66' | translate"></textarea>

      <div class="alert alert-danger" *ngIf="newVacancyForm.controls['inputVacancyRequirements'].invalid && newVacancyForm.controls['inputVacancyRequirements'].touched">
        {{'new-vacancy.kz3000i66' | translate}}
      </div>


      <label class="conditions">{{'allValue.if' | translate}}</label>
      <textarea class="vacancyConditions" maxlength="3000" [title]="'new-vacancy.u3000i66' | translate"
                formControlName="inputConditions" id="inputConditions" [placeholder]="'new-vacancy.u3000i66' | translate"></textarea>

      <div class="alert alert-danger" *ngIf="newVacancyForm.controls['inputConditions'].invalid && newVacancyForm.controls['inputConditions'].touched">
        {{'new-vacancy.kz3000i66' | translate}}
      </div>


      <label class="city">{{'allValue.сity' | translate}}</label>

      <select id="inputCity" formControlName="inputCity" class="inputCity" [title]="'allValue.сity' | translate">
        <option  *ngFor="let lc of listCity" [value]="lc.name">
          {{lc.name}}
        </option>
      </select>

      <label class="salary">{{'allValue.salary' | translate}}:</label>
      <input type="text" class="inputSalaryFrom" formControlName="inputSalaryFrom" id="inputSalaryFrom" [placeholder]="'new-vacancy.fromNV' | translate">
      <input type="text" class="inputSalary" formControlName="inputSalary" id="inputSalary" [placeholder]="'new-vacancy.toNV' | translate">

      <div class="alert alert-danger" *ngIf="newVacancyForm.controls['inputSalaryFrom'].invalid && newVacancyForm.controls['inputSalaryFrom'].touched">
        {{'new-vacancy.ozplfrom66' | translate}}
      </div>

      <div class="alert alert-danger" *ngIf="newVacancyForm.controls['inputSalary'].invalid && newVacancyForm.controls['inputSalary'].touched">
        {{'new-vacancy.ozplto66' | translate}}
      </div>

      <label class="displayPeriod" for="displayPeriod">{{'allValue.maturity' | translate}}</label>

      <select class="selectDisplayPeriod" formControlName="displayPeriod" id="displayPeriod">
        <option  *ngFor="let dpl of displayPeriodList" [value]="dpl.name">
          {{dpl.name}}
        </option>
      </select>



      <!-- Опыт работы -->
      <app-cv-experience></app-cv-experience>
      <!-- Образование -->
      <app-cv-education></app-cv-education>
      <!-- Занятость -->
      <app-cv-employment></app-cv-employment>
      <!-- график работы -->
      <app-cv-schedule></app-cv-schedule>
            <!-- Отрасль -->
      <app-cv_industry></app-cv_industry>

      <button class="btn-save" [disabled]="newVacancyForm.invalid" (click)="submit()">{{'allValue.save' | translate}}</button>
      <button class="btn-cancel" routerLink="/vacancies" routerLinkActive="active">{{'allValue.Cancel' | translate}}</button>
      <button class="btn-savePublish" [disabled]="newVacancyForm.invalid" (click)="publicVacancy()">{{'allValue.saveandpublish' | translate}}</button>



    </form>
  </div>
  <div class="attention">{{'allValue.publishVacancyText' | translate}}</div>

  <div class="link">
  <a routerLink="/vacancies" routerLinkActive="active">{{'header-top.nvHT' | translate}}</a>
  </div>

</div>
