<app-header-top></app-header-top>

<div class="wrapper">
  <div class="top">Новая вакансия</div>
  <div class="box">

    <form [formGroup]="newVacancyForm" novalidate (ngSubmit)="submit()">

      <label class="shortTitle">Наименование вакансии</label>
      <input type="text" class="inputVacancyShortTitle" maxlength="90" formControlName="inputVacancyShortTitle"
      id="inputVacancyShortTitle" placeholder="Наименование вакансии до 90 знаков.">

      <div class="alert alert-danger"
           *ngIf="newVacancyForm.controls['inputVacancyShortTitle'].invalid && newVacancyForm.controls['inputVacancyShortTitle'].touched">
        Количество знаков должно превышать 90.
      </div>

      <label class="vacancyDescription">Краткое описание вакансии</label>
      <textarea class="inputVacancyDescription" maxlength="3000" aria-label="Описание вакансии до 3000 знаков"
                formControlName="inputVacancyDescription" id="inputVacancyDescription" placeholder="Описание вакансии до 3000 знаков"></textarea>

      <div class="alert alert-danger" *ngIf="newVacancyForm.controls['inputVacancyDescription'].invalid && newVacancyForm.controls['inputVacancyDescription'].touched">
        Количество знаков не должно превышать 3000.
      </div>

        <label class="jobFunction">Должностные обязанности</label>
      <textarea class="inputjobFunction" maxlength="3000" aria-label="Должностные обязанности до 3000 знаков"
                formControlName="inputjobFunction" id="inputjobFunction" placeholder="Должностные обязанности до 3000 знаков"></textarea>

      <div class="alert alert-danger" *ngIf="newVacancyForm.controls['inputjobFunction'].invalid && newVacancyForm.controls['inputjobFunction'].touched">
        Количество знаков не должно превышать 3000.
      </div>


      <label class="vacancyRequirements">Требования</label>
      <textarea class="inputVacancyRequirements" maxlength="3000" aria-label="Требования до 3000 знаков"
          formControlName="inputVacancyRequirements" id="inputVacancyRequirements" placeholder="Требования до 3000 знаков"></textarea>

      <div class="alert alert-danger" *ngIf="newVacancyForm.controls['inputVacancyRequirements'].invalid && newVacancyForm.controls['inputVacancyRequirements'].touched">
        Количество знаков не должно превышать 3000.
      </div>


      <label class="conditions">Условия</label>
      <textarea class="vacancyConditions" maxlength="3000" aria-label="Условия до 3000 знаков"
                formControlName="inputConditions" id="inputConditions" placeholder="Условия до 3000 знаков"></textarea>

      <div class="alert alert-danger" *ngIf="newVacancyForm.controls['inputConditions'].invalid && newVacancyForm.controls['inputConditions'].touched">
        Количество знаков не должно превышать 3000.
      </div>


      <label class="city">Город</label>

      <select id="inputCity" formControlName="inputCity" class="inputCity" title="Город">
        <option  *ngFor="let lc of listCity" [value]="lc.name">
          {{lc.name}}
        </option>
      </select>

      <label class="salary">Заработная плата:</label>
      <input type="text" class="inputSalaryFrom" formControlName="inputSalaryFrom" id="inputSalaryFrom" placeholder="от">
      <input type="text" class="inputSalary" formControlName="inputSalary" id="inputSalary" placeholder="до">

      <div class="alert alert-danger" *ngIf="newVacancyForm.controls['inputSalaryFrom'].invalid && newVacancyForm.controls['inputSalaryFrom'].touched">
        Ошибка в "Заработная плата от"
      </div>

      <div class="alert alert-danger" *ngIf="newVacancyForm.controls['inputSalary'].invalid && newVacancyForm.controls['inputSalary'].touched">
        Ошибка в "Заработная плата до"
      </div>

      <label class="displayPeriod" for="displayPeriod">Срок размещения</label>

      <select class="selectDisplayPeriod" formControlName="displayPeriod" id="displayPeriod">
        <option  *ngFor="let dpl of displayPeriodList" [value]="dpl.name">
          {{dpl.name}}
        </option>
      </select>

      <!-- Отрасль -->
      <app-cv_industry></app-cv_industry>
      <!-- Занятость -->
      <app-cv-employment></app-cv-employment>
      <!-- график работы -->
      <app-cv-schedule></app-cv-schedule>
      <!-- Опыт работы -->
      <app-cv-experience></app-cv-experience>
      <!-- Образование -->
      <app-cv-education></app-cv-education>


      <button type="submit" class="btn-save" [disabled]="newVacancyForm.invalid">Сохранить</button>

    </form>
  </div>
</div>
