.box{
  position: relative;
  width: 100%;
  height: auto;
  margin: 30px auto;
}
label{
  display: block;
  font-size: 18px;
  color: #0262d2;
  width: 90%;
  margin: 20px 0;
}
input, textarea, select{
  display: block;
  text-align: left;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
}
.shortTitle{
  width: 90%;
}
.conditions{
  width: 72.4%;
}
.inputVacancyDescription{
  width: 848px;
  height: 190px;
}
.inputjobFunction{
  width: 848px;
  height: 190px;
}
.vacancyConditions{
  width: 72.4%;
  height: 190px;
}
.inputVacancyRequirements{
  width: 848px;
  height: 190px;
}
.city{
  width: 90%;
}
.salary{
  width: 848px;
}
.displayPeriod{
  width: 848px;
}
.inputVacancyShortTitle{
  width: 848px;
  height: 43px;
}
.Conditions{
  width: 848px;
  height: 243px;
}
.inputCity{
  text-align: center;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 288px;
  height: 43px;
}
.inputSalaryFrom{
  display: inline-block;
  width: 134px;
  height: 43px;
  text-align: center;
  margin-right: 12px;
}
.inputSalary{
  display: inline-block;
  width: 134px;
  height: 43px;
  text-align: center;
}
.selectDisplayPeriod{
  display: inline-block;
  width: 288px;
  height: 43px;
  text-align: center;
}
.btn-save{
  background-color: #0262d2;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  line-height: 2.25;
  width: 218px;
  height: 48px;
  margin-top:20px;
  margin-left: 15px;
}
.btn-save:hover{
  background-color: #0066cc;
}
.btn-save:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  font-weight: bold;
}
.btn-save:disabled{
  color: white;
  background-color: rgb( 145, 175, 209 );
}
