<div class="container">
<app-header-top></app-header-top>

  <div class="wrapper">
    <div class="top">Настройка рассылки</div>

    <div class="box">
      <p>Если Вы хотите получать рассылку о новых объявлениях, внесите ключевые слова, по которым мы сможем найти их для Вас.</p>
    <form [formGroup]="formSendMail">



<input [checked]="bChecked" formControlName="inputCheckBox" (click) = "OnCheckInput()" type="checkbox" name="checkInput" id="checkInput"  >

  <label for="checkInput">Осуществлять рассылку</label>


    <input class="words" type="text" id="inputWords" formControlName="inputWords" maxlength="250" placeholder="Ключевые слова через запятую">



    <button type="button" class="btn-save" (click)="SaveWords()">Сохранить</button>

</form>

    </div>
  </div>
</div>


