<app-header-top></app-header-top>

<form [formGroup]="formSendMail">


  <p>
  <li><input [checked]="bChecked" formControlName="inputCheckBox" (click) = "OnCheckInput()" type="checkbox" name="checkInput" id="checkInput"  ><label for="checkInput">Осуществлять рассылку</label></li>
  </p>

  <p>
    <label>Слова для поиска через запятую</label>
  </p>

  <p>
    <input type="text" id="inputWords" formControlName="inputWords" maxlength="250" placeholder="Слова для поиска через запятую">
  </p>

  <p>
    <button type="button" class="btn-delete-acc" (click)="SaveWords()">Сохранить</button>
  </p>

</form>
