<div class="container">
<app-header-top></app-header-top>

  <div class="wrapper">
    <div class="top">{{'forgot-password.vpFP' | translate}}</div>

    <div class="box">
    <form [formGroup]="formSendMail">



<input [checked]="bChecked" formControlName="inputCheckBox" (click) = "OnCheckInput()" type="checkbox" name="checkInput" id="checkInput"  >

  <label for="checkInput">Осуществлять рассылку</label>


    <input class="forgot-pass" type="text" id="inputWords" formControlName="inputWords" maxlength="250" placeholder="Слова для поиска через запятую">



    <button type="button" class="btn-delete-acc" (click)="SaveWords()">Сохранить</button>

</form>

    </div>
  </div>
</div>


