<app-header-top></app-header-top>

<h1>Регистрация</h1>

<fieldset class="form-group">
  <div class="row">
    <label class="col-sm-10">Выберите один из вариантов регистрации.</label>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <div class="form-check">
        <input  class="form-check-input" [(ngModel)]="checkRegisterRadio" (change)="newFunction()" type="radio" name="registerRadios" id="employeeRadios">
        <label class="form-check-label" for="employeeRadios">
          Соискатель
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" [(ngModel)]="checkRegisterRadio" (change)="newFunction()" type="radio" name="registerRadios" id="employerRadios">
        <label class="form-check-label" for="employerRadios">
          Работодатель
        </label>
      </div>
    </div>
  </div>
</fieldset>

<!--
<input [(ngModel)]="checkboxValue" (change)="newFunction()" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked> -->
