.box{
  position: relative;
  width: 100%;
  height: auto;
  margin: 30px auto;
}
label{
  display: block;
  font-size: 18px;
  color: #0262d2;
  width: 90%;
  margin: 20px 0;
}
input, textarea, select{
  display: block;
  text-align: left;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
}
.shortTitle{
   width: 90%;
}
.vacancyDescription{
  width: 90%;
}
.inputjobFunction{
  width: 828px;
  height: 190px;
}
.vacancyConditions{
  width: 828px;
}
.inputVacancyConditions{
  width: 828px;
  height: 190px;
}
.city{
  width: 90%;
}
.salary{
  width: 828px;
}
.displayPeriod{
  width: 828px;
}
.inputVacancyShortTitle{
  width: 828px;
  height: 43px;

}
.inputVacancyRequirements{
  display: block;
  width: 828px;
  height: 190px;

}
.inputVacancyDescription{
  display: block;
  width: 828px;
  height: 190px;
}
.inputVacancyBigDescription{
  display: block;
  width: 828px;
  height: 190px;
}
.inputCity{
  display: block;
  text-align: center;
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 288px;
  height: 43px;
}
.inputSalaryFrom{
  display: inline-block;
  width: 134px;
  height: 43px;
  text-align: center;
}
.inputSalary{
  display: inline-block;
  width: 134px;
  height: 43px;
  margin-left: 10px;
  text-align: center;
}
.selectDisplayPeriod{
  display: inline-block;
  width: 288px;
  height: 43px;
  text-align: center;
}
.btn-save{
  background-color: #0262d2;
  color: rgb(255, 255, 255);
  border-color: #054086;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  width: 218px;
  height: 48px;
  margin-top:50px;
  margin-left: 15px;
}
.btn-save:hover{
  background-color: #0066cc;
  font-weight: bold;
}
.btn-save:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  font-weight: bold;
}
.btn-save:disabled{
  color: white;
  background-color: rgb( 145, 175, 209 );
}
.btn-cancel{
  font-family: "Proxima Nova","sans-serif";
  width:228px;
  height: 48px;
  color: rgb(68, 75, 84);
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-color: rgb(68, 75, 84);
  border-style: solid;
  border-radius: 3px;
  line-height: 2;
  text-align: center;
  margin-top: 50px;
  margin-left: 2px;
}
.btn-cancel:hover{
  background-color: rgb(240, 240, 240);
  font-weight: 600;
}
.btn-cancel:active{
  border-color: #3399ff;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
}
