<app-header-top></app-header-top>

<div class="wrapper">
  <div class="top">Редактирование вакансии</div>
  <div class="box">

    <form [formGroup]="editVacancyForm" novalidate (ngSubmit)="submit()">

      <label class="shortTitle">{{'allValue.namevc' | translate}}</label>
      <input type="text" class="inputVacancyShortTitle" formControlName="inputVacancyShortTitle" id="inputVacancyShortTitle" placeholder="Наименование вакансии до 90 знаков.">
      <div class="alert alert-danger" *ngIf="editVacancyForm.controls['inputVacancyShortTitle'].invalid && editVacancyForm.controls['inputVacancyShortTitle'].touched">
        Ошибка в наименовании вакансии
      </div>


      <label class="vacancyDescription">{{'allValue.shortdescrvc' | translate}}</label>
      <textarea class="inputVacancyDescription" aria-label="Описание вакансии до 4000 знаков" formControlName="inputVacancyDescription" id="inputVacancyDescription" placeholder="Описание вакансии до 4000 знаков"></textarea>

      <div class="alert alert-danger" *ngIf="editVacancyForm.controls['inputVacancyDescription'].invalid && editVacancyForm.controls['inputVacancyDescription'].touched">
        Ошибка в описании вакансии
      </div>


      <!-- Нет обработчика -->
      <label class="jobFunction">{{'allValue.jobresponsibilities' | translate}}</label>
      <textarea class="inputjobFunction" maxlength="3000" aria-label="Должностные обязанности до 3000 знаков"
                formControlName="inputjobFunction" id="inputjobFunction" placeholder="Должностные обязанности до 3000 знаков"></textarea>

      <div class="alert alert-danger" *ngIf="editVacancyForm.controls['inputjobFunction'].invalid && editVacancyForm.controls['inputjobFunction'].touched">
        Количество знаков не должно превышать 3000.
      </div>

      <!-- Нет обработчика -->
      <label class="vacancyRequirements">{{'allValue.requirements' | translate}}</label>
      <textarea class="inputVacancyRequirements" maxlength="3000" aria-label="Требования до 3000 знаков"
                formControlName="inputVacancyRequirements" id="inputVacancyRequirements" placeholder="Требования до 3000 знаков"></textarea>

      <div class="alert alert-danger" *ngIf="editVacancyForm.controls['inputVacancyRequirements'].invalid && editVacancyForm.controls['inputVacancyRequirements'].touched">
        Количество знаков не должно превышать 3000.
      </div>


      <label class="vacancyConditions">{{'allValue.if' | translate}}</label>
      <textarea class="inputVacancyConditions" maxlength="3000" aria-label="Условия до 3000 знаков"
                formControlName="inputConditions" id="inputConditions" placeholder="Условия до 3000 знаков"></textarea>

      <div class="alert alert-danger" *ngIf="editVacancyForm.controls['inputConditions'].invalid && editVacancyForm.controls['inputConditions'].touched">
        Количество знаков не должно превышать 3000.
      </div>



      <label class="city">{{'allValue.сity' | translate}}</label>
      <select id="inputCity" formControlName="inputCity" class="inputCity" title="Локация вакансии">
        <option  *ngFor="let lc of listCity" [value]="lc.name">
          {{lc.name}}
        </option>
      </select>


      <label class="salary">Заработная плата:</label>

      <input type="text" class="inputSalaryFrom" formControlName="inputSalaryFrom" id="inputSalaryFrom" placeholder="от">
      <input type="text" class="inputSalary" formControlName="inputSalary" id="inputSalary" placeholder="до)">

      <div class="alert alert-danger" *ngIf="editVacancyForm.controls['inputSalaryFrom'].invalid && editVacancyForm.controls['inputSalaryFrom'].touched">
        Ошибка в "Заработная плата от"
      </div>

      <div class="alert alert-danger" *ngIf="editVacancyForm.controls['inputSalary'].invalid && editVacancyForm.controls['inputSalary'].touched">
        Ошибка в "Заработная плата до"
      </div>

      <label class="displayPeriod" for="displayPeriod">{{'allValue.maturity' | translate}}</label>

      <select class="selectDisplayPeriod" formControlName="displayPeriod" id="displayPeriod">
        <option  *ngFor="let dpl of displayPeriodList" [value]="dpl.name">
          {{dpl.name}}
        </option>
      </select>


      <!-- Занятость -->
      <app-cv-employment></app-cv-employment>
      <!-- график работы -->
      <app-cv-schedule></app-cv-schedule>
      <!-- Опыт работы -->
      <app-cv-experience></app-cv-experience>
      <!-- Образование -->
      <app-cv-education></app-cv-education>
      <!-- Отрасль -->
      <app-cv_industry></app-cv_industry>

      <div>
        <div class="buttons">
          <button type="submit" class="btn-save" [disabled]="editVacancyForm.invalid">{{'allValue.save' | translate}}</button>
          <button class="btn-cancel" routerLink="/vacancies" routerLinkActive="active">{{'allValue.Cancel' | translate}}</button>
        </div>
      </div>


    </form>
  </div>
</div>
