<app-header-top></app-header-top>

<div class="wrapper">
  <div class="top">{{'vacancy-edit.editvcVE' | translate}}</div>
  <div class="box">

    <form [formGroup]="editVacancyForm" novalidate (ngSubmit)="submit()">

      <label class="shortTitle">{{'allValue.namevc' | translate}}</label>
      <input type="text" class="inputVacancyShortTitle" formControlName="inputVacancyShortTitle" id="inputVacancyShortTitle" [placeholder]="'vacancy-edit.namevcVE' | translate">
      <div class="alert alert-danger" *ngIf="editVacancyForm.controls['inputVacancyShortTitle'].invalid && editVacancyForm.controls['inputVacancyShortTitle'].touched">
        {{'vacancy-edit.errvcVE' | translate}}
      </div>


      <label class="vacancyDescription">{{'allValue.shortdescrvc' | translate}}</label>
      <textarea class="inputVacancyDescription" [title]="'vacancy-edit.descrvcVE' | translate" formControlName="inputVacancyDescription" id="inputVacancyDescription" [placeholder]="'vacancy-edit.descrvcVE' | translate"></textarea>

      <div class="alert alert-danger" *ngIf="editVacancyForm.controls['inputVacancyDescription'].invalid && editVacancyForm.controls['inputVacancyDescription'].touched">
        {{'vacancy-edit.errdescrVE' | translate}}
      </div>


      <!-- Нет обработчика -->
      <label class="jobFunction">{{'allValue.jobresponsibilities' | translate}}</label>
      <textarea class="inputjobFunction" maxlength="3000" [title]="'vacancy-edit.do3000VE' | translate"
                formControlName="inputjobFunction" id="inputjobFunction" [placeholder]="'vacancy-edit.do3000VE' | translate"></textarea>

      <div class="alert alert-danger" *ngIf="editVacancyForm.controls['inputjobFunction'].invalid && editVacancyForm.controls['inputjobFunction'].touched">
        {{'vacancy-edit.kz3000VE' | translate}}
      </div>

      <!-- Нет обработчика -->
      <label class="vacancyRequirements">{{'allValue.requirements' | translate}}</label>
      <textarea class="inputVacancyRequirements" maxlength="3000" [title]="'vacancy-edit.t3000VE' | translate"
                formControlName="inputVacancyRequirements" id="inputVacancyRequirements" [placeholder]="'vacancy-edit.t3000VE' | translate"></textarea>

      <div class="alert alert-danger" *ngIf="editVacancyForm.controls['inputVacancyRequirements'].invalid && editVacancyForm.controls['inputVacancyRequirements'].touched">
        {{'vacancy-edit.kz3000VE' | translate}}
      </div>


      <label class="vacancyConditions">{{'allValue.if' | translate}}</label>
      <textarea class="inputVacancyConditions" maxlength="3000" [title]="'vacancy-edit.u3000VE' | translate"
                formControlName="inputConditions" id="inputConditions" [placeholder]="'vacancy-edit.u3000VE' | translate"></textarea>

      <div class="alert alert-danger" *ngIf="editVacancyForm.controls['inputConditions'].invalid && editVacancyForm.controls['inputConditions'].touched">
        {{'vacancy-edit.kz3000VE' | translate}}
      </div>



      <label class="city">{{'allValue.сity' | translate}}</label>
      <select id="inputCity" formControlName="inputCity" class="inputCity" [title]="'vacancy-edit.lvVE' | translate">
        <option  *ngFor="let lc of listCity" [value]="lc.name">
          {{lc.name}}
        </option>
      </select>


      <label class="salary">{{'vacancy-edit.zpVE' | translate}}</label>

      <input type="text" class="inputSalaryFrom" formControlName="inputSalaryFrom" id="inputSalaryFrom" placeholder="от">
      <input type="text" class="inputSalary" formControlName="inputSalary" id="inputSalary" placeholder="до)">

      <div class="alert alert-danger" *ngIf="editVacancyForm.controls['inputSalaryFrom'].invalid && editVacancyForm.controls['inputSalaryFrom'].touched">
        {{'vacancy-edit.errFromVE' | translate}}
      </div>

      <div class="alert alert-danger" *ngIf="editVacancyForm.controls['inputSalary'].invalid && editVacancyForm.controls['inputSalary'].touched">
        {{'vacancy-edit.errToVE' | translate}}
      </div>

      <label class="displayPeriod" for="displayPeriod">{{'allValue.maturity' | translate}}</label>

      <select class="selectDisplayPeriod" formControlName="displayPeriod" id="displayPeriod">
        <option  *ngFor="let dpl of displayPeriodList" [value]="dpl.name">
          {{dpl.name}}
        </option>
      </select>


      <!-- Занятость Teadete  kohandamine-->
      <app-cv-employment></app-cv-employment>
      <!-- график работы -->
      <app-cv-schedule></app-cv-schedule>
      <!-- Опыт работы -->
      <app-cv-experience></app-cv-experience>
      <!-- Образование -->
      <app-cv-education></app-cv-education>
      <!-- Отрасль -->
      <app-cv_industry></app-cv_industry>

      <div>
        <div class="buttons">
          <button type="submit" class="btn-save" [disabled]="editVacancyForm.invalid">{{'allValue.save' | translate}}</button>
          <button class="btn-cancel" routerLink="/vacancies" routerLinkActive="active">{{'allValue.Cancel' | translate}}</button>
        </div>
      </div>


    </form>
  </div>
</div>
