<div class="wrapper">

<form [formGroup]="formLanguage">
<div class="line">
  <label>Язык</label>

  <label class="labelInputLevelLanguage">Уровень владения</label>

</div>

    <div class="line">

      <select id="inputLanguage" formControlName="inputLanguage" class="inputLanguage" title="Язык">
        <option  *ngFor="let LL of listLanguage" [value]="LL.name">
          {{LL.name}}
        </option>
      </select>

      <select id="inputLevelLanguage" formControlName="inputLevelLanguage" class="inputLevelLanguage" title="Уровень владения">
        <option  *ngFor="let LLL of listLevelLanguage" [value]="LLL.name">
        {{LLL.name}}
        </option>
      </select>

      <button class="btn-delete" (click)="deleteLanguage()">Удалить данные о языке</button>

    </div>
</form>
</div>
